@using BetterCms.Module.Blog.Content.Resources
@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Blog.ViewModels.Blog
@using BetterCms.Module.Blog.ViewModels.Filter

@model BlogsGridViewModel<SiteSettingBlogPostViewModel>
<div id="bcms-filter-template">
    <div class="bcms-grid-filtering" data-bind="css: { 'bcms-active-filter': isVisible() }">
        <div class="bcms-filterbox" data-bind="click: toggleFilter">
            @BlogGlobalization.SiteSettings_Blogs_Filter
            <div class="bcms-filter-modified" data-bind="style: { display: isEdited() ? 'inline-block' : 'none' }">@BlogGlobalization.SiteSettings_Blogs_FilterIsModified</div>
        </div>
    </div>
    <div class="bcms-tags-block" style="display: none;" data-bind="visible: isVisible()">
        <div class="bcms-featured-tags">
            <div class="bcms-clearfix">

                <div class="bcms-filter-options" data-bind="with: tags">
                    <div class="bcms-filter-text">@BlogGlobalization.SiteSettings_Blogs_FilterByTags</div>
                    <div class="bcms-filter-field-holder">
                        <input type="text" class="bcms-add-tags-field" data-bind="
    css: { 'bcms-tag-validation-error': newItem.hasError() },
    value: newItem,
    valueUpdate: 'afterkeydown',
    escPress: clearItem,
    autocompleteList: 'onlyExisting'" />
                        <!-- ko if: newItem.hasError()  -->
                        <span class="bcms-tag-field-validation-error">
                            <span data-bind="text: newItem.validationMessage()"></span>
                        </span>
                        <!-- /ko -->
                    </div>
                </div>
                
                <div class="bcms-filter-options" data-bind="with: categories">
                    <div class="bcms-filter-text">@BlogGlobalization.SiteSettings_Blogs_FilterByCategory</div>

                    <div class="bcms-filter-field-holder">
                        <input type="text" class="bcms-add-tags-field" data-bind="
                            css: { 'bcms-tag-validation-error': newItem.hasError() },
                            value: newItem,
                            valueUpdate: 'afterkeydown',
                            escPress: clearItem,
                            autocompleteList: 'onlyExisting'" />
                        <!-- ko if: newItem.hasError()  -->
                        <span class="bcms-tag-field-validation-error">
                            <span data-bind="text: newItem.validationMessage()"></span>
                        </span>
                        <!-- /ko -->
                    </div>
                </div>
                
                <div class="bcms-filter-options">
                    <div class="bcms-filter-text">@BlogGlobalization.SiteSettings_Blogs_FilterByStatus</div>
                    @Html.DropDownListFor(m => m.Status, new List<SelectListItem>(), new
                                                                      {
                                                                          data_bind = "options: statuses, value: status, optionsText: 'Value', optionsValue: 'Key'",
                                                                          @class = "bcms-global-select"
                                                                      })
                </div>

                <div class="bcms-filter-options">
                    <div class="bcms-filter-text">@BlogGlobalization.SiteSettings_Blogs_FilterBySEO</div>
                    @Html.DropDownListFor(m => m.SeoStatus, new List<SelectListItem>(), new
                                                                                            {
                                                                                                data_bind = "options: seoStatuses, value: seoStatus, optionsText: 'Value', optionsValue: 'Key'",
                                                                                                @class = "bcms-global-select"
                                                                                            })
                </div>

                @if (Model.Languages != null && Model.Languages.Any())
                {
                    <div class="bcms-filter-options">
                        <div class="bcms-filter-text">@BlogGlobalization.SiteSettings_Blogs_FilterByLanguage</div>
                        <select class="bcms-global-select" name="LanguageId" data-bind="options: languages, value: languageId, optionsText: 'Value', optionsValue: 'Key'" />
                    </div>
                }

            </div>

            <div class="bcms-single-tag-holder" data-bind="foreach: tags.items()">
                <div class="bcms-single-tag" data-bind="css: { 'bcms-single-tag-active': isActive() }">
                    <span data-bind="text: name()"></span><a data-bind="    click: remove">@RootGlobalization.Button_Remove</a>
                </div>
                <input type="hidden" data-bind="attr: { name: getItemInputName($index()) + '.Key', value: id() }" />
                <input type="hidden" data-bind="attr: { name: getItemInputName($index()) + '.Value', value: name() }" />
            </div>
            
            <div class="bcms-single-tag-holder" data-bind="foreach: categories.items()">
                <div class="bcms-single-tag" data-bind="css: { 'bcms-single-tag-active': isActive() }">
                    <span data-bind="text: name()"></span><a data-bind="    click: remove">@RootGlobalization.Button_Remove</a>
                </div>
                <input type="hidden" data-bind="attr: { name: 'Categories[' + $index() + '].Key', value: id() }" />
                <input type="hidden" data-bind="attr: { name: 'Categories[' + $index() + '].Value', value: name() }" />
            </div>

        </div>

        <div class="bcms-clearfix">
            <div class="bcms-check-field-holder">
                @Html.CheckBoxFor(model => model.IncludeArchived, new { data_bind = "checked: includeArchived" })
                <span class="bcms-pointer" data-bind="click: changeIncludeArchived">@BlogGlobalization.SiteSettings_Blogs_FilterIncludeArchived</span>
            </div>
            <div class="bcms-btn-field-holder">
                <div class="bcms-btn-links-small" data-bind="click: clearFilter">@BlogGlobalization.SiteSettings_Blogs_FilterClear</div>
                <div class="bcms-btn-small" data-bind="click: searchWithFilter">@BlogGlobalization.SiteSettings_Blogs_FilterSearch</div>
            </div>
        </div>
    </div>
</div>
