@model IList<BetterCms.Module.Installation.Models.Blog.CategoryItem>

    @{
        var categoryId = Request.Params["categoryId"] ?? null;
    }

    <div class="submenu">
        <a href="@Request.Path" class="@(categoryId == null ? "submenu-active": null)">All</a>
        @foreach (var category in Model)
        {
            var active = categoryId != null && categoryId.ToUpper() == category.Id.ToString("D").ToUpper();
            <a href="@Request.Path?categoryId=@category.Id" class="@(active ? "submenu-active": null)">@category.Name</a>
        }
    </div>