@model IList<BetterCms.Module.Installation.Models.Blog.CategoryItem>

    @{
        var blogCategory = Request.Params["blogCategory"] ?? null;
    }

    <div class="submenu">
        <a href="@Request.Path" class="@(blogCategory == null ? "submenu-active" : null)">All</a>
        @foreach (var category in Model)
        {
            var active = blogCategory != null && blogCategory.ToUpper() == category.Name.ToUpper();
            <a href="@Request.Path?blogCategory=@category.Name" class="@(active ? "submenu-active": null)">@category.Name</a>
        }
    </div>