@using BetterCms.Module.Root.Mvc.Helpers
@using BetterCms.Module.Installation
@model BetterCms.Core.DataContracts.IPage
@{
    Layout = "~/Areas/bcms-Root/Views/Shared/BaseLayout.cshtml";
}

@section Styles {    
    @RenderSection("Styles", false)
    @(Html.RenderStyleSheets<InstallationModuleDescriptor>())
}

@section HeadScripts {
    @RenderSection("HeadScripts", false)
}

<div class="page">

    <header class="page-header">
        <div class="page-frame clearfix">
            <div>
                @RenderSection("CMSHeader", false)
            </div>
        </div>
    </header>

    <div class="page-block">
        <div class="page-frame clearfix">
            @RenderSection("CMSMainContent", false)
            @RenderBody()
        </div>
    </div>

</div>

<footer class="page-footer">
    <div class="page-frame clearfix">
        @RenderSection("CMSFooter", false)
    </div>
</footer>
