@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Users.Content.Resources

@model BetterCms.Module.Users.ViewModels.User.EditUserProfileViewModel
           
<div class="bcms-create-author-holder">
    <div class="bcms-tooltip-mark" data-message="@UsersGlobalization.EditUser_UserImage_Tooltip_Description"></div>
    <div class="bcms-content-titles">@UsersGlobalization.EditUser_Image_Title</div>
    <div class="bcms-uploaded-image">
        <!-- ko if: image().url() -->
        <a class="bcms-remove-image" data-bind="click: image().remove.bind(image())">@RootGlobalization.Button_Remove</a>
        <a data-bind="click: image().preview.bind(image())">
            <img data-bind="attr: { src: image().thumbnailUrl(), alt: image().tooltip() }" />
        </a>
        <!-- /ko -->
    </div>
    <div class="bcms-upload-info">
        <div class="bcms-upload-info-text">@UsersGlobalization.EditUser_UploadImage_Info</div>
        <div class="bcms-btn-small" data-bind="click: image().select.bind(image())">@UsersGlobalization.EditUser_UploadImage_Button_Title</div>
    </div>
</div>