@{
    Layout = "~/Areas/bcms-Root/Views/Shared/BaseLayout.cshtml";
}

@RenderBody()

<h1>Two columns, header and footer</h1>

<div style="border: 1px solid grey; width: 100%;">
    <h2>Header Section</h2>
    @RenderSection("CMSHeader", false)
</div>

<div style="border: 1px solid grey; width: 49%; float: left;">
    <h2>Left Column Section</h2>
    @RenderSection("CMSLeftColumn", false)
</div>

<div style="border: 1px solid grey; width: 50%; float: right;">
    <h2>Right Column Section</h2>
    @RenderSection("CMSRightColumn", false)
</div>

<div style="border: 1px solid grey; width: 100%;">
    <h2>Footer Section</h2>
    @RenderSection("CMSFooter", false)
</div>