@using BetterCms.Module.Blog.Helpers.Extensions
@using BetterCms.Module.Pages.Helpers.Extensions
@using BetterCms.Module.Root.Mvc.Helpers
@using BetterCms.Module.Installation

@model BetterCms.Module.Root.ViewModels.Cms.RenderPageViewModel

@{
    Layout = "~/Areas/bcms-Root/Views/Shared/BaseLayout.cshtml";
}

@section Styles {    
    @RenderSection("Styles", false)
    @(Html.RenderStyleSheets<InstallationModuleDescriptor>())
}

@section HeadScripts {
    @RenderSection("HeadScripts", false)
}

<div class="page">

    <header class="page-header">
        <div class="page-frame bcms-clearfix">
        </div>
    </header>

    <div class="page-block">
        <div class="page-frame bcms-clearfix">
            <div>
                <strong>[Obsolete] Page image: </strong> @Model.GetPageImage()<br />
                <strong>[Obsolete] Page featured image: </strong> @Model.GetPageFeaturedImage()<br />
                <strong>[Obsolete] Page secondary image: </strong> @Model.GetPageSecondaryImage()<br />
                <strong>[Obsolete] Page tags: </strong> @Model.GetPageTags()<br />
                <strong>PageViewModel: </strong> @Model.GetPageModel()<br />
                <strong>MainImageViewModel: </strong> @Model.GetPageMainImageModel()<br />
                <strong>FeaturedImageViewModel: </strong> @Model.GetPageSecondaryImageModel()<br />
                <strong>SecondaryImageViewModel: </strong> @Model.GetPageFeaturedImageModel()<br />
                <strong>CategoryViewModel: </strong> @Model.GetPageCategoryModel()<br />
                <strong>Tags: </strong> @Model.GetPageTagsList()<br />
                
                <strong>[Obsolete] Blog author name: </strong> @Model.GetBlogPostAuthorName()<br />
                <strong>[Obsolete] Blog live from date: </strong> @Model.GetBlogPostLiveFromDate()<br />
                <strong>[Obsolete] Blog live to date: </strong> @Model.GetBlogPostLiveToDate()<br />
                <strong>IsBlogPost: </strong> @Model.IsBlogPost()<br />
                <strong>IsBlogPostActive: </strong> @Model.IsBlogPostActive()<br />
                <strong>BlogPostViewModel: </strong> @Model.GetBlogPostModel()<br />
                <strong>BlogPostAuthorViewModel: </strong> @Model.GetBlogPostAuthorModel()<br />
            </div>
            @RenderSection("CMSMainContent", false)
            @RenderBody()
        </div>
    </div>

</div>

<footer class="page-footer">
    <div class="page-frame bcms-clearfix">
        @RenderSection("CMSFooter", false)
    </div>
</footer>
