@using BetterCms.Module.Root.Mvc.Helpers
@using BetterCms.Module.Installation

@model BetterCms.Module.Root.ViewModels.Cms.RenderPageViewModel

@{
    Layout = "~/Areas/bcms-Root/Views/Shared/BaseLayout.cshtml";
}

@section Styles {    
    @RenderSection("Styles", false)
    @(Html.RenderStyleSheets<InstallationModuleDescriptor>())
}

@section HeadScripts {
    @RenderSection("HeadScripts", false)
}

<div class="page">

    <header class="page-header">
        <div class="page-frame bcms-clearfix">
            <div>
                @{
                if (Model != null && Model.Options != null)
                {
                    foreach (var option in Model.Options)
                    {
                        <strong>Option "@option.Key" Type:</strong> @(option.Value != null ? option.Value.GetType().ToString() : string.Empty)
                        <strong>; Value: </strong>
                                                @option.Value
                        <br />
                    }
                }
            }
            </div>
        </div>
    </header>

    <div class="page-block">
        <div class="page-frame bcms-clearfix">
            @RenderSection("CMSMainContent", false)
            @RenderBody()
        </div>
    </div>

</div>

<footer class="page-footer">
    <div class="page-frame bcms-clearfix">
        @RenderSection("CMSFooter", false)
    </div>
</footer>
