@using BetterCms.Module.Blog.Helpers.Extensions
@using BetterCms.Module.Root.Mvc.Helpers
@using BetterCms.Module.Pages.Helpers.Extensions
@model BetterCms.Module.Root.ViewModels.Cms.RenderPageViewModel

@{
    Layout = "~/Areas/bcms-root/Views/Shared/BaseLayout.cshtml";
}
@section DoctypeTag
{
    <!DOCTYPE html>
}

@section HtmlTag
{
<!--[if lte IE 7]><html class="ie7"><![endif]-->  
<!--[if IE 8]><html class="ie8"><![endif]-->  
<!--[if IE 9]><html class="ie9"><![endif]-->  
<!--[if !IE]><!--><html><!--<![endif]-->  
}

@section BodyAttributes
{
    hello=3
}
@* NOTE: Obsolete. Left for compatibility reasons. *@

@section Styles {    
    @RenderSection("Styles", false)
}

<div class="page">

    <header class="page-header">
        <div class="page-frame bcms-clearfix">
            @RenderSection("CMSHeader", false)
        </div>
    </header>
    
    @{
        var image = Model.GetPageImage();
        if (image != null)
        {
            <p><b>Image:</b></p>
            <p><img src="@image.PublicUrl" alt="@image.Title"/></p>
        }
        
        var tags = Model.GetPageTags();
        if (tags != null && tags.Count > 0)
        {
            <p><b>Tags:</b></p>
            <ul>
                @foreach (var pageTag in tags)
                {
                    <li>@pageTag.Tag.Name</li>
                }
            </ul>
        }

        var category = Model.GetPageCategory();
        if (category != null)
        {
            <p><b>Category:</b> @category.Name</p>
        }

        var liveFrom = Model.GetBlogPostLiveFromDate();
        var liveTo = Model.GetBlogPostLiveToDate();
        <p><b>Live From:</b> @(liveFrom.HasValue ? liveFrom.ToString() : "(none)")</p>
        <p><b>Live To:</b> @(liveTo.HasValue ? liveTo.ToString() : "(none)")</p>
        
        foreach (var option in Model.Options)
        {
            <p>
                <strong>Option "@option.Key" Type:</strong> @(option.Value != null ? option.Value.GetType().ToString() : string.Empty)
                <strong>Value</strong>: @option.Value
            </p>
        }
    }

    <div class="page-block">
        <div class="page-frame bcms-clearfix">

            <section class="three-col-left">
                @RenderSection("CMSMainContent", false)
                @RenderBody()
            </section>

            <section class="three-col-middle">
                @RenderSection("CMSLeftSide", false)
            </section>

            <aside class="col-right">
                @RenderSection("CMSRightSide", false)
            </aside>

        </div>
    </div>

</div>

<footer class="page-footer">
    <div class="page-frame bcms-clearfix">
        @RenderSection("CMSFooter", false)
    </div>
</footer>

@section Scripts{
   <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
   <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>
   <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
   <script type="text/javascript" src="/Scripts/knockout-2.2.1.debug.js"></script>
   <script type="text/javascript" src="/Scripts/knockout.validation.debug.js"></script>
}
