@using BetterCms.Module.MediaManager.Content.Resources
@using BetterCms.Module.MediaManager.Controllers
@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Root.Mvc.Helpers
@using Microsoft.Web.Mvc

@model BetterCms.Module.MediaManager.ViewModels.MediaManager.MediaManagerViewModel

<div class="bcms-innertab-header">
    <a class="bcms-tab bcms-tab-active" href="#bcms-tab-1" id="bcms-tab-images">Images</a>
    <a class="bcms-tab" href="#bcms-tab-2" id="bcms-tab-videos">Videos</a>
    <a class="bcms-tab" href="#bcms-tab-3" id="bcms-tab-audios">Audios</a>
    <a class="bcms-tab" href="#bcms-tab-4" id="bcms-tab-files">Files</a>
</div>

@Html.MessagesBox("bcms-site-settings-media-messages")

<div id="bcms-tab-1" class="bcms-tab-single">
    @{
        Html.RenderAction<ImagesController>(f => f.ImagesTab(null));
    }
</div>
<div id="bcms-tab-2" class="bcms-tab-single">
    <span>Loading...</span>
</div>
<div id="bcms-tab-3" class="bcms-tab-single">
    <span>Loading...</span>
</div>
<div id="bcms-tab-4" class="bcms-tab-single">
    <span>Loading...</span>
</div>

<script type="text/html" id="bcms-media-list-path-template">
    <div class="bcms-breadcrumbs-holder">
        @Html.Hidden("CurrentFolderId", string.Empty, new Dictionary<string, object>
                                                          {
                                                              {"id", "bcms-current-media-folder-id"}, 
                                                              {"data-bind", "value: path().currentFolder().media().id()"}
                                                          })
        @Html.Hidden("MediaType", string.Empty, new Dictionary<string, object>
                                                    {
                                                        {"id", "bcms-current-media-folder-type"}, 
                                                        {"data-bind", "value: path().currentFolder().media().type"}
                                                    })
        <div data-bind="foreach: path().pathFolders()">
            <a class="bcms-breadcrumbs-root" href="#nolink" data-bind="text: pathName(), click: linkClicked.bind($data, $root)"></a>
        </div>
    </div>
</script>

<script type="text/html" id="bcms-media-list-template">
    <div id="bcms-view-container" class="bcms-list-style">
        <div class="bcms-media-sorting-block">
            <div class="bcms-media-col-1"></div>
            <div class="bcms-media-col-2">
                <a class="bcms-sort-arrow">@MediaGlobalization.MediaList_FileNameColumn</a>
            </div>
            <div class="bcms-media-col-3">
                <a class="bcms-sort-arrow">@MediaGlobalization.MediaList_FileTypeColumn</a>
            </div>
        </div>
        <div data-bind="foreach: medias">
            <div data-bind="css: { 'bcms-media-folder-box': media().isFolder(), 'bcms-media-file-box': media().isFile(), 'bcms-media-row-active': media().isActive() }">
                <div class="bcms-media-items-block">
                    <div data-bind="css: { 'bcms-system-folder': media().isFolder(), 'bcms-media-file-holder': media().isFile() }" />
                    <div class="bcms-system-folder-name" data-bind="text: media().name(), attr: { 'data-id': media().id() }, click: linkClicked.bind($data, $root)"></div>
                </div>
                <div class="bcms-media-edit-controls">
                    <div class="bcms-system-folder-name" data-bind="text: media().name(), attr: { 'data-id': media().id() }, click: linkClicked.bind($data, $root)" />
                    <input type="text" name="itemname" data-bind="value: media().name()" />
                    <div class="bcms-media-inner-controls">
                        <div class="bcms-btn-small">@RootGlobalization.Button_Save</div>
                        <div class="bcms-btn-links-small">@RootGlobalization.Button_Cancel</div>
                    </div>
                    <a class="bcms-icn-edit" data-bind="attr: { 'data-id': media().id(), 'data-version': media().version(), 'data-media-type': media().type  }">@RootGlobalization.Button_Edit</a>
                    <a class="bcms-icn-delete" data-bind="attr: { 'data-id': media().id(), 'data-version': media().version(), 'data-media-type': media().type, 'data-name': media().name()  }, click: deleteLinkClicked.bind($data, $root)">@RootGlobalization.Button_Delete</a>
                </div>
            </div>
        </div>
    </div>

</script>