@* --------------------------------------------------------------------------------------------------------------------
// <copyright file="ListTags.cshtml" company="Devbridge Group LLC">
// 
// Copyright (C) 2015,2016 Devbridge Group LLC
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU Lesser General Public License
// along with this program.  If not, see http://www.gnu.org/licenses/. 
// </copyright>
// 
// <summary>
// Better CMS is a publishing focused and developer friendly .NET open source CMS.
// 
// Website: https://www.bettercms.com 
// GitHub: https://github.com/devbridge/bettercms
// Email: info@bettercms.com
// </summary>
// -------------------------------------------------------------------------------------------------------------------- *@
@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Root.Controllers
@using BetterCms.Module.Root.ViewModels.Tags
@using BetterCms.Module.Root.Mvc.Grids.Extensions
@using BetterCms.Module.Root.Mvc.Grids.TableRenderers
@using BetterCms.Module.Root.Mvc.Helpers
@using Microsoft.Web.Mvc
@using MvcContrib.UI.Grid
@model BetterCms.Module.Root.ViewModels.SiteSettings.SearchableGridViewModel<BetterCms.Module.Root.ViewModels.Tags.TagItemViewModel>

    @{
        Action<ColumnBuilder<TagItemViewModel>> columns;
    }
    @using (Html.BeginForm<TagsController>(f => f.ListTags(null), FormMethod.Post, new { @id = "bcms-tags-form", @class = "bcms-ajax-form" }))
    {
        columns = column =>
        {
            column.EditButtonColumn();

            column.For(model => Html.InlineEditColumnWithNamePattern(m => model.Name, "bcms-tag-name", "bcms-tag-old-name", "TagName_{0}"))
                .Named(RootGlobalization.SiteSettings_Tags_TagColumn)
                .SortColumnName("Name")
                .Encode(false);

            column.InlineEditControlsColumn();
        };

        @Html.MessagesBox()
        
<div class="bcms-window-settings">
            @Html.HiddenGridOptions(Model.GridOptions)
        <div class="bcms-top-block-holder">
            <div class="bcms-btn-main" id="bcms-site-settings-add-tag">@RootGlobalization.SiteSettings_Tags_AddNewTag</div>

                <div class="bcms-top-block-inner">
                    <div class="bcms-btn-search" id="bcms-tags-search-btn">@RootGlobalization.SiteSettings_Tags_Search</div>
                    <div class="bcms-search-block">
                        @Html.TextBoxFor(m => m.SearchQuery, new { @class = "bcms-search-field-box bcms-js-search-box bcms-search-query", @placeholder = RootGlobalization.WaterMark_Search })
                    </div>
                </div>

            <div class="bcms-top-block-pager">
                @Html.RenderPaging(Model)
            </div>
        </div>


        @Html.Grid(Model.Items).Sort(Model.GridOptions).Columns(columns).Attributes(@class => "bcms-tables").RenderUsing(new EditableHtmlTableGridRenderer<TagItemViewModel>())
        @Html.HiddenSubmit()
    </div>
    }

    <script type="text/html" id="bcms-editable-row-template">
        @Html.Grid(new List<TagItemViewModel> { new TagItemViewModel() }).Columns(columns).Attributes(@class => "bcms-tables").RenderUsing(new HtmlTableGridSingleRowRenderer<TagItemViewModel>())
    </script>
