@using BetterCms.Module.Newsletter.Controllers
@using BetterCms.Module.Root.Mvc.Helpers
@using Microsoft.Web.Mvc

@model BetterCms.Module.Newsletter.ViewModels.SubscriberViewModel

@{
    // Subscribe to newsletter
    var labelTitle = ViewData["Label title"];
    // Submit
    var submitTitle = ViewData["Submit title"];
    // email...
    var emailPlaceholder = ViewData["Email placeholder"];
    // Submit is disabled
    bool submitDisabled = false;
    if (ViewData["Submit is disabled"] != null)
    {
        if (ViewData["Submit is disabled"] is bool)
        {
            submitDisabled = (bool)ViewData["Submit is disabled"];
        }
        else
        {
            Boolean.TryParse(ViewData["Submit is disabled"].ToString(), out submitDisabled);
        }
    }
}

@using (Html.BeginForm<SubscriberController>(s => s.Subscribe(null), FormMethod.Post, new { @class = "bcms-newsletter-subscribe-form" }))
{
    <label class="bcms-newsletter-subscribe-label" for="Email">@labelTitle</label>
    <div class="bcms-field-block bcms-newsletter-field-block">
        @Html.TextBoxFor(m => m.Email, new
                                           {
                                               @type = "email",
                                               @class = "bcms-newsletter-subscribe-input required",
                                               @placeholder = @emailPlaceholder
                                           })
        @Html.BcmsValidationMessageFor(m => m.Email)
    </div>
    <button type="submit" class="bcms-newsletter-subscribe-submit"@(submitDisabled ? " disabled=\"disabled\"" : string.Empty)>@submitTitle</button>
}