@using BetterCms.Module.Pages.Content.Resources
@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Root.Mvc.Helpers

@model BetterCms.Module.Pages.ViewModels.Filter.PagesGridViewModel<BetterCms.Module.Pages.ViewModels.SiteSettings.SiteSettingPageViewModel>
<div id="bcms-filter-template">
    <div class="bcms-grid-filtering">@*ADD CLASS HERE "bcms-active-filter" WHEN FILTER IS OPENED*@
        <div class="bcms-filterbox" data-bind="click: toggleFilter">
            @PagesGlobalization.SiteSettings_Pages_Filter
            <div class="bcms-filter-modified">modified</div>
        </div>
    </div>
    <div class="bcms-tags-block" style="display: none;" data-bind="visible: isVisible()">
        <div class="bcms-featured-tags">
            <div class="clearfix">

                <div class="bcms-filter-options" data-bind="with: tags">
                    <div class="bcms-filter-text">@PagesGlobalization.SiteSettings_Pages_FilterByTags</div>
                    <div class="bcms-filter-field-holder">
                        <input type="text" class="bcms-add-tags-field" data-bind="
    css: { 'bcms-tag-validation-error': newTag.hasError() },
    value: newTag,
    valueUpdate: 'afterkeydown',
    escPress: clearTag,
    tagautocomplete: 'onlyExisting'" />
                        <!-- ko if: newTag.hasError()  -->
                        <span class="bcms-tag-field-validation-error">
                            <span data-bind="text: newTag.validationMessage()"></span>
                        </span>
                        <!-- /ko -->
                    </div>
                </div>

                <div class="bcms-filter-options">
                    <div class="bcms-filter-text">@PagesGlobalization.SiteSettings_Pages_FilterByCategory</div>
                    @Html.DropDownListFor(model => model.CategoryId, Model.Categories.ToSelectList(Model.CategoryId), string.Empty, new { id = "bcms-filter-category-selection", @class = "bcms-global-select" })
                </div>

            </div>

            <div class="bcms-single-tag-holder" data-bind="foreach: tags.tags()">
                <div class="bcms-single-tag" data-bind="css: { 'bcms-single-tag-active': isActive() }">
                    <span data-bind="text: name()"></span><a data-bind="    click: remove">@RootGlobalization.Button_Remove</a>
                </div>
                <input type="hidden" data-bind="attr: { name: getTagInputName($index()) + '.Key', value: id() }" />
                <input type="hidden" data-bind="attr: { name: getTagInputName($index()) + '.Value', value: name() }" />
            </div>

        </div>

        <div class="clearfix">
            <div class="bcms-check-field-holder">
                @Html.CheckBoxFor(model => model.IncludeArchived, new { data_bind = "checked: includeArchived" })
                @PagesGlobalization.SiteSettings_Pages_FilterIncludeArchived
            </div>
            <div class="bcms-btn-field-holder">
                <div class="bcms-btn-links-small" data-bind="click: clearFilter">@PagesGlobalization.SiteSettings_Pages_FilterClear</div>
                <div class="bcms-btn-small" data-bind="click: searchWithFilter">@PagesGlobalization.SiteSettings_Pages_FilterSearch</div>
            </div>
        </div>
    </div>
</div>
