@using BetterCms.Module.Pages.Content.Resources
@using BetterCms.Module.Root.Content.Resources

@model BetterCms.Module.Pages.ViewModels.Filter.PagesGridViewModel<BetterCms.Module.Pages.ViewModels.SiteSettings.SiteSettingPageViewModel>

    <div id="bcms-filter-template">
        @Html.HiddenFor(m => m.ContentId)
        <div class="bcms-grid-filtering" data-bind="css: { 'bcms-active-filter': isVisible() }">
            <div class="bcms-filterbox" data-bind="click: toggleFilter">
                @PagesGlobalization.SiteSettings_Pages_Filter
                <div class="bcms-filter-modified" data-bind="style: { display: isEdited() ? 'inline-block' : 'none' }">@PagesGlobalization.SiteSettings_Pages_FilterIsModified</div>
            </div>
        </div>
        <div class="bcms-tags-block" style="display: none;" data-bind="visible: isVisible(), enterPress: searchWithFilter">
            <div class="bcms-featured-tags">
                <div class="bcms-clearfix">

                    <div class="bcms-filter-options" data-bind="with: tags">
                        <div class="bcms-filter-text">@PagesGlobalization.SiteSettings_Pages_FilterByTags</div>
                        <div class="bcms-filter-field-holder">
                            <input type="text" class="bcms-add-tags-field" data-bind="
                            css: { 'bcms-tag-validation-error': newItem.hasError() },
                            value: newItem,
                            valueUpdate: 'afterkeydown',
                            escPress: clearItem,
                            autocompleteList: 'onlyExisting'" />
                            <!-- ko if: newItem.hasError()  -->
                            <span class="bcms-tag-field-validation-error">
                                <span data-bind="text: newItem.validationMessage()"></span>
                            </span>
                            <!-- /ko -->
                        </div>
                    </div>

                    <div class="bcms-filter-options" data-bind="with: categories">
                        <div class="bcms-filter-text">@PagesGlobalization.SiteSettings_Pages_FilterByCategory</div>

                        <div class="bcms-filter-field-holder">
                            <input type="text" class="bcms-add-tags-field" data-bind="
                            css: { 'bcms-tag-validation-error': newItem.hasError() },
                            value: newItem,
                            valueUpdate: 'afterkeydown',
                            escPress: clearItem,
                            autocompleteList: 'onlyExisting'" />
                            <!-- ko if: newItem.hasError()  -->
                            <span class="bcms-tag-field-validation-error">
                                <span data-bind="text: newItem.validationMessage()"></span>
                            </span>
                            <!-- /ko -->
                        </div>                        
                    </div>

                    @if (Model.Languages != null && Model.Languages.Any())
                    {
                        <div class="bcms-filter-options">
                            <div class="bcms-filter-text">@PagesGlobalization.SiteSettings_Pages_FilterByLanguage</div>
                            <select class="bcms-global-select" name="LanguageId" data-bind="options: languages, value: languageId, optionsText: 'Value', optionsValue: 'Key'" />
                        </div>
                    }

                    <div class="bcms-filter-options">
                        <div class="bcms-filter-text">@PagesGlobalization.SiteSettings_Pages_FilterByStatus</div>
                        @Html.DropDownListFor(m => m.Status, new List<SelectListItem>(), new
                                                                      {
                                                                          data_bind = "options: statuses, value: status, optionsText: 'Value', optionsValue: 'Key'",
                                                                          @class = "bcms-global-select"
                                                                      })
                    </div>

                    <div class="bcms-filter-options">
                        <div class="bcms-filter-text">@PagesGlobalization.SiteSettings_Pages_FilterBySEO</div>
                        @Html.DropDownListFor(m => m.SeoStatus, new List<SelectListItem>(), new
                                                                                            {
                                                                                                data_bind = "options: seoStatuses, value: seoStatus, optionsText: 'Value', optionsValue: 'Key'",
                                                                                                @class = "bcms-global-select"
                                                                                            })
                    </div>
                    
                    <div class="bcms-filter-options">
                        <div class="bcms-filter-text">@PagesGlobalization.SiteSettings_Pages_FilterByLayout</div>
                        @Html.DropDownListFor(m => m.Layout, new List<SelectListItem>(), new
                                                                      {
                                                                          data_bind = "options: layouts, value: layout, optionsText: 'Value', optionsValue: 'Key'",
                                                                          @class = "bcms-global-select"
                                                                      })
                    </div>

                </div>

                <div class="bcms-single-tag-holder" data-bind="foreach: tags.items()">
                    <div class="bcms-single-tag" data-bind="css: { 'bcms-single-tag-active': isActive() }">
                        <span data-bind="text: name()"></span><a data-bind="    click: remove">@RootGlobalization.Button_Remove</a>
                    </div>
                    <input type="hidden" data-bind="attr: { name: getItemInputName($index()) + '.Key', value: id() }" />
                    <input type="hidden" data-bind="attr: { name: getItemInputName($index()) + '.Value', value: name() }" />
                </div>
                
                <div class="bcms-single-tag-holder" data-bind="foreach: categories.items()">
                    <div class="bcms-single-tag" data-bind="css: { 'bcms-single-tag-active': isActive() }">
                        <span data-bind="text: name()"></span><a data-bind="    click: remove">@RootGlobalization.Button_Remove</a>
                    </div>
                    <input type="hidden" data-bind="attr: { name: 'Categories[' + $index() + '].Key', value: id() }" />
                    <input type="hidden" data-bind="attr: { name: 'Categories[' + $index() + '].Value', value: name() }" />
                </div>

            </div>

            <div class="bcms-clearfix">
                <div class="bcms-check-field-holder" style="float: none;">
                    @Html.CheckBoxFor(model => model.IncludeArchived, new { data_bind = "checked: includeArchived" })
                    <span class="bcms-pointer" data-bind="click: changeIncludeArchived">@PagesGlobalization.SiteSettings_Pages_FilterIncludeArchived</span>
                </div>
                @if (!Model.HideMasterPagesFiltering)
                {
                    <div class="bcms-check-field-holder">
                        @Html.CheckBoxFor(model => model.IncludeMasterPages, new { data_bind = "checked: includeMasterPages" })
                        <span class="bcms-pointer" data-bind="click: changeIncludeMasterPages">@PagesGlobalization.SiteSettings_Pages_FilterIncludeMasterPages</span>
                    </div>
                }

                <div class="bcms-btn-field-holder">
                    <div class="bcms-btn-links-small" data-bind="click: clearFilter">@PagesGlobalization.SiteSettings_Pages_FilterClear</div>
                    <div class="bcms-btn-small" data-bind="click: searchWithFilter">@PagesGlobalization.SiteSettings_Pages_FilterSearch</div>
                </div>
            </div>
        </div>
    </div>
