@using BetterCms.Module.Blog.Content.Resources
@using BetterCms.Module.Root.Mvc.Helpers
@using BetterCms.Module.Root.Mvc.UI

@model BetterCms.Module.Blog.ViewModels.Blog.BlogPostViewModel

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.Version)
@Html.HiddenFor(model => model.ImageId, new {data_bind = "value: imageId()"})

<div class="bcms-new-blog-content">
    
    @Html.MessagesBox("bcms-blog-post-messages")

    <div class="bcms-blog-left">

        <div class="bcms-input-list-holder bcms-first-child-holder">
            @Html.Tooltip(BlogGlobalization.EditBlockPost_Title_Tooltip_Title, BlogGlobalization.EditBlockPost_Title_Tooltip_Description)
            <div class="bcms-content-titles">@BlogGlobalization.EditBlockPost_Title_Title</div>
            @Html.TextBoxFor(m => m.Title, new {@style = "width: 510px;", @class = "bcms-editor-field-box"})
        </div>
        <div class="bcms-input-list-holder">
            @Html.Tooltip(BlogGlobalization.EditBlockPost_IntroText_Tooltip_Title, BlogGlobalization.EditBlockPost_IntroText_Tooltip_Description)
            <div class="bcms-content-titles">@BlogGlobalization.EditBlockPost_IntroText_Title</div>
            @Html.TextAreaFor(m => m.IntroText, new {@style = "width: 510px; height: 170px;", @class = "bcms-editor-field-area"})
        </div>
        <div class="bcms-input-list-holder">
            @Html.Tooltip(BlogGlobalization.EditBlockPost_Content_Tooltip_Title, BlogGlobalization.EditBlockPost_Content_Tooltip_Description)
            <div class="bcms-content-titles">@BlogGlobalization.EditBlockPost_Content_Title</div>
            @Html.TextAreaFor(model => model.Content, new { @id = "bcms-contenthtml" })
        </div>

    </div>
    <div class="bcms-blog-right">

        <div class="bcms-blog-dates-holder">
            <div class="bcms-input-field-holder">
                @Html.Tooltip(BlogGlobalization.EditBlockPost_LiveDates_Tooltip_Title, BlogGlobalization.EditBlockPost_LiveDates_Tooltip_Description)
                <div class="bcms-content-titles">@BlogGlobalization.EditBlockPost_LiveFrom_Title</div>
                @Html.DateTextBoxFor(model => model.LiveFromDate, Model.LiveFromDate, new Dictionary<string, object> { { "class", "bcms-editor-field-box bcms-datepicker" }, { "style", "width: 127px;" } })
            </div>
            <div class="bcms-input-field-holder">
                <div class="bcms-content-titles">@BlogGlobalization.EditBlockPost_LiveTo_Title</div>
                @Html.DateTextBoxFor(model => model.LiveToDate, Model.LiveToDate, new Dictionary<string, object> { { "class", "bcms-editor-field-box bcms-datepicker" }, { "style", "width: 127px;" } })
            </div>
        </div>

        <div class="bcms-input-field-holder">
            @Html.Tooltip(BlogGlobalization.EditBlockPost_FeaturedImage_Tooltip_Title, BlogGlobalization.EditBlockPost_FeaturedImage_Tooltip_Description)
            <div class="bcms-content-titles">@BlogGlobalization.EditBlockPost_FeaturedImage_Title</div>
            <div class="bcms-uploaded-image">
                <!-- ko if: imageUrl() -->
                <a href="#" data-bind="click: previewImage"><img data-bind="attr: {src: thumbnailUrl(), alt: imageTooltip() }" /></a>
                <!-- /ko -->
            </div>
            <div class="bcms-upload-info">
                <div class="bcms-upload-info-text">@* TODO: which text should go there? *@Make sure to size this imageto 200x125 pixels. It will be displayed as a thumbnail with your post.</div>
                <div class="bcms-btn-small" data-bind="click: selectImage">@BlogGlobalization.EditBlockPost_SelectImage_Button_Title</div>
            </div>
        </div>

        <div class="bcms-input-field-holder">
            @Html.Tooltip(BlogGlobalization.EditBlockPost_Author_Tooltip_Title, BlogGlobalization.EditBlockPost_Author_Tooltip_Description)
            <div class="bcms-content-titles">@BlogGlobalization.EditBlockPost_Author_Title</div>
            @Html.DropDownListFor(model => model.AuthorId, Model.Authors.ToSelectList(Model.AuthorId), string.Empty, new { @class = "bcms-global-select", @style = "width: 245px;" })
        </div>

        <div class="bcms-input-field-holder">
            @Html.Tooltip(BlogGlobalization.EditBlockPost_Category_Tooltip_Title, BlogGlobalization.EditBlockPost_Category_Tooltip_Description)
            <div class="bcms-content-titles">@BlogGlobalization.EditBlockPost_Category_Title</div>
            @Html.DropDownListFor(model => model.CategoryId, Model.Categories.ToSelectList(Model.CategoryId), string.Empty, new { @class = "bcms-global-select", @style = "width: 245px;" })
        </div>

        <div class="bcms-blog-tags-holder">
            <div class="bcms-input-list-holder">
                @Html.Tooltip(BlogGlobalization.EditBlockPost_Tags_Tooltip_Title, BlogGlobalization.EditBlockPost_Tags_Tooltip_Description)
                <div class="bcms-content-titles">
                    @BlogGlobalization.EditBlockPost_AddTags_Title
                    <div class="bcms-btn-plus">&nbsp;</div>
                    <div class="bcms-tags-field-holder">
                        <input type="text" class="bcms-add-tags-field" style="width: 107px;">
                    </div>
                </div>
                <div class="bcms-single-tag-holder" id="bcms-categories-container">
                    <div class="bcms-single-tag">Fonts<a>Remove</a></div>
                    <div class="bcms-single-tag">DevBridge<a>Remove</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
