@using BetterCms.Module.MediaManager.Content.Resources
@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Root.Mvc.Helpers

@model BetterCms.Module.MediaManager.ViewModels.MediaManager.MediaViewModel

<script type="text/html" id="bcms-media-list-template">
    <div class="bcms-top-block-holder">
        <div class="bcms-media-controls-holder">
            <a id="bcms-list-view" class="bcms-select-list" data-bind="click: switchViewStyle, css: {'bcms-select-active': !isGrid()}"></a>
            <a id="bcms-grid-view" class="bcms-select-grid" data-bind="click: switchViewStyle, css: {'bcms-select-active': isGrid()}"></a>
            <div class="bcms-vertical-separator"> </div>
            <a class="bcms-media-new-folder" data-bind="if:isRootFolder(), click: addNewFolder">@MediaGlobalization.MediaManager_NewFolder</a>
            <a class="bcms-media-new-file" data-bind="click: uploadMedia, text: uploadButtonTitle()"></a>
        </div>
        <div class="bcms-search-block">
            <input data-bind="value: gridOptions().searchQuery, valueUpdate: 'afterkeydown', enterPress: searchMedia" class="bcms-editor-field-box" type="text" placeholder="@RootGlobalization.WaterMark_Search" />
            <div class="bcms-btn-search" data-bind="click: searchMedia">@RootGlobalization.Button_Search</div>
        </div>
    </div>
    <div class="bcms-breadcrumbs-holder">
        <div data-bind="foreach: path().pathFolders()">
            <a class="bcms-breadcrumbs-root" data-bind="text: pathName(), click: openMedia.bind($data, $root)"></a>
        </div>
    </div>

    @Html.MessagesBox(null, new Dictionary<string, string> {{"data-bind", "attr: { id: domId() }"}})
        
    <div id="bcms-view-container" data-bind="css: { 'bcms-list': !isGrid(), 'bcms-grid': isGrid() }" class="bcms-list">
        <div class="bcms-media-sorting-block">
            <div class="bcms-media-col-1"></div>
            <div class="bcms-media-col-2">
                <a class="bcms-sort-arrow" data-bind="click: sortMedia.bind($root, 'Title'), css: {'bcms-sort-arrow-top': isSortedAscending('Title'), 'bcms-sort-arrow-bottom': isSortedDescending('Title') }">@MediaGlobalization.MediaList_FileNameColumn</a>
            </div>
            <div class="bcms-media-col-3">
                <a class="bcms-sort-arrow" data-bind="click: sortMedia.bind($root, 'FileExtension'), css: {'bcms-sort-arrow-top': isSortedAscending('FileExtension'), 'bcms-sort-arrow-bottom': isSortedDescending('FileExtension') }">@MediaGlobalization.MediaList_FileTypeColumn</a>
            </div>
        </div>
            
        <!-- ko if: !isRootFolder() -->
        <div class="bcms-folder-box">
            <div class="bcms-media-items-block">
                <div class="bcms-system-folder" data-bind="click: openRoot" />
                <div class="bcms-media-name" data-bind="click: openRoot">...</div>
            </div>
        </div>
        <!-- /ko -->

        <div data-bind="foreach: medias">
            <div data-bind="css: { 'bcms-folder-box': isFolder(), 'bcms-image-box': isImage(), 'bcms-file-box': isFile() && !isImage(), 'bcms-folder-box-active': isFolder() && isActive(), 'bcms-media-click-active': isSelected() }, click: selectMedia.bind($data, $root)">
                <div class="bcms-media-items-block">
                    <div data-bind="css: { 'bcms-system-folder': isFolder(), 'bcms-media-file-holder': isFile() }, click: openMedia.bind($data, $root)" />
                    <div class="bcms-media-name" data-bind="text: name(), click: openMedia.bind($data, $root)"></div>
                </div>
                <div class="bcms-media-edit-controls">
                    @Html.TextBoxFor(m => m.Name, new Dictionary<string, object>
                                                        {
                                                            {"data-bind", "value: name, valueUpdate: 'afterkeydown', enterPress: saveMedia.bind($data, $root), escPress: cancelEditMedia.bind($data, $root), hasfocus: isActive(), event: {blur: blurMediaField.bind($data, $root)}, attr: {id: nameDomId} "},
                                                            {"class", "bcms-grid-input"},
                                                            {"Name", (string) null},
                                                        })

                    <div class="bcms-media-inner-controls" data-bind="if: !isImage()">
                        <div class="bcms-btn-small" data-bind="click: saveMedia.bind($data, $root)">@RootGlobalization.Button_Save</div>
                        <div class="bcms-btn-links-small" data-bind="click: cancelEditMedia.bind($data, $root)">@RootGlobalization.Button_Cancel</div>
                    </div>
                    <a class="bcms-icn-edit" data-bind="click: editMedia.bind($data, $root)">@RootGlobalization.Button_Edit</a>
                    <a class="bcms-icn-delete" data-bind="click: deleteMedia.bind($data, $root)">@RootGlobalization.Button_Delete</a>
                </div>
            </div>
        </div>

        <div class="bcms-add-folder" data-bind="if: isRootFolder()">
            <div class="bcms-media-items-block" data-bind="click: addNewFolder">
                <div class="bcms-system-addfolder"></div>
                <div class="bcms-media-name">@MediaGlobalization.MediaManager_AddNewFolder</div>
            </div>
        </div>
    </div>
</script>