@using BetterCms.Module.Pages.Content.Resources
@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Root.Mvc.Helpers
@model BetterCms.Module.Pages.ViewModels.Sitemap.SitemapNodeViewModel
<script type="text/html" id="bcms-navigation-sitemapnode-template">
    <!-- ko if: !hasChildNodes() -->
    <div class="bcms-nodes-dropzone bcms-nodes-dropzone-active" data-bind="droppable: 'emptyListZone'">
        <div class="bcms-node-infotext" data-bind="text: getNoDataMessage()">@NavigationGlobalization.Sitemap_NodeEdit_PlaceLinkHere</div>
    </div>
    <!-- /ko -->

    <!-- ko foreach: childNodes -->
    <!-- ko if: isVisible() && !isDeleted() -->
    <div class="bcms-tree-holder">
        <!-- ko if: isFirstNode() -->
        <div class="bcms-nodes-dropzone"
             data-bind="css: { 'bcms-nodes-dropzone-active': activeZone() == 'topZone'  }, droppable: 'topZone'">
            <div class="bcms-node-infotext">@NavigationGlobalization.Sitemap_NodeEdit_PlaceLinkHere</div>
        </div>
        <!-- /ko -->
        <div data-bind="draggable: $parentContext.$index, style: { zIndex: !isBeingDragged() ? '0' : '9999' }">
            <div class="bcms-placement-node" data-bind="
                        attr: { id: containerId }, 
                        css: { 'bcms-placement-node-drag': isBeingDragged(), 'bcms-placement-node-edit': isActive(), 'bcms-placement-one-active': !isBeingDragged() && superDraggable() },
                        style: { height: getNodeHeight() }">
                <!-- ko if: hasChildNodes() -->
                <a class="bcms-expand-collapse-node" data-bind="click: toggleExpand, css: { 'bcms-expanded-nodes': isExpanded() }">&nbsp;</a>
                <!-- /ko -->
                <div class="bcms-node-info" data-bind="droppable: 'middleZone'">
                    <div class="bcms-placement-title" data-bind="text: title"></div>
                    <div class="bcms-placement-path"><a data-bind="text: url, attr: { href: url }" href="" target="_blank"></a></div>
                </div>
                <!-- ko if: getSitemap().settings.canEditNode && isActive() -->
                <div class="bcms-edit-node">
                    <div class="bcms-edit-node-holder">
                        @Html.Tooltip(NavigationGlobalization.Sitemap_NodeEdit_Title_Tooltip_Message)
                        <div class="bcms-custom-input-box" style="width: 50%;">
                            @Html.TextBoxFor(m => m.Title, new
                            {
                                data_bind = "value: title, valueUpdate: 'afterkeydown', enterPress: saveSitemapNodeWithValidation, escPress: cancelEditSitemapNode, hasfocus: isActive()",
                                @class = "bcms-editor-field-box",
                                Title = (string)null,
                            })
                            @Html.BcmsValidationMessageFor(m => m.Title)
                        </div>
                        <!-- ko if: isUrlReadonly -->
                        <div class="bcms-btn-small" data-bind="click: saveSitemapNodeWithValidation, text: getSitemap().settings.nodeSaveButtonTitle">@RootGlobalization.Button_Ok</div>
                        <div class="bcms-btn-links-small" data-bind="click: cancelEditSitemapNode">@RootGlobalization.Button_Cancel</div>
                        <!-- /ko -->
                    </div>
                    <!-- ko if: getSitemap().showMacros -->
                    <div class="bcms-edit-node-holder">
                        @Html.Tooltip(NavigationGlobalization.Sitemap_NodeEdit_Macro_Tooltip_Message)
                        <div class="bcms-custom-input-box" style="width: 100%;">
                            @Html.TextBoxFor(m => m.Macro, new
                            {
                                data_bind = "value: macro, valueUpdate: 'afterkeydown', enterPress: saveSitemapNodeWithValidation, escPress: cancelEditSitemapNode",
                                @class = "bcms-editor-field-box",
                                Title = (string)null,
                                placeholder = NavigationGlobalization.Sitemap_NodeEdit_Macro_Placeholder_Message
                            })
                            @Html.BcmsValidationMessageFor(m => m.Macro)
                        </div>
                    </div>
                    <!-- /ko -->
                    <div class="bcms-edit-node-holder">
                        <!-- ko if: isUrlReadonly -->
                        <div class="bcms-placement-path"><a data-bind="text: url, attr: { href: url }" href="" target="_blank"></a></div>
                        <!-- /ko -->
                        <!-- ko ifnot: isUrlReadonly -->
                        @Html.Tooltip(NavigationGlobalization.Sitemap_NodeEdit_Url_Tooltip_Message)
                        <div class="bcms-input-box">
                            @Html.TextBoxFor(m => m.Url, new
                            {
                                data_bind = "value: url, valueUpdate: 'afterkeydown', enterPress: saveSitemapNodeWithValidation, escPress: cancelEditSitemapNode, attr: { 'readonly': getUrlReadonlyState() }",
                                @class = "bcms-editor-field-box",
                                Url = (string)null,
                            })
                            @Html.BcmsValidationMessageFor(m => m.Url)
                        </div>
                        <!-- /ko -->
                    </div>
                    <!-- ko ifnot: isUrlReadonly -->
                    <div class="bcms-edit-node-holder">
                        <div class="bcms-btn-small" data-bind="click: saveSitemapNodeWithValidation, text: getSitemap().settings.nodeSaveButtonTitle">@RootGlobalization.Button_Ok</div>
                        <div class="bcms-btn-links-small" data-bind="click: cancelEditSitemapNode">@RootGlobalization.Button_Cancel</div>
                    </div>
                    <!-- /ko -->
                </div>
                <!-- /ko -->
                <div class="bcms-node-controls">
                    <!-- ko if: getSitemap().settings.canEditNode -->
                    <a class="bcms-icn-edit" data-bind="click: startEditSitemapNode">@RootGlobalization.Button_Edit</a>
                    <!-- /ko -->
                    <!-- ko if: getSitemap().settings.canDeleteNode -->
                    <a class="bcms-icn-delete" data-bind="click: deleteSitemapNode">@RootGlobalization.Button_Delete</a>
                    <!-- /ko -->
                </div>
            </div>
            <!-- ko if: activeZone() == 'middleZone' -->
            <div class="bcms-zone-holder">
                <div class="bcms-nodes-dropzone bcms-nodes-dropzone-active">
                    <div class="bcms-node-infotext">@NavigationGlobalization.Sitemap_NodeEdit_PlaceLinkHere</div>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko if: isExpanded() && hasChildNodes() -->
            <div class="bcms-zone-holder" data-bind="template: { name: 'bcms-navigation-sitemapnode-template' }"></div>
            <!-- /ko -->
            <!-- ko if: !isBeingDragged() -->
            <div class="bcms-nodes-dropzone"
                data-bind="css: { 'bcms-nodes-dropzone-active': activeZone() == 'bottomZone' },
                            style: { paddingBottom: !(parentNode().parentNode) && isLastNode() ? '80px' : '' },
                            droppable: 'bottomZone'">
                <div class="bcms-node-infotext">@NavigationGlobalization.Sitemap_NodeEdit_PlaceLinkHere</div>
            </div>
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
    <!-- /ko -->
</script>
