@using BetterCms.Module.MediaManager.ViewModels.File
@using BetterCms.Module.Root
@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Root.Mvc.Extensions
@using BetterCms.Module.Root.ViewModels.Category
@using BetterCms.Module.Root.ViewModels.Tags
@using Microsoft.Web.Mvc
@using BetterCms.Module.Root.Mvc.Helpers
@using BetterCms.Module.MediaManager.Content.Resources
@using BetterCms.Module.MediaManager.Controllers

@model FileViewModel
@{
    var tagsTemplateViewModel = new TagsTemplateViewModel
    {
        TooltipDescription = MediaGlobalization.FileEditor_Dialog_AddTags_Tooltip_Description
    };
    var categoriesTemplateViewModel = new CategoryTemplateViewModel
    {
        TooltipDescription = MediaGlobalization.FileEditor_Dialog_Category_Tooltip_Description
    };
}
<div class="bcms-scroll-window">
    @Html.TabbedContentMessagesBox()
    <div class="bcms-padded-content bcms-clearfix" id="bcms-file-manager-inner" style="margin-top: 30px;">
        @using (Html.BeginForm<FilesController>(f => f.FileEditor((FileViewModel)null), FormMethod.Post,
            new
                {
                    @class = "bcms-ajax-form",
                    @enctype = "multipart/form-data",
                    data_readonly = @Model.IsReadOnly.ToString().ToLower()
                }))
        {
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Version, new { @id = "image-version-field" })
            @Html.HiddenFor(model => model.AccessControlEnabled)
            @Html.HiddenFor(model => model.Image.ImageId, new { data_bind = "value: image().id()" })

            <div class="bcms-input-list-holder">
                @Html.Tooltip(MediaGlobalization.FileEditor_Dialog_Title_Tooltip_Description)
                <div class="bcms-content-titles">@MediaGlobalization.FileEditor_Dialog_Title_Title</div>
                <div class="bcms-input-box">
                    @Html.TextBoxFor(f => f.Title, new { @class = "bcms-editor-field-box", @id = "Title", data_bind = "event: {change: onValueChange}" })
                    @Html.BcmsValidationMessageFor(f => f.Title)
                </div>
            </div>

            <div class="bcms-input-list-holder">
                @Html.Tooltip(MediaGlobalization.FileEditor_Dialog_PublicUrl_Tooltip_Description)
                <div class="bcms-content-titles">@MediaGlobalization.FileProperties_Dialog_PublicUrl</div>
                <div class="bcms-input-box">
                    <input class="bcms-editor-field-box bcms-editor-selectable-field-box" type="text" value="@Model.Url" readonly="readonly" />
                </div>
            </div>

            <div class="bcms-input-list-holder">
                <b>@MediaGlobalization.FileEditor_Dialog_FileSize:</b>
                <div class="bcms-editing-text" id="image-file-size">@Model.FileSize</div>
            </div>

            <div class="bcms-input-list-holder">
                @Html.Tooltip(MediaGlobalization.FileEditor_Dialog_Description_Tooltip_Description)
                <div class="bcms-content-titles">@MediaGlobalization.FileEditor_Dialog_Description</div>
                <div class="bcms-textarea-box">
                    @Html.TextAreaFor(f => f.Description, new { @class = "bcms-editor-field-area", @id = "Description", data_bind = "event: {change: onValueChange}" })
                    @Html.BcmsValidationMessageFor(f => f.Description)
                </div>
            </div>

            <div class="bcms-categories-box-holder" data-bind="with: categories">
                @Html.Partial("~/Areas/bcms-root/Views/Category/CategoriesTemplate.cshtml", categoriesTemplateViewModel)
            </div>

            <div class="bcms-tags-box-holder" data-bind="with: tags">
                @Html.Partial("~/Areas/bcms-root/Views/Tags/TagsTemplate.cshtml", tagsTemplateViewModel)
            </div>

            if (Model.AccessControlEnabled)
            {
                @Html.Partial(RootModuleConstants.AccessControlTemplate)
            }

            <div class="bcms-page-images-holder">
                <div class="bcms-input-list-holder">
                    @Html.Tooltip(MediaGlobalization.FileEditor_Dialog_Image_Tooltip_Description)
                    <div class="bcms-content-titles">@MediaGlobalization.FileEditor_Dialog_Image_Title</div>
                    <div class="bcms-uploaded-image">
                        <!-- ko if: image().url() -->
                        <a class="bcms-remove-image" data-bind="click: image().remove.bind(image())">@RootGlobalization.Button_Remove</a>
                        <a data-bind="click: image().preview.bind(image())">
                            <img data-bind="attr: { src: image().thumbnailUrl(), alt: image().tooltip() }" />
                        </a>
                        <!-- /ko -->
                    </div>
                    <div class="bcms-btn-small" data-bind="click: image().select.bind(image())">@MediaGlobalization.FileEditor_Dialog_Image_SelectButtonTitle</div>
                </div>
            </div>

            <div class="bcms-media-reupload" data-bind="click: reupload">@MediaGlobalization.FileEditor_Dialog_Reupload_Title</div>

            @Html.HiddenSubmit()
        }
    </div>
</div>
