@using BetterCms.Module.MediaManager.Content.Resources
@using BetterCms.Module.Root.Content.Resources
@model BetterCms.Module.MediaManager.ViewModels.MediaManager.MediaViewModel

<div class="bcms-filter-holder">
    <div class="bcms-grid-filtering" data-bind="css: { 'bcms-active-filter': gridOptions().isFilterVisible() }">
        <div class="bcms-filterbox" data-bind="click: gridOptions().toggleFilter">
            @RootGlobalization.Button_Filter
            <div class="bcms-filter-modified" data-bind="style: { display: gridOptions().isEdited() ? 'inline-block' : 'none' }">@MediaGlobalization.SiteSettings_Media_FilterIsModified</div>
        </div>
    </div>

    <div class="bcms-filter-selection-block" style="display: none;" data-bind="visible: gridOptions().isFilterVisible()">
        <div class="bcms-filter-controls">
            <div class="bcms-clearfix">
                <div class="bcms-filter-options" data-bind="with: gridOptions().tags">
                    <div class="bcms-filter-text">@MediaGlobalization.SiteSettings_FilterByTags</div>
                    <div class="bcms-field-wrapper">
                        <input type="text" class="bcms-field-text" data-bind="
                                    css: { 'bcms-tag-validation-error': newItem.hasError() },
                                    value: newItem,
                                    valueUpdate: 'afterkeydown',
                                    escPress: clearItem,
                                    autocompleteList: 'onlyExisting'" />
                        <!-- ko if: newItem.hasError() -->
                        <span class="bcms-tag-field-validation-error">
                            <span data-bind="text: newItem.validationMessage()"></span>
                        </span>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="bcms-filter-options" data-bind="with: gridOptions().categories">
                    <div class="bcms-filter-text">@MediaGlobalization.SiteSettings_FilterByCategory</div>
                    <div class="bcms-field-wrapper">
                        <input type="hidden" id="bcms-js-categories-select" />
                    </div>
                </div>
            </div>

            <div class="bcms-single-tag-holder" data-bind="foreach: gridOptions().tags.items()">
                <div class="bcms-single-tag" data-bind="css: { 'bcms-single-tag-active': isActive() }">
                    <span data-bind="text: name()"></span><a data-bind="    click: remove">@RootGlobalization.Button_Remove</a>
                </div>
                <input type="hidden" data-bind="attr: { name: getItemInputName($index()) + '.Key', value: id() }" />
                <input type="hidden" data-bind="attr: { name: getItemInputName($index()) + '.Value', value: name() }" />
            </div>

            <div class="bcms-single-tag-holder" data-bind="foreach: gridOptions().categories.items()">
                <div class="bcms-single-tag">
                    <span data-bind="text: $data.text"></span><a data-bind="    click: $parent.gridOptions().categories.remove">@RootGlobalization.Button_Remove</a>
                </div>
                <input type="hidden" data-bind="attr: { name: 'Categories[' + $index() + '].Key', value: $data.id }" />
                <input type="hidden" data-bind="attr: { name: 'Categories[' + $index() + '].Value', value: $data.text }" />
            </div>
        </div>

        <div class="bcms-clearfix">
            <div class="bcms-checkbox-block">
                <div class="bcms-checkbox-holder">
                    <input type="checkbox" data-bind="checked: gridOptions().includeArchived" />
                    <div class="bcms-checkbox-label bcms-pointer" data-bind="click: gridOptions().changeIncludeArchived">@MediaGlobalization.MediaManager_IncludeArchived_Message</div>
                </div>
                <div class="bcms-checkbox-holder">
                    <input type="checkbox" data-bind="checked: gridOptions().includeHistoryItems" />
                    <div class="bcms-checkbox-label bcms-pointer" data-bind="click: gridOptions().changeIncludeHistoryItems">@MediaGlobalization.MediaManager_SearchInHistoryItems_Message</div>
                </div>
            </div>

            <div class="bcms-btn-field-holder">
                <div class="bcms-btn-primary" data-bind="click: searchWithFilter">@RootGlobalization.Button_Filter_Search</div>
                <div class="bcms-btn-cancel" data-bind="click: clearFilter">@RootGlobalization.Button_Filter_Clear</div>
            </div>
        </div>
    </div>
</div>
