@using BetterCms.Module.Root.Content.Resources

@model BetterCms.Module.MediaManager.ViewModels.MediaManager.MediaViewModel

<div class="bcms-media-edit-controls">
    <div class="bcms-system-folder-name" data-id="@Model.Id">@Html.Encode(Model.Name)</div>
    @if (Model.IsEditable)
    {
        @Html.TextBoxFor(m => m.Name, new { @class = "bcms-editor-field-box bcms-editor-item-name" })
        @Html.HiddenFor(m => m.Name, new { @Name = (string)null, @class = "bcms-editor-item-old-name" })
        <div class="bcms-media-inner-controls">
            <div class="bcms-btn-small">@RootGlobalization.Button_Save</div>
            <div class="bcms-btn-links-small">@RootGlobalization.Button_Cancel</div>
            <div style="display:none" class="bcms-grid-item-message"></div>
        </div>
    }
    <a class="bcms-icn-edit" data-id="@Model.Id" data-version="@Model.Version" data-media-type="@((int)Model.Type)">@RootGlobalization.Button_Edit</a>
    <a class="bcms-icn-delete" data-id="@Model.Id" data-version="@Model.Version" data-name="@Model.Name" data-media-type="@((int)Model.Type)">@RootGlobalization.Button_Delete</a>
</div>