@using System.Reflection
@using BetterCms.Core.DataContracts.Enums
@using BetterCms.Module.Blog.Content.Resources
@using BetterCms.Module.Blog.Controllers
@using BetterCms.Module.Pages.Content.Resources
@using BetterCms.Module.Root
@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Root.Mvc
@using BetterCms.Module.Root.Mvc.Helpers
@using BetterCms.Module.Root.Mvc.UI
@using Microsoft.Web.Mvc

@model BetterCms.Module.Blog.ViewModels.Blog.BlogPostViewModel
@if (Model == null)
{
    return;
}
@functions
{
    private static Dictionary<string, object> GetAttributesObject(bool canEdit, dynamic properties)
    {
        var attributes = new Dictionary<string, object>();

        foreach (var prop in properties.GetType().GetProperties(BindingFlags.Instance | BindingFlags.Public))
        {
            attributes.Add(prop.Name, prop.GetValue(properties, null));
        }
        
        if (!canEdit)
        {
            attributes.Add("disabled", "disabled");
        }
        return attributes;
    }
}
@{
    var canEdit = (ViewContext.Controller as CmsControllerBase).SecurityService.IsAuthorized(RootModuleConstants.UserRoles.EditContent);
    var tagsTemplateViewModel = new BetterCms.Module.Pages.ViewModels.Tags.TagsTemplateViewModel
    {
        TooltipDescription = BlogGlobalization.EditBlockPost_Tags_Tooltip_Description
    };
}

<div class="bcms-scroll-window">
    @Html.TabbedContentMessagesBox()
    @if (Model.CurrentStatus == ContentStatus.Draft)
    {
        <div class="bcms-messages-type-1">
            <ul class="bcms-success-messages" style="display: none">
            </ul>
            <ul class="bcms-info-messages" style="display: none">
            </ul>
            <ul class="bcms-warning-messages">
                <li>
                    @PagesGlobalization.EditPageContent_Messages_DraftStatusWarnMessage
                    @if (Model.HasPublishedContent && canEdit)
                    {
                        @Html.Raw(PagesGlobalization.EditPageContent_Messages_DraftStatusWarnMessage_Destroy)
                    }
                </li>
            </ul>
            <ul class="bcms-error-messages" style="display: none">
            </ul>
        </div>
    }
    @using (Html.BeginForm<BlogController>(c => c.SaveBlogPost(null), FormMethod.Post, new { @id = "bcms-blog-post-form", @class = "bcms-ajax-form" }))
    {
        @Html.HiddenFor(model => model.Id, new { data_bind = "value: id()" })
        @Html.HiddenFor(model => model.Version, new { data_bind = "value: version()" })
        @Html.HiddenFor(model => model.Image.ImageId, new { data_bind = "value: image().id()" })
        @Html.HiddenFor(modal => modal.DesirableStatus, new { @class = "bcms-content-desirable-status" })        
        @Html.HiddenFor(model => model.EditInSourceMode, new { @data_bind = "value: editInSourceMode()" })

        <div class="bcms-new-blog-content">

            <div class="bcms-blog-left @(!canEdit ? "bcms-disabled-content" : string.Empty)">

                <div class="bcms-input-list-holder">
                    @Html.Tooltip(BlogGlobalization.EditBlockPost_Title_Tooltip_Description)
                    <div class="bcms-content-titles">@BlogGlobalization.EditBlockPost_Title_Title</div>
                    <div class="bcms-input-box">
                        @Html.TextBoxFor(m => m.Title, GetAttributesObject(canEdit, new { @style = "width: 510px;", @class = "bcms-editor-field-box", @id = "bcms-editor-blog-title" }))
                        @Html.ValidationMessageFor(m => m.Title)
                    </div>
                </div>

                @Html.Partial("Partial/AddNewBlogEditPermalink")

                <div class="bcms-input-list-holder">
                    @Html.Tooltip(BlogGlobalization.EditBlockPost_IntroText_Tooltip_Description)
                    <div class="bcms-content-titles">@BlogGlobalization.EditBlockPost_IntroText_Title</div>
                    <div class="bcms-textarea-box">
                        @Html.TextAreaFor(m => m.IntroText, GetAttributesObject(canEdit, new { @style = "width: 510px; height: 170px;", @class = "bcms-editor-field-area" }))
                        @Html.ValidationMessageFor(m => m.IntroText)
                    </div>
                </div>
                <div class="bcms-input-list-holder">
                    @Html.Tooltip(BlogGlobalization.EditBlockPost_Content_Tooltip_Description)
                    <div class="bcms-content-titles">@BlogGlobalization.EditBlockPost_Content_Title</div>
                    @Html.TextAreaFor(model => model.Content, GetAttributesObject(canEdit, new { @id = "bcms-contenthtml" }))
                </div>

            </div>
            <div class="bcms-blog-right">

                <div class="bcms-blog-dates-holder">
                    <div class="bcms-input-field-holder">
                        @Html.Tooltip(BlogGlobalization.EditBlockPost_LiveDates_Tooltip_Description)
                        <div class="bcms-content-titles">@BlogGlobalization.EditBlockPost_LiveFrom_Title</div>
                        <div class="bcms-date-input-box">
                            @Html.DateTextBoxFor(model => model.LiveFromDate, Model.LiveFromDate, GetAttributesObject(true, new { @class = "bcms-editor-field-box bcms-datepicker", @style = "width: 127px;" }))
                            @Html.ValidationMessageFor(m => m.LiveFromDate)
                        </div>
                    </div>
                    <div class="bcms-input-field-holder">
                        <div class="bcms-content-titles">@BlogGlobalization.EditBlockPost_LiveTo_Title</div>
                        <div class="bcms-date-input-box">
                            @Html.DateTextBoxFor(model => model.LiveToDate, Model.LiveToDate, GetAttributesObject(true, new { @class = "bcms-editor-field-box bcms-datepicker", @style = "width: 127px;" }))
                            @Html.ValidationMessageFor(m => m.LiveToDate)
                        </div>
                    </div>
                </div>

                <div class="bcms-input-field-holder @(!canEdit ? "bcms-disabled-content" : string.Empty)">
                    @Html.Tooltip(BlogGlobalization.EditBlockPost_FeaturedImage_Tooltip_Description)
                    <div class="bcms-content-titles">@BlogGlobalization.EditBlockPost_FeaturedImage_Title</div>
                    <div class="bcms-uploaded-image">
                        <!-- ko if: image().url() -->
                        <a class="bcms-remove-image" data-bind="@(canEdit ? "click: image().remove.bind(image())" : string.Empty)">@RootGlobalization.Button_Remove</a>
                        <a data-bind="click: image().preview.bind(image())">
                            <img data-bind="attr: { src: image().versionedThumnailUrl(), alt: image().tooltip() }" /></a>
                        <!-- /ko -->
                    </div>
                    <div class="bcms-upload-info">
                        <div class="bcms-upload-info-text">@BlogGlobalization.EditBlockPost_FeaturedImage_Description</div>
                        <div class="bcms-btn-small" data-bind="@(canEdit ? "click: image().select.bind(image())" : string.Empty)">@BlogGlobalization.EditBlockPost_SelectImage_Button_Title</div>
                    </div>
                </div>

                <div class="bcms-input-field-holder @(!canEdit ? "bcms-disabled-content" : string.Empty)">
                    @Html.Tooltip(BlogGlobalization.EditBlockPost_Author_Tooltip_Description)
                    <div class="bcms-content-titles">@BlogGlobalization.EditBlockPost_Author_Title</div>
                    @Html.DropDownListFor(model => model.AuthorId, Model.Authors.ToSelectList(Model.AuthorId), string.Empty, GetAttributesObject(canEdit, new { @class = "bcms-global-select", @style = "width: 245px;" }))
                </div>

                <div class="bcms-input-field-holder @(!canEdit ? "bcms-disabled-content" : string.Empty)">
                    @Html.Tooltip(BlogGlobalization.EditBlockPost_Category_Tooltip_Description)
                    <div class="bcms-content-titles">@BlogGlobalization.EditBlockPost_Category_Title</div>
                    @Html.DropDownListFor(model => model.CategoryId, Model.Categories.ToSelectList(Model.CategoryId), string.Empty, GetAttributesObject(canEdit, new { @class = "bcms-global-select", @style = "width: 245px;" }))
                </div>

                <div class="bcms-blog-tags-holder @(!canEdit ? "bcms-disabled-content" : string.Empty)" data-bind="with: tags">
                    @Html.Partial("~/Areas/bcms-pages/Views/Tags/TagsTemplate.cshtml", tagsTemplateViewModel)
                </div>
            </div>
        </div>
    }
</div>
