<span>
    Widget (02).
    Current time @DateTime.Now
</span>
<br/>
<span>
No extra logic here.
</span>

<span>
Widget (03).
Current time @DateTime.Now
</span>
<br/>
<span>
Html helper:
</span>
<br/>

<span>
    @Html.RadioButton("test", "test1")
    @Html.RadioButton("test", "test2")
</span>

@Html.Partial("Partial/TestOptionValues")

