@using BetterCms.Module.Pages.Content.Resources
@using BetterCms.Module.Pages.Controllers
@using BetterCms.Module.Pages.ViewModels.SiteSettings
@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Root.Mvc.Grids.Extensions
@using BetterCms.Module.Root.Mvc.Grids.TableRenderers
@using BetterCms.Module.Root.Mvc.Helpers
@using Microsoft.Web.Mvc
@using MvcContrib.UI.Grid

@model BetterCms.Module.Root.ViewModels.SiteSettings.SearchableGridViewModel<SiteSettingRedirectViewModel>
           
@{
    Action<ColumnBuilder<SiteSettingRedirectViewModel>> columns;
}

@using (Html.BeginForm<RedirectController>(f => f.Redirects(null), FormMethod.Post, new { @id = "bcms-redirects-form", @class = "bcms-ajax-form" }))
{
    columns = column =>
    {
        column.EditButtonColumn();

        column.For(model => Html.InlineEditColumnWithNamePattern(m => model.PageUrl, "bcms-page-url", "bcms-old-page-url", "RedirectPageUrl_{0}"))
            .Named(PagesGlobalization.SiteSettings_Redirects_PageUrlColumn)
            .SortColumnName("PageUrl")
            .HeaderAttributes(@style => "width: 245px;")
            .Encode(false);

        column.For(model => Html.InlineEditColumnWithNamePattern(m => model.RedirectUrl, "bcms-redirect-url", "bcms-old-redirect-url", "RedirectRedirectUrl_{0}"))
           .Named(PagesGlobalization.SiteSettings_Redirects_RedirectUrlColumn)
           .SortColumnName("RedirectUrl")
           .Encode(false);

        column.InlineEditControlsColumn();
    };
    
    @Html.HiddenGridOptions(Model.GridOptions)

    <div class="bcms-twocols-title-block">
        <div class="bcms-large-titles">@PagesGlobalization.SiteSettings_Redirects_Title</div>
        <div class="bcms-btn-links-main" id="bcms-create-redirect-button">@PagesGlobalization.SiteSettings_Redirects_AddNew</div>
        <div class="bcms-search-block">
            @Html.TextBoxFor(m => m.SearchQuery, new { @class = "bcms-editor-field-box bcms-search-query", @placeholder = RootGlobalization.WaterMark_Search })
            <div class="bcms-btn-search" id="bcms-redirects-search-btn">@PagesGlobalization.SiteSettings_Redirects_Search</div>
        </div>
        <div class="bcms-featured-grid bcms-clearfix">
            @Html.RenderPaging(Model)
        </div>
    </div>
    
    @Html.SiteSettingsMessagesBox()
    
    @Html.Grid(Model.Items).Sort(Model.GridOptions).Columns(columns).Attributes(@class => "bcms-tables").RenderUsing(new EditableHtmlTableGridRenderer<SiteSettingRedirectViewModel>())

    @Html.HiddenSubmit()
}

<script type="text/html" id="bcms-editable-row-template">
    @Html.Grid(new List<SiteSettingRedirectViewModel> {new SiteSettingRedirectViewModel()}).Columns(columns).Attributes(@class => "bcms-tables").RenderUsing(new HtmlTableGridSingleRowRenderer<SiteSettingRedirectViewModel>())
</script>