@using BetterCms.Module.Users.Content.Resources
@using Microsoft.Web.Mvc

@model BetterCms.Module.Users.ViewModels.Registration.CreateFirstUserViewModel

@{
    Layout = "~/Areas/bcms-users/Views/Shared/PublicActionLayout.cshtml";
    ViewBag.Title = "Better CMS - Users Module Registration";
}

@using (Html.BeginForm())
{
    <h2>Create first user for the Better CMS</h2>
    <div class="validation-summary-valid" data-valmsg-summary="true">
        @Html.ValidationSummary()
    </div>
    <div>
        <span class="bcms-title">@UsersGlobalization.EditUser_FirstName_Title</span>
        <p>
            @Html.TextBoxFor(m => m.FirstName, new { @class = "bcms-editor-field-box", @id = "firstName" })
            @Html.ValidationMessageFor(m => m.FirstName)
        </p>
    </div>

    <div>
        <span class="bcms-title">@UsersGlobalization.EditUser_LastName</span>
        <p>
            @Html.TextBoxFor(m => m.LastName, new { @class = "bcms-editor-field-box" })
            @Html.ValidationMessageFor(m => m.LastName)
        </p>
    </div>

    <div>
        <span class="bcms-title">@UsersGlobalization.EditUser_UserName_Title</span>
        <p>
            @Html.TextBoxFor(m => m.UserName, new { @class = "bcms-editor-field-box" })
            @Html.ValidationMessageFor(m => m.UserName)
        </p>
    </div>

    <div>
        <span class="bcms-title">@UsersGlobalization.EditUser_Email_Title</span>
        <p>
            @Html.TextBoxFor(m => m.Email, new { @class = "bcms-editor-field-box" })
            @Html.ValidationMessageFor(m => m.Email)
        </p>
    </div>

    <div>
        <span class="bcms-title">@UsersGlobalization.EditUser_Password_Title</span>
        <p>
            @Html.PasswordFor(m => m.Password, new { @class = "bcms-editor-field-box" })
            @Html.ValidationMessageFor(m => m.Password)
        </p>
    </div>

    <div>
        <span class="bcms-title">@UsersGlobalization.EditUser_RetypePassword_Title</span>
        <p>
            @Html.PasswordFor(m => m.RetypedPassword, new { @class = "bcms-editor-field-box" })
            @Html.ValidationMessageFor(m => m.RetypedPassword)
        </p>
    </div>
    @Html.SubmitButton("submit", "Save", new { @class = "bcms-btn-small" })
}

<script type="text/javascript">
    (function() {
        document.getElementById('firstName').focus();
    })();    
</script>