@using BetterCms.Module.Root.Mvc.UI
@using BetterCms.Module.Users.Content.Resources

@model BetterCms.Module.Users.ViewModels.Role.EditRoleViewModel
            
<div class="bcms-scroll-window">
    <div class="bcms-padded-content">

    <div class="bcms-input-list-holder bcms-first-child-holder">
        @Html.Tooltip(UsersGlobalization.Role_AddNew_Dialog_RoleTooltip_Title, UsersGlobalization.Role_AddNew_Dialog_Tooltip_Description)
        <div class="bcms-content-titles">@UsersGlobalization.Role_AddNew_Dialog_RoleName_Title</div>
        @Html.TextBoxFor(m => m.RoleName, new { @class = "bcms-editor-field-box" })
    </div>
        <div class="bcms-permissions-column">
            @for (int i = 0, j =0; i < Model.PremissionsList.Count; i++, j++)
            {
                if (j == 5)
                {
                    j = 0;
                    @:</div>
                    @:<div class="bcms-permissions-column">
                }
                <div class="bcms-edit-check-field">
                    @Html.CheckBoxFor(a => Model.PremissionsList[i].IsSelected, new { @class = "bcms-edit-label" }) 
                    <div class="bcms-edit-label">@Model.PremissionsList[i].Name</div>
                </div>
            }
        </div>
    </div>
</div>
