@using BetterCms.Module.Root.Content.Resources
@model BetterCms.Module.Root.Mvc.Grids.EditableGridBooleanColumn

<td @Html.Raw(Model.Attributes)>
    @if (Model.CanBeEdited)
    {
        <!-- ko if: isActive() -->
        <input type="checkbox" class="bcms-checkbox-holder bcms-pointer" data-bind="
            checked: @(Model.ValueBind),
            click: onItemSelect,
            event: {blur: onBlurField, focus: onItemSelect},
            enterPress: onSave, 
            afterRender: initInput($element, @Model.ValueBind),
            escPress: onCancelEdit
            @(Model.AutoFocus ? ", hasfocus: isActive() && hasFocus" : "") " />
        <!-- /ko -->
        <!-- ko ifnot: isActive() -->
    }
    @if (Model.ShowValueAsText)
    {
        <a class="bcms-tables-link" data-bind="text: @(Model.ValueBind)() === true || @(Model.ValueBind)() === 'true'
            ? '@RootGlobalization.Button_Yes' 
            : (@(Model.ValueBind)() === false || @(Model.ValueBind)() === 'false' ? '@RootGlobalization.Button_No' : '&nbsp;')"></a>
    }
    else
    {
        <input type="checkbox" class="bcms-checkbox-holder" data-bind="checked: @(Model.ValueBind)(), click: onOpen" />
    }
    @if (Model.CanBeEdited)
    {
        <!-- /ko -->
    }
</td>