@using BetterCms.Module.Root.Content.Resources
@model BetterCms.Module.Root.ViewModels.Shared.EditableGridViewModel
<div class="@Model.TopBlockClass">
    @Html.Partial(Model.TopBlockAddItemView, Model)

    <div class="bcms-top-block-inner" data-bind="css: { 'bcms-active-search': searchEnabled() }">
        @if (Model.ShowSearch)
        {
            <div data-bind="click: toggleSearch" class="bcms-btn-search">@RootGlobalization.Button_Search</div>
            <div class="bcms-search-block">
                <input data-bind="value: options().searchQuery, valueUpdate: 'afterkeydown', enterPress: searchItems, hasfocus: options().hasFocus" type="text" class="bcms-search-field-box bcms-js-search-box" placeholder="@RootGlobalization.WaterMark_Search" />
            </div>
        }
    </div>

    @if (Model.AddPaging)
    {
        <!-- ko with: options().paging -->
        <div class="bcms-top-block-pager">
            @Html.Partial(Model.PagingView, Model)
        </div>
        <!-- /ko -->
    }
</div>