@using BetterCms.Module.Root
@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Root.Mvc.Helpers
@using BetterCms.Module.Vimeo.Content.Resources
<div class="bcms-scroll-window">
    <div class="bcms-data-content-modal">
        @* Form is required for unobtrusive validation *@
        @using (Html.BeginForm(null, null, null, FormMethod.Post, new {@class = "bcms-ajax-form"}))
        {
            <div class="bcms-data-bind-container" data-bind="template: { name: 'bcms-vimeo-list-template' }"></div>
        }
    </div>
</div>
<script type="text/html" id="bcms-vimeo-list-template">
    <div class="bcms-top-block-holder">
        <div class="clearfix">
            <div class="bcms-media-controls-holder">
                <a id="bcms-list-view" class="bcms-select-list" data-bind="click: switchViewStyle, css: { 'bcms-select-active': !isGrid() }"></a>
                <a id="bcms-grid-view" class="bcms-select-grid" data-bind="click: switchViewStyle, css: { 'bcms-select-active': isGrid() }"></a>
                <div class="bcms-vertical-separator"></div>
            </div>
            <div class="bcms-search-block">
                <input id="bcms-search-input" name="MediaSearch" data-bind="value: gridOptions().searchQuery, valueUpdate: 'afterkeydown', enterPress: searchMedia" class="bcms-editor-field-box" type="text" placeholder="@RootGlobalization.WaterMark_Search" />
                <div class="bcms-btn-search" data-bind="click: searchMedia">@RootGlobalization.Button_Search</div>
            </div>
        </div>
        <div class="bcms-featured-grid clearfix">
            <div class="bcms-check-field-holder">
                <div class="bcms-check-field"><input type="checkbox" data-bind="checked: searchInAllAccounts"></div>
                <div class="bcms-check-label">Search public videos from all accounts</div>
            </div>
            <!-- ko with: gridOptions().paging -->
            @Html.Partial(RootModuleConstants.EditableGridPagingTemplate)
            <!-- /ko -->
        </div>
    </div>
    @Html.SiteSettingsMessagesBox("bcms-vimeo-messages")
    <div id="bcms-view-container" data-bind="css: { 'bcms-list': !isGrid(), 'bcms-grid': isGrid() }" class="bcms-list">
        <div class="bcms-media-sorting-block">
@*            <div class="bcms-media-col-1"></div>*@
@*            <div class="bcms-media-col-2">*@
@*                <a class="bcms-sort-arrow">@MediaGlobalization.MediaList_FileNameColumn</a>*@
@*            </div>*@
@*            <div class="bcms-media-col-3">*@
@*                <a class="bcms-sort-arrow">@MediaGlobalization.MediaList_FileTypeColumn</a>*@
@*            </div>*@
        </div>
        <!-- ko if: showNoDataInfoDiv() -->
        <div class="bcms-nomedia-data">@VimeoGlobalization.VideoSelectionDialog_NoVideosFound_Message</div>
        <!-- /ko -->
        <div data-bind="foreach: medias()">
            <div data-bind="css: rowClassNames(), click: select.bind($data), clickBubble: false">
                <div class="bcms-media-items-block">
                    <div class="bcms-system-file bcms-video-icn" data-bind="css: { 'bcms-media-file-holder': !!getImageUrl(), 'bcms-system-file bcms-video-icn': !getImageUrl() }">
                        <!-- ko if: getImageUrl() -->
                        <img data-bind="attr: { alt: tooltip(), src: getImageUrl() }" style="width: 100%; height: 100%;" />
                        <!-- /ko -->
                    </div>
                    <div class="bcms-media-name">
                        <!-- ko text: name() --><!-- /ko -->
                        <!-- ko text: !isPublic() ? '(private)' : '' --><!-- /ko -->
                        <br />
                        <span class="bcms-parent-folder" data-bind="text: ownerName()"></span>
                        <span class="bcms-parent-folder" data-bind="text: isTranscoding() ? 'Transcoding...' : ''"></span>
                    </div>
                </div>
                <div class="bcms-media-edit-controls">
                    <a class="bcms-icn-edit" data-bind="click: preview">Preview</a>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="bcms-video-preview-template">
    <div class="bcms-modal">
        <div class="bcms-preview-image-border">
            <a class="bcms-btn-close">Close</a>
            <div class="bcms-preview-image-frame">
                <iframe src="" width="" height="" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                <div class="bcms-loader"></div>
            </div>
            <div class="bcms-grid-image-holder" style="display: none;"> </div>
        </div>
    </div>
</script>
