@using BetterCms.Module.Pages.Content.Resources
@using BetterCms.Module.Root.Mvc.Helpers
@using BetterCms.Module.Root.Mvc.UI

@model BetterCms.Module.Pages.ViewModels.Content.PageContentViewModel

@Html.HiddenFor(model => model.EditInSourceMode, new { @id = "bcms-edit-in-source-mode" })
@Html.HiddenFor(model => model.ContentTextMode, new { @id = "bcms-content-text-mode" })

<div class="bcms-newcontent-top">
    <div class="bcms-input-field-holder">
        @Html.Tooltip(PagesGlobalization.AddPageContent_RegularContentTab_ContentName_Tooltip_Description)
        <div class="bcms-content-titles">@PagesGlobalization.AddPageContent_RegularContentTab_ContentName_Title:</div>
        <div class="bcms-custom-input-box">
            @Html.TextBoxFor(model => model.ContentName, new { @class = "bcms-editor-field-box", style = "width: 523px;" })
            @Html.BcmsValidationMessageFor(model => model.ContentName)
        </div>
    </div>
    <div class="bcms-input-field-holder">
        <div class="bcms-content-titles">@PagesGlobalization.AddPageContent_RegularContentTab_LiveFrom_Title:</div>
        <div class="bcms-date-input-box">
            @Html.DateTextBoxFor(model => model.LiveFrom, Model.LiveFrom, new Dictionary<string, object> { { "class", "bcms-editor-field-box bcms-datepicker" }, { "style", "width: 127px;" } })
            @Html.BcmsValidationMessageFor(model => model.LiveFrom)
        </div>
    </div>
    <div class="bcms-input-field-holder">
        <div class="bcms-content-titles">@PagesGlobalization.AddPageContent_RegularContentTab_LiveTo_Title:</div>
        <div class="bcms-date-input-box">
            @Html.DateTextBoxFor(model => model.LiveTo, Model.LiveTo, new Dictionary<string, object> { { "class", "bcms-editor-field-box bcms-datepicker" }, { "style", "width: 127px;" } })
            @Html.BcmsValidationMessageFor(model => model.LiveTo)
        </div>
    </div>
</div>

<div class="bcms-text-editor-holder">
    @Html.TextAreaFor(model => model.PageContent, new { @class = "bcms-contenthtml", @id = Guid.NewGuid() })
</div>