@* --------------------------------------------------------------------------------------------------------------------
// <copyright file="EditHtmlContent.cshtml" company="Devbridge Group LLC">
// 
// Copyright (C) 2015,2016 Devbridge Group LLC
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU Lesser General Public License
// along with this program.  If not, see http://www.gnu.org/licenses/. 
// </copyright>
// 
// <summary>
// Better CMS is a publishing focused and developer friendly .NET open source CMS.
// 
// Website: https://www.bettercms.com 
// GitHub: https://github.com/devbridge/bettercms
// Email: info@bettercms.com
// </summary>
// -------------------------------------------------------------------------------------------------------------------- *@
@using BetterCms.Module.Pages.Content.Resources
@using BetterCms.Module.Root.Mvc.Helpers
@using BetterCms.Module.Root.Mvc.UI
@model BetterCms.Module.Pages.ViewModels.Content.PageContentViewModel

@Html.HiddenFor(model => model.EditInSourceMode, new { @id = "bcms-edit-in-source-mode" })
@Html.HiddenFor(model => model.ContentTextMode, new { @id = "bcms-content-text-mode" })

<div class="bcms-content-info-block">
    <div class="bcms-input-list-holder">
        <div class="bcms-content-titles">@PagesGlobalization.AddPageContent_RegularContentTab_ContentName_Title</div>
        @Html.Tooltip(PagesGlobalization.AddPageContent_RegularContentTab_ContentName_Tooltip_Description)
        <div class="bcms-field-wrapper">
            @Html.TextBoxFor(model => model.ContentName, new { @class = "bcms-field-text" })
            @Html.BcmsValidationMessageFor(model => model.ContentName)
        </div>
    </div>

    <div class="bcms-input-list-holder">
        <div class="bcms-content-titles">@PagesGlobalization.AddPageContent_RegularContentTab_LiveFrom_Title</div>
        <div class="bcms-field-wrapper">
            @Html.DateTextBoxFor(model => model.LiveFrom, Model.LiveFrom, new Dictionary<string, object> { { "class", "bcms-field-text bcms-datepicker" } })
            @Html.BcmsValidationMessageFor(model => model.LiveFrom)
        </div>
    </div>

    <div class="bcms-input-list-holder">
        <div class="bcms-content-titles">@PagesGlobalization.AddPageContent_RegularContentTab_LiveTo_Title</div>
        <div class="bcms-field-wrapper">
            @Html.DateTextBoxFor(model => model.LiveTo, Model.LiveTo, new Dictionary<string, object> { { "class", "bcms-field-text bcms-datepicker" } })
            @Html.BcmsValidationMessageFor(model => model.LiveTo)
        </div>
    </div>
</div>

<div class="bcms-field-wrapper">
    @Html.TextAreaFor(model => model.PageContent, new { @class = "bcms-contenthtml", @id = Guid.NewGuid() })
</div>
