@using BetterCms.Module.Pages.Content.Resources
@using BetterCms.Module.Root
@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Root.Mvc
@model BetterCms.Module.Pages.ViewModels.Widgets.SelectWidgetViewModel

<div class="bcms-top-block-holder">
    @if ((ViewContext.Controller as CmsControllerBase).SecurityService.IsAuthorized(RootModuleConstants.UserRoles.Administration))
    {
        <div class="bcms-top-controls-btn-holder">
            <div class="bcms-btn-main" id="bcms-create-advanced-content-button">@PagesGlobalization.AddPageContent_WidgetTab_AddNewButton</div>

            <div class="bcms-btn-opener"> </div>
            <div class="bcms-btn-opener-holder">
                <div class="bcms-btn-opener-link" id="bcms-registeradvanced-content-button">@PagesGlobalization.AddPageContent_WidgetTab_RegisterButton</div>
            </div>
        </div>
    }

    <div class="bcms-top-block-inner">
        <div class="bcms-btn-search" id="bcms-advanced-content-search-btn">@PagesGlobalization.AddPageContent_WidgetTab_SearchButton</div>
        <div class="bcms-search-block">
            <input type="text" id="bcms-advanced-content-search" class="bcms-search-field-box" placeholder="@RootGlobalization.WaterMark_Search" />
        </div>
    </div>
</div>

<div class="bcms-content-sliders" id="bcms-advanced-contents-container">
    @Html.Partial("~/Areas/bcms-pages/Views/Content/Partial/WidgetRecent.cshtml", Model.RecentWidgets)
    @Html.Partial("~/Areas/bcms-pages/Views/Content/Partial/WidgetCategories.cshtml", Model.WidgetCategories)
</div>