@using BetterCms.Module.Pages.Content.Resources
@using BetterCms.Module.Pages.Controllers
@using BetterCms.Module.Pages.ViewModels.Page

@using BetterCms.Module.Root.Mvc.Helpers
@using BetterCms.Module.Root.Mvc.UI
@using Microsoft.Web.Mvc

@model ClonePageViewModel

<div class="bcms-scroll-window">
    <div class="bcms-padded-content">
        @using (Html.BeginForm<PageController>(f => f.ClonePage((ClonePageViewModel)null), FormMethod.Post, new { @class = "bcms-ajax-form"}))
        {
            @Html.MessagesBox("clone-page-messages")
            
            @Html.HiddenFor(m => m.PageId)
            @Html.HiddenFor(m => m.Version)

            <div class="bcms-input-list-holder bcms-first-child-holder">
                <strong>@PagesGlobalization.ClonePage_Dialog_ConfirmationMessage_Header</strong>
                <p>@PagesGlobalization.ClonePage_Dialog_ConfirmationMessage_Text</p>
            </div>
            <div class="bcms-input-list-holder">
                @Html.Tooltip(PagesGlobalization.ClonePage_Dialog_PageTitle_Tooltip_Title, PagesGlobalization.ClonePage_Dialog_PageTitle_Tooltip_Description)
                <div class="bcms-content-titles">@PagesGlobalization.ClonePage_Dialog_PageTitle</div>
                @Html.TextBoxFor(m => m.PageTitle, new { @class = "bcms-editor-field-box", @style = "width: 815px;" })
            </div>

            <div class="bcms-input-list-holder bcms-first-child-holder">
                @Html.Tooltip(PagesGlobalization.ClonePage_Dialog_PageUrl_Tooltip_Title, PagesGlobalization.ClonePage_Dialog_PageUrl_Tooltip_Description)
                <div class="bcms-content-titles">@PagesGlobalization.ClonePage_Dialog_PageUrl</div>
                @Html.TextBoxFor(m => m.PageUrl, new { @class = "bcms-editor-field-box", @style = "width: 815px;" })
            </div>
            
            @Html.HiddenSubmit()
        }
    </div>
</div>
