@using BetterCms.Module.Pages.Content.Resources
@using BetterCms.Module.Pages.Controllers
@using BetterCms.Module.Pages.ViewModels.Page
@using BetterCms.Module.Root
@using BetterCms.Module.Root.Mvc.Helpers
@using Microsoft.Web.Mvc

@model ClonePageWithCultureViewModel

<div class="bcms-scroll-window">
    @Html.TabbedContentMessagesBox()
    <div class="bcms-padded-content">
        @using (Html.BeginForm<PageController>(f => f.ClonePageWithCulture((string)null), FormMethod.Post, new { @class = "bcms-ajax-form" }))
        {
            <div class="bcms-input-list-holder">
                <div class="bcms-content-titles">@PagesGlobalization.ClonePageWithCulture_Dialog_ConfirmationMessage_Header</div>
                <div>@PagesGlobalization.ClonePageWithCulture_Dialog_ConfirmationMessage_Text</div>
            </div>

            <div class="bcms-input-list-holder">
                @Html.Tooltip(PagesGlobalization.ClonePageWithCulture_Dialog_Culture_Tootlip)
                <div class="bcms-content-titles">@PagesGlobalization.ClonePageWithCulture_Dialog_Culture_Title</div>
                <div class="bcms-input-box">
                    @Html.DropDownListFor(model => model.CultureId, Model.Cultures.ToSelectList(Model.CultureId), string.Empty, new { @class = "bcms-global-select" })
                    @Html.BcmsValidationMessageFor(f => f.CultureId)
                </div>
            </div>

            <div class="bcms-input-list-holder">
                @Html.Tooltip(PagesGlobalization.ClonePage_Dialog_PageTitle_Tooltip_Description)
                <div class="bcms-content-titles">@PagesGlobalization.ClonePage_Dialog_PageTitle</div>
                <div class="bcms-input-box">
                    @Html.TextBoxFor(m => m.PageTitle, new { @class = "bcms-editor-field-box" })
                    @Html.BcmsValidationMessageFor(f => f.PageTitle)
                </div>
            </div>

            @Html.Partial("Partial/ClonePageEditUrl")

            if (Model.AccessControlEnabled)
            {
                @Html.Partial(RootModuleConstants.AccessControlTemplate)
            }

            @Html.HiddenFor(m => m.PageId)
            @Html.HiddenFor(m => m.CultureId)
            @Html.HiddenSubmit()
        }
    </div>
</div>
