@using BetterCms.Module.Pages.Content.Resources
@using BetterCms.Module.Pages.Controllers
@using BetterCms.Module.Pages.ViewModels.Page

@using BetterCms.Module.Root
@using BetterCms.Module.Root.Mvc
@using BetterCms.Module.Root.Mvc.Helpers
@using Microsoft.Web.Mvc

@model DeletePageViewModel
<div class="bcms-scroll-window">
    @Html.TabbedContentMessagesBox()
    <div class="bcms-padded-content">
        @using (Html.BeginForm<PageController>(f => f.DeletePage(null), FormMethod.Post, 
            new {
                    @class = "bcms-ajax-form",
                    data_readonly = (Model.ValidationMessage != null) ? "true" : "false"
                }))
        {
            <div class="bcms-input-list-holder">
                <div class="bcms-content-titles">@PagesGlobalization.DeletePage_Dialog_ConfirmationMessage_Header</div>
                <div>@PagesGlobalization.DeletePage_Dialog_ConfirmationMessage_Text</div>
            </div>
            <div class="bcms-input-list-holder">
                @Html.Tooltip(PagesGlobalization.DeletePage_Dialog_RedurectUrl_Tooltip_Description)
                <div class="bcms-content-titles">@PagesGlobalization.DeletePage_Dialog_RedirectUrl</div>
                <div class="bcms-input-box">
                    @Html.TextBoxFor(m => m.RedirectUrl, new { @class = "bcms-editor-field-box", @id = "PageTitle" })
                    @Html.BcmsValidationMessageFor(f => f.RedirectUrl)
                </div>
            </div>

            <div class="bcms-input-list-holder">
                @Html.Tooltip(PagesGlobalization.DeletePage_Dialog_SecurityWord_Tooltip_Description)
                <div class="bcms-content-titles">@PagesGlobalization.DeletePage_Dialog_SecurityWord</div>
                <div class="bcms-input-box">
                    @Html.TextBoxFor(m => m.SecurityWord, new { @class = "bcms-editor-field-box", @id = "SecurityWord" })
                    @Html.BcmsValidationMessageFor(f => f.SecurityWord)
                </div>
            </div>

            if (Model.IsInSitemap && (ViewContext.Controller as CmsControllerBase).SecurityService.IsAuthorized(RootModuleConstants.UserRoles.EditContent))
            {
                <div class="bcms-input-list-holder">
                    @Html.Tooltip(PagesGlobalization.DeletePage_Dialog_UpdateSitemap_Description)
                    <div class="bcms-content-titles">@PagesGlobalization.DeletePage_Dialog_UpdateSitemap</div>
                    <div class="bcms-edit-check-field">
                        @Html.CheckBoxFor(m => m.UpdateSitemap, new { @id = "UpdateSitemap" })
                        <div class="bcms-edit-label">@PagesGlobalization.DeletePage_Dialog_UpdateSitemap_RemovePageFromSitemap</div>
                    </div>
                </div>
            }

            @Html.HiddenFor(m => m.PageId)
            @Html.HiddenFor(m => m.Version)
            @Html.HiddenSubmit()
        }
    </div>
</div>
