@using BetterCms.Module.Pages.Content.Resources
@using BetterCms.Module.Pages.Controllers
@using BetterCms.Module.Pages.Helpers
@using BetterCms.Module.Pages.ViewModels.Page
@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Root.Mvc.Helpers
@using BetterCms.Module.Root.Mvc.UI
@using Microsoft.Web.Mvc

@model EditPagePropertiesViewModel

@{
    var tagsTemplateViewModel = new BetterCms.Module.Pages.ViewModels.Tags.TagsTemplateViewModel
    {
        TooltipTitle = PagesGlobalization.EditPageProperties_BasicPropertiesTab_AddTags_Tooltip_Title,
        TooltipDescription = PagesGlobalization.EditPageProperties_BasicPropertiesTab_AddTags_Tooltip_Description
    };
}

<div class="bcms-tab-header">
    <a class="bcms-tab bcms-tab-active" href="#bcms-tab-1">@PagesGlobalization.EditPageProperties_BasicPropertiesTab_Title</a>
    <a class="bcms-tab" href="#bcms-tab-2">@PagesGlobalization.EditPageProperties_AdvancedPropertiesTab_Title</a>
    <a class="bcms-tab" href="#bcms-tab-3">@PagesGlobalization.EditPageProperties_LayoutPropertiesTab_Title</a>
</div>

<div class="bcms-scroll-window">
    @Html.TabbedContentMessagesBox()
    <div class="bcms-padded-content">
        @using (Html.BeginForm<PageController>(f => f.EditPageProperties((EditPagePropertiesViewModel)null), FormMethod.Post, new { @class = "bcms-ajax-form" }))
        {
            <div id="bcms-tab-1" class="bcms-tab-single">               
                <div class="bcms-input-list-holder">
                    @Html.Tooltip(PagesGlobalization.EditPageProperties_BasicPropertiesTab_PageName_Tooltip_Title, PagesGlobalization.EditPageProperties_BasicPropertiesTab_PageName_Tooltip_Description)
                    <div class="bcms-content-titles">@PagesGlobalization.EditPageProperties_BasicPropertiesTab_PageName_Title</div>
                    @Html.TextBoxFor(model => model.PageName, new { @class = "bcms-editor-field-box" })
                </div>
                
                @Html.Partial("Partial/PagePropertiesEditPermalink")

                <div class="bcms-input-list-holder">
                    @Html.Tooltip(PagesGlobalization.EditPageProperties_BasicPropertiesTab_PageImage_Tooltip_Title, PagesGlobalization.EditPageProperties_BasicPropertiesTab_PageImage_Tooltip_Description)
                    <div class="bcms-content-titles">@PagesGlobalization.EditPageProperties_BasicPropertiesTab_PageImage_Title:</div>
                    <div class="bcms-uploaded-image">
                        <!-- ko if: image().url() -->
                        <a href="#" class="bcms-remove-image" data-bind="click: image().remove.bind(image())">@RootGlobalization.Button_Remove</a>
                        <a href="#" data-bind="click: image().preview.bind(image())"><img data-bind="attr: {src: image().versionedThumnailUrl(), alt: image().tooltip() }" /></a>
                        <!-- /ko -->
                    </div>
                    <div class="bcms-upload-info">
                        <div class="bcms-upload-info-text">@PagesGlobalization.EditPageProperties_BasicPropertiesTab_PageImage_Description</div>
                        <div class="bcms-btn-small" data-bind="click: image().select.bind(image())">@PagesGlobalization.EditPageProperties_BasicPropertiesTab_SelectImage_ButtonTitle</div>
                    </div>
                </div>
                
                <div class="bcms-input-list-holder">
                    @Html.Tooltip(PagesGlobalization.EditPageProperties_BasicPropertiesTab_Category_Tooltip_Title, PagesGlobalization.EditPageProperties_BasicPropertiesTab_Category_Tooltip_Description)
                    <div class="bcms-content-titles">@PagesGlobalization.EditPageProperties_BasicPropertiesTab_Category_Title:</div>
                    @Html.DropDownListFor(model => model.CategoryId, Model.Categories.ToSelectList(Model.CategoryId), string.Empty, new { @class = "bcms-global-select" })
                </div>

                <div class="bcms-tags-box-holder" data-bind="with: tags">
                    @Html.Partial("~/Areas/bcms-pages/Views/Tags/TagsTemplate.cshtml", tagsTemplateViewModel)
                </div>

                <div class="bcms-input-list-holder">
                    @Html.Tooltip(PagesGlobalization.EditPageProperties_AdvancedPropertiesTab_Privacy_Tooltip_Title, PagesGlobalization.EditPageProperties_AdvancedPropertiesTab_Privacy_Tooltip_Description)
                    <div class="bcms-content-titles">@PagesGlobalization.EditPageProperties_AdvancedPropertiesTab_Privacy_Title</div>
                    <div class="bcms-checkbox-holder">
                        @Html.CheckBoxFor(model => model.IsVisibleToEveryone)
                        @PagesGlobalization.EditPageProperties_AdvancedPropertiesTab_Privacy_VisibleToEveryone
                    </div>
                    <div class="bcms-checkbox-holder">
                        @Html.CheckBoxFor(model => model.UseNoFollow)
                        @PagesGlobalization.EditPageProperties_AdvancedPropertiesTab_UseNoFollow
                    </div>
                    <div class="bcms-checkbox-holder">
                        @Html.CheckBoxFor(model => model.UseNoIndex)
                        @PagesGlobalization.EditPageProperties_AdvancedPropertiesTab_UseNoIndex
                    </div>
                </div>
                @Html.HiddenFor(model => model.TemplateId, new { @id = "TemplateId" })
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Version)
                @Html.HiddenFor(model => model.Image.ImageId, new {data_bind = "value: image().id()"})   
            </div>

            <div id="bcms-tab-2" class="bcms-tab-single">
                <div class="bcms-input-list-holder">
                    @Html.Tooltip(PagesGlobalization.EditPageProperties_AdvancedPropertiesTab_PageCss_Tooltip_Title, PagesGlobalization.EditPageProperties_AdvancedPropertiesTab_PageCss_Tooltip_Description)
                    <div class="bcms-content-titles">@PagesGlobalization.EditPageProperties_AdvancedPropertiesTab_PageCss_Title</div>
                    @Html.TextAreaFor(model => model.PageCSS, new { @class = "bcms-editor-field-area" })
                </div>
                
                <div class="bcms-input-list-holder">
                    @Html.Tooltip(PagesGlobalization.EditPageProperties_AdvancedPropertiesTab_PageJavascript_Tooltip_Title, PagesGlobalization.EditPageProperties_AdvancedPropertiesTab_PageJavascript_Tooltip_Description)
                    <div class="bcms-content-titles">@PagesGlobalization.EditPageProperties_AdvancedPropertiesTab_PageJavascript_Title</div>
                    @Html.TextAreaFor(model => model.PageJavascript, new { @class = "bcms-editor-field-area" })
                </div>
            </div>

            <div id="bcms-tab-3" class="bcms-tab-single">
                
                <div class="bcms-input-list-holder">
                    @Html.Tooltip(PagesGlobalization.EditPageProperties_LayoutPropertiesTab_Layout_Tooltip_Title, PagesGlobalization.EditPageProperties_LayoutPropertiesTab_Layout_Tooltip_Description)
                    <div class="bcms-content-titles">@PagesGlobalization.EditPageProperties_LayoutPropertiesTab_ChooseLayout_Title:</div>
                </div>

                <div class="bcms-info-message-box">
                    <a class="bcms-btn-close">@RootGlobalization.Button_Close</a>
                    @Html.Raw(PagesGlobalization.EditPageProperties_LayoutPropertiesTab_InfoMessage)
                </div>
            
                @Html.Partial("Partial/TemplatesList", Model.Templates)

            </div>
            
            @Html.HiddenSubmit()
        }
    </div>
</div>