@using BetterCms.Module.Pages
@using BetterCms.Module.Pages.Content.Resources
@using BetterCms.Module.Pages.Controllers
@using BetterCms.Module.Pages.ViewModels.Page
@using BetterCms.Module.Root
@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Root.Mvc.Extensions
@using BetterCms.Module.Root.Mvc.Helpers
@using BetterCms.Module.Root.ViewModels.Category
@using BetterCms.Module.Root.ViewModels.Shared
@using BetterCms.Module.Root.ViewModels.Tags
@using Microsoft.Web.Mvc
@using MvcContrib.EnumerableExtensions

@model EditPagePropertiesViewModel
@if (Model == null)
{
    return;
}
@{
    var tagsTemplateViewModel = new TagsTemplateViewModel
    {
        TooltipDescription = PagesGlobalization.EditPageProperties_BasicPropertiesTab_AddTags_Tooltip_Description
    };

    var categoriesTemplateViewModel = new CategoryTemplateViewModel
    {
        TooltipDescription = PagesGlobalization.EditPageProperties_BasicPropertiesTab_Category_Tooltip_Description
    };
}

<div class="bcms-tab-header">
    <a class="bcms-tab-item bcms-active" data-name="#bcms-tab-1">@PagesGlobalization.EditPageProperties_BasicPropertiesTab_Title</a>
    <a class="bcms-tab-item" data-name="#bcms-tab-2">@PagesGlobalization.EditPageProperties_AdvancedPropertiesTab_Title</a>
    <a class="bcms-tab-item" data-name="#bcms-tab-3">@PagesGlobalization.EditPageProperties_LayoutPropertiesTab_Title</a>
    <a class="bcms-tab-item" data-name="#bcms-tab-4">@PagesGlobalization.EditPageProperties_OptionsTab_Title</a>
    @if (Model.ShowTranslationsTab)
    {
        <a class="bcms-tab-item" data-name="#bcms-tab-5">@PagesGlobalization.EditPageProperties_TranslationsTab_Title</a>
    }
</div>

<div class="bcms-scroll-window">
    @Html.TabbedContentMessagesBox()
    @if (Model.IsMasterPage)
    {
        @Html.Partial("Partial/InfoMessageAboutMasterPage")
    }
    @using (Html.BeginForm<PageController>(f => f.EditPageProperties((EditPagePropertiesViewModel)null), FormMethod.Post,
            new
            {
                @class = "bcms-ajax-form",
                data_readonly = Model.IsReadOnly.ToString().ToLower()
            }))
    {
        <div id="bcms-tab-1" class="bcms-tab-single">
            <div class="bcms-padded-content">
                <div class="bcms-input-list-holder">
                    @Html.Tooltip(PagesGlobalization.EditPageProperties_BasicPropertiesTab_PageName_Tooltip_Description)
                    <div class="bcms-content-titles">@PagesGlobalization.EditPageProperties_BasicPropertiesTab_PageName_Title</div>

                    <div class="bcms-input-box">
                        @Html.TextBoxFor(model => model.PageName, new { @class = "bcms-editor-field-box" })
                        @Html.BcmsValidationMessageFor(f => f.PageName)
                    </div>
                </div>

                @Html.Partial("Partial/PagePropertiesEditPermalink")

                <div class="bcms-page-images-holder">
                    <div class="bcms-input-list-holder">
                        @Html.Tooltip(PagesGlobalization.EditPageProperties_BasicPropertiesTab_PageImage_Tooltip_Description)
                        <div class="bcms-content-titles">@PagesGlobalization.EditPageProperties_BasicPropertiesTab_PageImage_Title</div>
                        <div class="bcms-uploaded-image">
                            <!-- ko if: image().url() -->
                            <a class="bcms-remove-image" data-bind="click: image().remove.bind(image())">@RootGlobalization.Button_Remove</a>
                            <a data-bind="click: image().preview.bind(image())">
                                <img data-bind="attr: { src: image().thumbnailUrl(), alt: image().tooltip() }" />
                            </a>
                            <!-- /ko -->
                        </div>
                        <div class="bcms-btn-small" data-bind="click: image().select.bind(image())">@PagesGlobalization.EditPageProperties_BasicPropertiesTab_SelectImage_ButtonTitle</div>
                    </div>

                    <div class="bcms-input-list-holder">
                        @Html.Tooltip(PagesGlobalization.EditPageProperties_BasicPropertiesTab_PageFeaturedImage_Tooltip_Description)
                        <div class="bcms-content-titles">@PagesGlobalization.EditPageProperties_BasicPropertiesTab_PageFeaturedImage_Title</div>
                        <div class="bcms-uploaded-image">
                            <!-- ko if: featuredImage().url() -->
                            <a class="bcms-remove-image" data-bind="click: featuredImage().remove.bind(featuredImage())">@RootGlobalization.Button_Remove</a>
                            <a data-bind="click: featuredImage().preview.bind(featuredImage())">
                                <img data-bind="attr: { src: featuredImage().thumbnailUrl(), alt: featuredImage().tooltip() }" />
                            </a>
                            <!-- /ko -->
                        </div>
                        <div class="bcms-btn-small" data-bind="click: featuredImage().select.bind(featuredImage())">@PagesGlobalization.EditPageProperties_BasicPropertiesTab_SelectImage_ButtonTitle</div>
                    </div>

                    <div class="bcms-input-list-holder">
                        @Html.Tooltip(PagesGlobalization.EditPageProperties_BasicPropertiesTab_PageSecondaryImage_Tooltip_Description)
                        <div class="bcms-content-titles">@PagesGlobalization.EditPageProperties_BasicPropertiesTab_PageSecondaryImage_Title</div>
                        <div class="bcms-uploaded-image">
                            <!-- ko if: secondaryImage().url() -->
                            <a class="bcms-remove-image" data-bind="click: secondaryImage().remove.bind(secondaryImage())">@RootGlobalization.Button_Remove</a>
                            <a data-bind="click: secondaryImage().preview.bind(secondaryImage())">
                                <img data-bind="attr: { src: secondaryImage().thumbnailUrl(), alt: secondaryImage().tooltip() }" />
                            </a>
                            <!-- /ko -->
                        </div>
                        <div class="bcms-btn-small" data-bind="click: secondaryImage().select.bind(secondaryImage())">@PagesGlobalization.EditPageProperties_BasicPropertiesTab_SelectImage_ButtonTitle</div>
                    </div>
                </div>

                <div class="bcms-categories-box-holder" data-bind="with: categories">
                    @Html.Partial("~/Areas/bcms-root/Views/Category/CategoriesTemplate.cshtml", categoriesTemplateViewModel)
                </div>

                <div class="bcms-tags-box-holder" data-bind="with: tags">
                    @Html.Partial("~/Areas/bcms-root/Views/Tags/TagsTemplate.cshtml", tagsTemplateViewModel)
                </div>

                @if (Model.AccessControlEnabled)
                {
                    @Html.Partial(RootModuleConstants.AccessControlTemplate)
                }

                @if (!Model.IsMasterPage)
                {
                    <div class="bcms-input-list-holder">
                        @Html.Tooltip(PagesGlobalization.EditPageProperties_Properties_Tooltip_Description)
                        <div class="bcms-content-titles">@PagesGlobalization.EditPageProperties_Properties_Title</div>
                        <div class="bcms-checkbox-holder">
                            @{
                    object options = null;
                    if (!Model.CanPublishPage)
                    {
                        options = new { disabled = "disabled" };
                    }
                            }
                            @Html.CheckBoxFor(model => model.IsPagePublished, options)
                            <div class="bcms-edit-label">@PagesGlobalization.EditPageProperties_AdvancedPropertiesTab_Privacy_VisibleToEveryone</div>
                        </div>
                        <div class="bcms-checkbox-holder">
                            @Html.CheckBoxFor(model => model.UseNoFollow)
                            <div class="bcms-edit-label">@PagesGlobalization.EditPageProperties_AdvancedPropertiesTab_UseNoFollow</div>
                        </div>
                        <div class="bcms-checkbox-holder">
                            @Html.CheckBoxFor(model => model.UseNoIndex)
                            <div class="bcms-edit-label">@PagesGlobalization.EditPageProperties_AdvancedPropertiesTab_UseNoIndex</div>
                        </div>
                        <div class="bcms-checkbox-holder">
                            @Html.CheckBoxFor(model => model.IsArchived)
                            <div class="bcms-edit-label">@PagesGlobalization.EditPageProperties_AdvancedPropertiesTab_IsArchived</div>
                        </div>
                    </div>
                    <div class="bcms-input-list-holder">
                        @Html.Tooltip(PagesGlobalization.EditPageProperties_ForceProtocol_Tooltip_Description)
                        <div class="bcms-content-titles">@PagesGlobalization.EditPageProperties_ForceProtocol_Title</div>
                        @Html.DropDownListFor(model => model.ForceAccessProtocol, Model.PageAccessProtocols.ToSelectList(Model.ForceAccessProtocol), null, new { @class = "bcms-global-select" })
                    </div>
                }
                @Html.HiddenFor(model => model.CanPublishPage)
                @Html.HiddenFor(model => model.TemplateId, new { @id = "TemplateId" })
                @Html.HiddenFor(model => model.MasterPageId, new { @id = "MasterPageId" })
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Version)
                @Html.HiddenFor(model => model.Image.ImageId, new { data_bind = "value: image().id()" })
                @Html.HiddenFor(model => model.SecondaryImage.ImageId, new { data_bind = "value: secondaryImage().id()" })
                @Html.HiddenFor(model => model.FeaturedImage.ImageId, new { data_bind = "value: featuredImage().id()" })
                @if (Model.ShowTranslationsTab)
                {
                    @Html.HiddenFor(model => model.LanguageId, new { data_bind = "value: translations.language.languageId()" })
                }
            </div>
        </div>

        <div id="bcms-tab-2" class="bcms-tab-single">
            <div class="bcms-padded-content">
                <div class="bcms-input-list-holder">
                    @Html.Tooltip(PagesGlobalization.EditPageProperties_AdvancedPropertiesTab_PageCss_Tooltip_Description)
                    <div class="bcms-content-titles">@PagesGlobalization.EditPageProperties_AdvancedPropertiesTab_PageCss_Title</div>
                    @Html.TextAreaFor(model => model.PageCSS, new { @class = "bcms-editor-field-area bcms-code-field bcms-code-field-css", @id = Guid.NewGuid() })
                </div>

                <div class="bcms-input-list-holder">
                    @Html.Tooltip(PagesGlobalization.EditPageProperties_AdvancedPropertiesTab_PageJavascript_Tooltip_Description)
                    <div class="bcms-content-titles">@PagesGlobalization.EditPageProperties_AdvancedPropertiesTab_PageJavascript_Title</div>
                    @Html.TextAreaFor(model => model.PageJavascript, new { @class = "bcms-editor-field-area bcms-code-field bcms-code-field-javascript", id = Guid.NewGuid() })
                </div>
            </div>
        </div>

        <div id="bcms-tab-3" class="bcms-tab-single">
            <div class="bcms-padded-content">
                <div class="bcms-input-list-holder">
                    @Html.Tooltip(PagesGlobalization.EditPageProperties_LayoutPropertiesTab_Layout_Tooltip_Description)
                    <div class="bcms-content-titles">@PagesGlobalization.EditPageProperties_LayoutPropertiesTab_ChooseLayout_Title</div>
                </div>

                <div class="bcms-info-message-box">
                    <a class="bcms-btn-close">@RootGlobalization.Button_Close</a>
                    @Html.Raw(PagesGlobalization.EditPageProperties_LayoutPropertiesTab_InfoMessage)
                </div>

                @Html.Partial("Partial/TemplatesList", Model.Templates)
            </div>
        </div>

        <div id="bcms-tab-4" class="bcms-tab-single" data-bind="with: options">
            @Html.Partial(PagesConstants.OptionValuesGridTemplate, new EditableGridViewModel())
        </div>

        if (Model.ShowTranslationsTab)
        {
            <div id="bcms-tab-5" class="bcms-tab-single">

                @if (Model.TranslationMessages != null)
                {
                    @Html.TabbedContentCustomMessagesBox(Model.TranslationMessages)
                }

                <div class="bcms-padded-content bcms-page-translations-content">
                    <div class="bcms-input-list-holder" data-bind="with: translations.language">
                        @Html.Tooltip(PagesGlobalization.EditPageProperties_TranslationsTab_Language_Tooltip_Description)
                        <div class="bcms-content-titles">@PagesGlobalization.EditPageProperties_TranslationsTab_Language</div>
                        <select class="bcms-global-select" data-bind="options: languages, optionsText: 'value', optionsValue: 'key', value: languageId"></select>
                    </div>

                    <div class="bcms-title-show-helper">
                        @Html.Tooltip(PagesGlobalization.EditPageTranslations_OtherLanguages_Tooltip)
                        <div class="bcms-content-titles">@PagesGlobalization.EditPageTranslations_OtherLanguages_Title</div>
                    </div>
                </div>

                @Html.Partial("Partial/TranslationsGrid")

            </div>
        }

        @Html.HiddenSubmit()
    }
</div>
