@using BetterCms.Module.Pages.Content.Resources
@using BetterCms.Module.Root.Mvc.UI
@model BetterCms.Module.Pages.ViewModels.History.HtmlContentHistoryViewModel
<div class="bcms-padded-content">
    <div class="bcms-newcontent-top">
        <div class="bcms-input-field-holder">
            <div class="bcms-content-titles">@PagesGlobalization.AddPageContent_RegularContentTab_ContentName_Title</div>
            <div class="bcms-custom-input-box">
                @Html.TextBoxFor(model => model.Name, new { @readonly = "readonly", @class = "bcms-editor-field-box", style = "width: 523px;" })
            </div>
        </div>
        <div class="bcms-input-field-holder">
            <div class="bcms-content-titles">@PagesGlobalization.AddPageContent_RegularContentTab_LiveFrom_Title</div>
            <div class="bcms-date-input-box">
                @Html.DateTextBoxFor(model => model.ActivationDate, Model.ActivationDate, new Dictionary<string, object> { { "readonly", "readonly" }, { "class", "bcms-editor-field-box bcms-datepicker" }, { "style", "width: 127px;" } })
            </div>
        </div>
        <div class="bcms-input-field-holder">
            <div class="bcms-content-titles">@PagesGlobalization.AddPageContent_RegularContentTab_LiveTo_Title</div>
            <div class="bcms-date-input-box">
                @Html.DateTextBoxFor(model => model.ExpirationDate, Model.ExpirationDate, new Dictionary<string, object> { { "readonly", "readonly" }, { "class", "bcms-editor-field-box bcms-datepicker" }, { "style", "width: 127px;" } })
            </div>
        </div>
    </div>
    <div class="bcms-input-list-holder">
        <div class="bcms-content-titles">@PagesGlobalization.HtmlContent_Content_Title</div>
        @Html.TextAreaFor(model => model.RowText, new { @readonly = "readonly", @class = "bcms-editor-field-area bcms-code-field ", @style = "width:820px;", @id = Guid.NewGuid() })
    </div>

    <div class="bcms-input-list-holder">
        <div class="bcms-content-titles">@PagesGlobalization.HtmlContent_CustomCss_Title</div>
        @Html.TextAreaFor(model => model.CustomCss, new { @readonly = "readonly", @class = "bcms-editor-field-area bcms-code-field bcms-code-field-css", @style = "width:820px;", @id = Guid.NewGuid() })
    </div>
    <div class="bcms-input-list-holder">
        <div class="bcms-edit-check-field">
            @Html.CheckBoxFor(model => model.UseCustomCss, new { @disabled = "disabled" })
            <div class="bcms-edit-label">@Html.Raw(PagesGlobalization.HtmlContent_RenderCustomCss_Title)</div>
        </div>
    </div>
    <div class="bcms-input-list-holder">
        <div class="bcms-content-titles">@PagesGlobalization.HtmlContent_CustomJs_Title</div>
        @Html.TextAreaFor(model => model.CustomJs, new { @readonly = "readonly", @class = "bcms-editor-field-area bcms-code-field bcms-code-field-javascript", @style = "width:820px;", @id = Guid.NewGuid() })
    </div>
    <div class="bcms-input-list-holder">
        <div class="bcms-edit-check-field">
            @Html.CheckBoxFor(model => model.UseCustomJs, new { @disabled = "disabled" })
            <div class="bcms-edit-label">@Html.Raw(PagesGlobalization.HtmlContent_RenderCustomJs_Title)</div>
        </div>
    </div>
</div>