@using BetterCms.Module.Pages.Content.Resources
@model BetterCms.Module.Pages.ViewModels.History.ServerWidgetHistoryViewModel

<div class="bcms-padded-content">
    <div class="bcms-input-list-holder">
        <div class="bcms-content-titles">@PagesGlobalization.Widget_Title_Title</div>
        <div class="bcms-field-wrapper">
            @Html.TextBoxFor(model => model.Name, new { @readonly = "readonly", @class = "bcms-field-text" })
        </div>
    </div>

    <div class="bcms-input-list-holder">
        <div class="bcms-content-titles">@PagesGlobalization.Widget_Url_Title</div>
        <div class="bcms-field-wrapper">
            @Html.TextBoxFor(model => model.Url, new { @readonly = "readonly", @class = "bcms-field-text" })
        </div>
    </div>

    <div class="bcms-input-list-holder">
        <div class="bcms-content-titles">@PagesGlobalization.WidgetPreviewImageUrl_Title</div>
        <div class="bcms-field-wrapper">
            @Html.TextBoxFor(model => model.PreviewUrl, new { @readonly = "readonly", @class = "bcms-field-text" })
        </div>
    </div>

    <div class="bcms-input-list-holder">
        <div class="bcms-content-titles">@PagesGlobalization.WidgetPreviewImage_Title</div>
        <div class="bcms-preview-module-image">
            @if (!string.IsNullOrWhiteSpace(Model.PreviewUrl))
            {
                <div>
                    <img id="bcms-widget-preview-image" src="@Model.PreviewUrl" alt=""/>
                </div>
            }
        </div>
    </div>
</div>