@* --------------------------------------------------------------------------------------------------------------------
    // <copyright file="WidgetPropertiesHistory.cshtml" company="Devbridge Group LLC">
    //
    // Copyright (C) 2015,2016 Devbridge Group LLC
    //
    // This program is free software: you can redistribute it and/or modify
    // it under the terms of the GNU Lesser General Public License as published by
    // the Free Software Foundation, either version 3 of the License, or
    // (at your option) any later version.
    //
    // This program is distributed in the hope that it will be useful,
    // but WITHOUT ANY WARRANTY; without even the implied warranty of
    // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    // GNU General Public License for more details.
    //
    // You should have received a copy of the GNU Lesser General Public License
    // along with this program.  If not, see http://www.gnu.org/licenses/.
    // </copyright>
    //
    // <summary>
    // Better CMS is a publishing focused and developer friendly .NET open source CMS.
    //
    // Website: https://www.bettercms.com
    // GitHub: https://github.com/devbridge/bettercms
    // Email: info@bettercms.com
    // </summary>
    // -------------------------------------------------------------------------------------------------------------------- *@
@using BetterCms.Module.Pages.Content.Resources
@model BetterCms.Module.Pages.ViewModels.History.HtmlContentWidgetHistoryViewModel

<div class="bcms-input-list-holder">
    <div class="bcms-content-titles">@PagesGlobalization.HtmlContentWidget_ContentName_Title</div>
    <div class="bcms-field-wrapper">
        @Html.TextBoxFor(model => model.Name, new { @readonly = "readonly", @class = "bcms-field-text" })
    </div>
</div>

<div class="bcms-input-list-holder">
    <div class="bcms-content-titles">@PagesGlobalization.HtmlContentWidget_CustomHTML_Title</div>
    <div class="bcms-field-wrapper">
        @Html.TextAreaFor(model => model.Html, new { @readonly = "readonly", @class = "bcms-advanced-contenthtml bcms-field-textarea bcms-code-field" })
    </div>

    <div class="bcms-checkbox-holder">
        @Html.CheckBoxFor(model => model.UseCustomHtml, new { @disabled = "disabled" })
        <div class="bcms-checkbox-label">@Html.Raw(PagesGlobalization.HtmlContentWidget_RenderCustomHTML_Title)</div>
    </div>
</div>

<div class="bcms-input-list-holder">
    <div class="bcms-content-titles">@PagesGlobalization.HtmlContentWidget_CustomCSS_Title</div>
    <div class="bcms-field-wrapper">
        @Html.TextAreaFor(model => model.CustomCss, new { @readonly = "readonly", @class = "bcms-field-textarea bcms-code-field bcms-code-field-css" })
    </div>

    <div class="bcms-checkbox-holder">
        @Html.CheckBoxFor(model => model.UseCustomCss, new { @disabled = "disabled" })
        <div class="bcms-checkbox-label">@Html.Raw(PagesGlobalization.HtmlContentWidget_RenderCustomCSS_Title)</div>
    </div>
</div>

<div class="bcms-input-list-holder">
    <div class="bcms-content-titles">@PagesGlobalization.HtmlContentWidget_CustomJS_Title</div>
    <div class="bcms-field-wrapper">
        @Html.TextAreaFor(model => model.CustomJs, new { @readonly = "readonly", @class = "bcms-field-textarea bcms-code-field bcms-code-field-javascript" })
    </div>

    <div class="bcms-checkbox-holder">
        @Html.CheckBoxFor(model => model.UseCustomJs, new { @disabled = "disabled" })
        <div class="bcms-checkbox-label">@Html.Raw(PagesGlobalization.HtmlContentWidget_RenderCustomJS_Title)</div>
    </div>
</div>
