@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Root.Mvc.Helpers
@using BetterCms.Module.Users.Content.Resources
@using BetterCms.Module.Users.Controllers
@using BetterCms.Module.Users.ViewModels.User
@using Microsoft.Web.Mvc

@model EditUserProfileViewModel

<div class="bcms-scroll-window" style="height: 527px;">
    @Html.TabbedContentMessagesBox()
    <div class="bcms-new-blog-content">
        @using (Html.BeginForm<UserProfileController>(c => c.SaveUserProfile(null), FormMethod.Post, new { @id = "bcms-user-profile-form", @class = "bcms-ajax-form" }))
        {
            @Html.HiddenFor(m => m.Version)
            @Html.HiddenFor(m => m.SecurityHash)
            @Html.HiddenFor(model => model.Image.ImageId, new { data_bind = "value: image().id()" })
            
            <div class="bcms-blog-left">
                <div class="bcms-input-list-holder">
                    <div class="bcms-tooltip-mark" data-message="@UsersGlobalization.EditUser_FirstName_Tooltip_Description"></div>
                    <div class="bcms-content-titles">@UsersGlobalization.EditUser_FirstName_Title</div>
                    <div class="bcms-input-box">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "bcms-editor-field-box", data_bind = "value: firstName, valueUpdate: 'afterkeydown'" })
                        @Html.BcmsValidationMessageFor(m => m.FirstName)
                    </div>
                </div>
                <div class="bcms-input-list-holder">
                    <div class="bcms-tooltip-mark" data-message="@UsersGlobalization.EditUser_LastName_Tooltip_Description"></div>
                    <div class="bcms-content-titles">@UsersGlobalization.EditUser_LastName</div>
                    <div class="bcms-input-box">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "bcms-editor-field-box", data_bind = "value: lastName, valueUpdate: 'afterkeydown'" })
                        @Html.BcmsValidationMessageFor(m => m.LastName)
                    </div>
                </div>
                <div class="bcms-input-list-holder">
                    <div class="bcms-tooltip-mark" data-message="@UsersGlobalization.EditUser_UserName_Tooltip_Description"></div>
                    <div class="bcms-content-titles">@UsersGlobalization.EditUser_UserName_Title</div>
                    <div class="bcms-input-box">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "bcms-editor-field-box", data_bind = "value: userName, valueUpdate: 'afterkeydown', event: {keyup: userNameOnKeyUp}" })
                        @Html.BcmsValidationMessageFor(m => m.UserName)
                    </div>
                </div>
                <div class="bcms-input-list-holder">
                    <div class="bcms-tooltip-mark" data-message="@UsersGlobalization.EditUser_Email_Tooltip_Description"></div>
                    <div class="bcms-content-titles">@UsersGlobalization.EditUser_Email_Title</div>
                    <div class="bcms-input-box">
                        @Html.TextBoxFor(m => m.Email, new { @class = "bcms-editor-field-box" })
                        @Html.BcmsValidationMessageFor(m => m.Email)
                    </div>
                </div>
                <div class="bcms-input-list-holder">
                    <div class="bcms-tooltip-mark" data-message="@UsersGlobalization.EditUser_Password_Tooltip_Description"></div>
                    <div class="bcms-content-titles">@UsersGlobalization.EditUser_Password_Title</div>
                    <div class="bcms-input-box">
                        @Html.TextBoxFor(m => m.Password, new { @class = "bcms-editor-field-box", @type = "password" })
                        @Html.BcmsValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <div class="bcms-input-list-holder">
                    <div class="bcms-tooltip-mark" data-message="@UsersGlobalization.EditUser_RetypePassword_Tooltip_Description"></div>
                    <div class="bcms-content-titles">@UsersGlobalization.EditUser_RetypePassword_Title</div>
                    <div class="bcms-input-box">
                        @Html.TextBoxFor(m => m.RetypedPassword, new { @class = "bcms-editor-field-box", @type = "password" })
                        @Html.BcmsValidationMessageFor(m => m.RetypedPassword)
                    </div>
                </div>
            </div>
             
            <div class="bcms-blog-right">
                <div class="bcms-create-author-holder">
                    <div class="bcms-tooltip-mark" data-message="@UsersGlobalization.EditUser_UserImage_Tooltip_Description"></div>
                    <div class="bcms-content-titles">@UsersGlobalization.EditUser_Image_Title</div>
                    <div class="bcms-uploaded-image">
                        <!-- ko if: image().url() -->
                        <a class="bcms-remove-image" data-bind="click: image().remove.bind(image())">@RootGlobalization.Button_Remove</a>
                        <a data-bind="click: image().preview.bind(image())">
                            <img data-bind="attr: { src: image().thumbnailUrl(), alt: image().tooltip() }" />
                        </a>
                        <!-- /ko -->
                    </div>
                    <div class="bcms-upload-info">
                        <div class="bcms-upload-info-text">@UsersGlobalization.EditUser_UploadImage_Info</div>
                        <div class="bcms-btn-small" data-bind="click: image().select.bind(image())">@UsersGlobalization.EditUser_UploadImage_Button_Title</div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

