@using BetterCms.Module.MediaManager.Content.Resources
@using BetterCms.Module.Root
@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Root.Mvc
@using BetterCms.Module.Root.Mvc.Helpers
@model BetterCms.Module.MediaManager.ViewModels.MediaManager.MediaViewModel
@{
    var canEdit = (ViewContext.Controller as CmsControllerBase).SecurityService.IsAuthorized(RootModuleConstants.UserRoles.EditContent);
}
<script type="text/html" id="bcms-media-list-template">
    <div class="bcms-top-block-holder">
        <div class="bcms-breadcrumbs-holder">
            <div data-bind="foreach: path().pathFolders()"><a class="bcms-breadcrumbs-root" href="#" data-bind="    text: pathName(), click: openMedia.bind($data, $root)"></a></div>
        </div>
        <div class="bcms-clearfix">
            <div class="bcms-media-controls-holder">
                <a id="bcms-list-view" class="bcms-select-list" data-bind="click: switchViewStyle, css: { 'bcms-select-active': !isGrid() }"></a>
                <a id="bcms-grid-view" class="bcms-select-grid" data-bind="click: switchViewStyle, css: { 'bcms-select-active': isGrid() }"></a>
                @if ((ViewContext.Controller as CmsControllerBase).SecurityService.IsAuthorized(RootModuleConstants.UserRoles.EditContent))
                {
                    <!-- ko if: !isSearchResults() -->
                    <div class="bcms-vertical-separator"></div>
                    <a class="bcms-media-new-folder" data-bind="click: addNewFolder">@MediaGlobalization.MediaManager_NewFolder</a>
                    <a class="bcms-media-new-file" data-bind="click: uploadMedia, text: uploadButtonTitle()"></a>
                    <!-- /ko -->
                }
            </div>
            <div class="bcms-search-block">
                <input id="bcms-search-input" name="MediaSearch" data-bind="value: gridOptions().searchQuery, valueUpdate: 'afterkeydown', enterPress: searchMedia" class="bcms-editor-field-box" type="text" placeholder="@RootGlobalization.WaterMark_Search" />
                <div class="bcms-btn-search" data-bind="click: searchMedia">@RootGlobalization.Button_Search</div>
            </div>
        </div>

        <div class="bcms-featured-grid bcms-clearfix">
            <!-- ko with: gridOptions().paging -->
            @Html.Partial(RootModuleConstants.EditableGridPagingTemplate)
            <!-- /ko -->

            <div class="bcms-grid-filtering" data-bind="css: { 'bcms-active-filter': gridOptions().isFilterVisible() }">
                <div class="bcms-filterbox" data-bind="click: gridOptions().toggleFilter">
                    @RootGlobalization.Button_Filter
                    <div class="bcms-filter-modified" data-bind="style: { display: gridOptions().isEdited() ? 'inline-block' : 'none' }">@MediaGlobalization.SiteSettings_Media_FilterIsModified</div>
                </div>
            </div>
            <div class="bcms-tags-block" style="display: none;" data-bind="visible: gridOptions().isFilterVisible()">
                <div class="bcms-featured-tags">
                    <div class="bcms-clearfix">

                        <div class="bcms-filter-options" data-bind="with: gridOptions().tags">
                            <div class="bcms-filter-text">@MediaGlobalization.SiteSettings_FilterByTags</div>
                            <div class="bcms-filter-field-holder">
                                <input type="text" class="bcms-add-tags-field" data-bind="
                                    css: { 'bcms-tag-validation-error': newItem.hasError() },
                                    value: newItem,
                                    valueUpdate: 'afterkeydown',
                                    escPress: clearItem,
                                    autocompleteList: 'onlyExisting'" />
                                <!-- ko if: newItem.hasError()  -->
                                <span class="bcms-tag-field-validation-error">
                                    <span data-bind="text: newItem.validationMessage()"></span>
                                </span>
                                <!-- /ko -->
                            </div>
                        </div>
                        
                        <div class="bcms-filter-options" data-bind="with: gridOptions().categories">
                            <div class="bcms-filter-text">@MediaGlobalization.SiteSettings_FilterByCategory</div>

                            <div class="bcms-filter-field-holder">
                                <input type="text" class="bcms-add-tags-field" data-bind="
                                    css: { 'bcms-tag-validation-error': newItem.hasError() },
                                    value: newItem,
                                    valueUpdate: 'afterkeydown',
                                    escPress: clearItem,
                                    autocompleteList: 'onlyExisting'" />
                                <!-- ko if: newItem.hasError()  -->
                                <span class="bcms-tag-field-validation-error">
                                    <span data-bind="text: newItem.validationMessage()"></span>
                                </span>
                                <!-- /ko -->
                            </div>
                        </div>

                    </div>

                    <div class="bcms-single-tag-holder" data-bind="foreach: gridOptions().tags.items()">
                        <div class="bcms-single-tag" data-bind="css: { 'bcms-single-tag-active': isActive() }">
                            <span data-bind="text: name()"></span><a data-bind="    click: remove">@RootGlobalization.Button_Remove</a>
                        </div>
                        <input type="hidden" data-bind="attr: { name: getItemInputName($index()) + '.Key', value: id() }" />
                        <input type="hidden" data-bind="attr: { name: getItemInputName($index()) + '.Value', value: name() }" />
                    </div>
                    
                    
                    <div class="bcms-single-tag-holder" data-bind="foreach: gridOptions().categories.items()">
                        <div class="bcms-single-tag" data-bind="css: { 'bcms-single-tag-active': isActive() }">
                            <span data-bind="text: name()"></span><a data-bind="    click: remove">@RootGlobalization.Button_Remove</a>
                        </div>
                        <input type="hidden" data-bind="attr: { name: 'Categories[' + $index() + '].Key', value: id() }" />
                        <input type="hidden" data-bind="attr: { name: 'Categories[' + $index() + '].Value', value: name() }" />
                    </div>
                </div>

                <div class="bcms-clearfix">
                    <div class="bcms-check-field-holder">
                        <div class="bcms-check-field"><input type="checkbox" data-bind="checked: gridOptions().includeArchived" /></div>
                        <span class="bcms-pointer" data-bind="click: gridOptions().changeIncludeArchived">@MediaGlobalization.MediaManager_IncludeArchived_Message</span>
                    </div>
                    <div class="bcms-check-field-holder">&nbsp;
                        <div class="bcms-check-field"><input type="checkbox" data-bind="checked: gridOptions().includeHistoryItems" /></div>
                        <span class="bcms-pointer" data-bind="click: gridOptions().changeIncludeHistoryItems">@MediaGlobalization.MediaManager_SearchInHistoryItems_Message</span>
                    </div>
                    <div class="bcms-btn-field-holder">
                        <div class="bcms-btn-links-small" data-bind="click: clearFilter">@RootGlobalization.Button_Filter_Clear</div>
                        <div class="bcms-btn-small" data-bind="click: searchWithFilter">@RootGlobalization.Button_Filter_Search</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @Html.SiteSettingsMessagesBox(null, new Dictionary<string, string> { { "data-bind", "attr: { id: domId() }" } })

    <div id="bcms-view-container" data-bind="css: { 'bcms-list': !isGrid(), 'bcms-grid': isGrid() }" class="bcms-list">
        <div class="bcms-media-sorting-block">
            <div class="bcms-media-col-1"></div>
            <div class="bcms-media-col-2">
                <a class="bcms-sort-arrow" data-bind="click: sortMedia.bind($root, 'Title'), css: { 'bcms-sort-arrow-top': isSortedAscending('Title'), 'bcms-sort-arrow-bottom': isSortedDescending('Title') }">@MediaGlobalization.MediaList_FileNameColumn</a>
            </div>
            <div class="bcms-media-col-3">
                <a class="bcms-sort-arrow" data-bind="click: sortMedia.bind($root, 'FileExtension'), css: { 'bcms-sort-arrow-top': isSortedAscending('FileExtension'), 'bcms-sort-arrow-bottom': isSortedDescending('FileExtension') }">@MediaGlobalization.MediaList_FileTypeColumn</a>
            </div>
        </div>

        <!-- ko if: !isRootFolder() && !isSearchResults() -->
        <div class="bcms-folder-box" data-bind="click: openParent">
            <div class="bcms-media-items-block">
                <div class="bcms-system-folder"></div>
                <div class="bcms-media-name">..</div>
            </div>
        </div>
        <!-- /ko -->
        <!-- ko if: showNoDataInfoDiv() -->
        <div class="bcms-nomedia-data">
            <!-- ko if: isSearchResults() -->
            <div class="bcms-media-content-message">
                <!-- ko text: noSearchResultFound -->
                <!-- /ko -->
            </div>
            <a data-bind="visible: canSearchInHistory(), click: searchWithFilter.bind($data, true)">@MediaGlobalization.MediaManager_Search_TrySearchInHistory</a>
            <!-- /ko -->
            <!-- ko ifnot: isSearchResults() -->
            <div class="bcms-no-data-available">@RootGlobalization.Grid_NoDataAvailable_Message</div>
            <!-- /ko -->
        </div>
        <!-- /ko -->

        <div class="bcms-media-properties-preview" id="bcms-media-properties-preview" data-bind="visible: showPropertiesPreview(), style: {top: previewItem.top(), left: previewItem.left()}">
            @MediaGlobalization.MediaManager_ImageSize: <span data-bind="text: previewItem.size()"></span>
            <br />
            <!-- ko if: previewItem.dimensions() -->
            @MediaGlobalization.MediaManager_ImageDimensions: <span data-bind="text: previewItem.dimensions()"></span>
            <!-- /ko -->
            <br />
            <div data-bind="style: {width: previewItem.containerWidth(), height: previewItem.containerHeight()}">
                <img data-bind="attr: {src: previewItem.previewUrl(), alt: previewItem.imageAlt()}, style: {width: previewItem.width(), height: previewItem.height()}" />
            </div>
            <img data-bind="attr: {src: previewItem.imageUrl(), alt: previewItem.imageAlt()}, event: {load:previewItem.onImageLoad}" style="display: none;" />
        </div>

        <div data-bind="foreach: medias()">
            <div data-bind="click: openMedia.bind($data, $root), clickBubble: false, event: { contextmenu: contextMenu.show }, css: rowClassNames()">

                <div class="bcms-media-context bcms-layer" data-bind="click: stopEvent, clickBubble: false, attr: { id: contextMenu.domId }">
                    <a class="bcms-btn-close">@RootGlobalization.Button_Close</a>
                    <!--  ko if: isProcessing() -->
                    @MediaGlobalization.MediaManager_FileStillProcessing_Message
                    <!-- /ko -->
                    <!--  ko if: isDeleting() -->
                    @RootGlobalization.Message_Deleting
                    <!-- /ko -->
                    <!--  ko if: !isProcessing() && !isDeleting() -->
                    <!-- ko if: !isFailed() && !isFolder() && !isImage() && $root.canInsertMedia() -->
                    <a class="bcms-media-content-link" data-bind="click: insertMedia.bind($data, $root), clickBubble: false">@MediaGlobalization.MediaManager_ButtonInsertFile</a>
                    <!-- /ko -->
                    <!-- ko if: !isFailed() && isImage() && $root.canInsertMedia() -->
                    <a class="bcms-media-content-link" data-bind="click: insertMedia.bind($data, $root), clickBubble: false">@MediaGlobalization.MediaManager_ButtonInsertImage</a>
                    <!-- /ko -->
                    <!-- ko if: !isFailed() && isImage() && $root.canInsertMediaWithOptions() -->
                    <a class="bcms-media-content-link" data-bind="click: insertMediaWithOptions.bind($data, $root), clickBubble: false">@MediaGlobalization.MediaManager_ButtonInsertImageWithOptions</a>
                    <!-- /ko -->
                    <!-- ko if: !isFailed() && ($root.canInsertMedia() || $root.canInsertMediaWithOptions()) -->
                    <div class="bcms-settings-separator"></div>
                    <!-- /ko -->
                    <!-- ko if: !isFailed() && isFolder() -->
                    <a class="bcms-media-content-link" data-bind="click: openMedia.bind($data, $root), clickBubble: false">@RootGlobalization.Button_Open</a>
                    <!-- /ko -->
                    <!-- ko if: !isFailed() && isImage() -->
                    <a class="bcms-media-content-link" data-bind="click: previewImage.bind($data, $root), clickBubble: false">@MediaGlobalization.MediaManager_ButtonPreviewImage</a>
                    <!-- /ko -->
                    <!-- ko if: !isFailed() && !isFolder() && publicUrl() -->
                    <input class="bcms-editor-field-box" type="text" readonly="readonly" data-bind="value: publicUrl(), click: selectThis.bind($data, $root, $element)" />
                    <!-- /ko -->
                    <!-- ko if: !isReadOnly() && !isFailed() && (isFolder() || isImage() && !publicUrl() || (@(canEdit ? "true" : "false") && !isFolder() && !publicUrl()) || (!isFolder() && !publicUrl())) -->
                    <div class="bcms-settings-separator"></div>
                    <!-- /ko -->
                    @if (canEdit)
                    {
                        <!-- ko if: !isFailed() && !isArchived() && !isReadOnly() -->
                        <a class="bcms-media-content-link" data-bind="click: archiveMedia.bind($data, $root), clickBubble: false">@MediaGlobalization.MediaManager_ButtonArchive</a>
                        <!-- /ko -->
                        <!-- ko if: !isFailed() && isArchived() && !isReadOnly()-->
                        <a class="bcms-media-content-link" data-bind="click: unarchiveMedia.bind($data, $root), clickBubble: false">@MediaGlobalization.MediaManager_ButtonUnarchive</a>
                        <!-- /ko -->
                    }
                    @if ((ViewContext.Controller as CmsControllerBase).SecurityService.IsAuthorized(RootModuleConstants.UserRoles.DeleteContent))
                    {
                        <a class="bcms-media-content-link" data-bind="click: deleteMedia.bind($data, $root), clickBubble: false, visible: !isReadOnly()">@RootGlobalization.Button_Delete</a>
                    }
                    @if (canEdit)
                    {
                        <!-- ko if: !$root.isGrid() -->
                        <a class="bcms-media-content-link" data-bind="click: renameMedia.bind($data, $root), clickBubble: false, visible: !isReadOnly()">@RootGlobalization.Button_Rename</a>
                        <!-- /ko -->
                    }
                    <!-- ko if: !isFailed() && canBeDownloaded() -->
                    <a class="bcms-media-content-link" data-bind="click: downloadMedia, clickBubble: false">@MediaGlobalization.MediaManager_ButtonDownload</a>
                    <!-- /ko -->
                    @if (canEdit)
                    {
                        <!-- ko if: !isFolder() -->
                        <a class="bcms-media-content-link" data-bind="click: reuploadMedia.bind($data, $root), clickBubble: false, visible: !isReadOnly()">@MediaGlobalization.Button_Reupload</a>
                        <!-- /ko -->
                    }

                    <!-- ko if: (!isFolder() && @(canEdit ? "true" : "false")) || (!isFailed() && isImage()) -->
                    <div class="bcms-settings-separator"></div>
                    <!-- /ko -->
                    @if (canEdit)
                    {
                        <!-- ko if: !isFolder() -->
                        <a class="bcms-media-content-link" data-bind="click: showHistory.bind($data, $root), clickBubble: false">@MediaGlobalization.Button_ShowHistory</a>
                        <!-- /ko -->
                    }
                    @if (canEdit)
                    {
                        <!-- ko if: !isFailed() && !isFolder() -->
                        <a class="bcms-media-content-link" data-bind="click: editMedia.bind($data, $root), clickBubble: false">@MediaGlobalization.MediaManager_ButtonProperties</a>
                        <!-- /ko -->
                    }

                    <!-- /ko -->
                </div>

                <div class="bcms-media-items-block">
                    <div data-bind="css: iconClassNames(), click: onIconClicked.bind($data, $root)">
                        <!-- ko if: getImageThumbnailUrl() && !isProcessing() -->
                        <img data-bind="attr: { alt: tooltip(), src: getImageThumbnailUrl() }, event: { mousemove: $root.movePreview, mouseleave: $root.hidePreview, mouseout: $root.hidePreview }" />
                        <!-- /ko -->
                    </div>
                    <div class="bcms-media-name" data-bind="click: onTitleClicked.bind($data, $root)">
                        <!-- ko text: name() -->
                        <!-- /ko -->
                        <!--  ko if: isProcessing() -->
                        <br />
                        <span class="bcms-processing-file">@MediaGlobalization.MediaManager_FileStillProcessing_Message</span>
                        <!-- /ko -->
                        <!--  ko if: isFailed() -->
                        <br />
                        <span class="bcms-failed-file">@MediaGlobalization.MediaManager_FailedToProcessFile_Message</span>
                        <!-- /ko -->
                        <!--  ko if: isDeleting() -->
                        <br />
                        <span class="bcms-failed-file">@RootGlobalization.Message_Deleting</span>
                        <!-- /ko -->
                        <!-- ko if: showParentLink($root, $data) -->
                        <br />
                        <span class="bcms-parent-folder">@MediaGlobalization.MediaManager_ItemParentFolder_Prefix: <a data-bind="click: openParent.bind($data, $root), clickBubble: false, text: parentFolderName()"></a></span>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="bcms-media-edit-controls">
                    <!-- ko if: isImage() -->
                    <div class="bcms-media-name" data-bind="text: name()"></div>
                    <!-- /ko -->
                    <div class="bcms-media-input-box">
                        @{
                            var attributes = new Dictionary<string, object>
                            {
                                {"data-bind", "value: name, valueUpdate: 'afterkeydown', enterPress: saveMedia.bind($data, $root), escPress: cancelEditMedia.bind($data, $root), hasfocus: isActive(), event: {blur: blurMediaField.bind($data, $root)}, attr: {id: nameDomId, name: nameDomId}, click: stopEvent, clickBubble: false "},
                                {"class", "bcms-grid-input"}
                            };
                            attributes = Html.MergeValidationAttributes(m => m.Name, attributes);

                            @Html.TextBoxFor(m => m.Name, attributes)
                            @Html.BcmsValidationMessageFor(m => m.Name, null, new { @data_bind = "attr: {'data-valmsg-for': nameDomId}" })
                        }
                    </div>
                    <div class="bcms-media-inner-controls">
                        <div class="bcms-btn-small" data-bind="click: saveMedia.bind($data, $root), clickBubble: false">@RootGlobalization.Button_Save</div>
                        <div class="bcms-btn-links-small" data-bind="click: cancelEditMedia.bind($data, $root), clickBubble: false">@RootGlobalization.Button_Cancel</div>
                    </div>
                    @if ((ViewContext.Controller as CmsControllerBase).SecurityService.IsAuthorized(RootModuleConstants.UserRoles.EditContent))
                    {
                        <!--  ko if: !isProcessing() && !isFailed() && !isDeleting() && !isReadOnly() -->
                        <a class="bcms-icn-edit" data-bind="click: editMedia.bind($data, $root), clickBubble: false">@RootGlobalization.Button_Edit</a>
                        <!-- /ko -->
                    }
                    @if ((ViewContext.Controller as CmsControllerBase).SecurityService.IsAuthorized(RootModuleConstants.UserRoles.DeleteContent))
                    {
                        <!--  ko if: !isProcessing() && !isDeleting() && !isReadOnly() -->
                        <a class="bcms-icn-delete" data-bind="click: deleteMedia.bind($data, $root), clickBubble: false">@RootGlobalization.Button_Delete</a>
                        <!-- /ko -->
                    }
                </div>
            </div>
        </div>
        @if ((ViewContext.Controller as CmsControllerBase).SecurityService.IsAuthorized(RootModuleConstants.UserRoles.EditContent))
        {
            <!-- ko if: !isSearchResults() -->
            <div class="bcms-add-folder">
                <div class="bcms-media-items-block" data-bind="click: addNewFolder">
                    <div class="bcms-system-addfolder"></div>
                    <div class="bcms-media-name">@MediaGlobalization.MediaManager_AddNewFolder</div>
                </div>
            </div>
            <!-- /ko -->
        }
    </div>
</script>
