@* // TODO: remove after tests *@
<br /><br />
<b>Option Key1 Value</b><span>: @Html.ViewBag.Key1</span> <br />
<b>Option Key2 Value</b><span>: @Html.ViewBag.Key2</span> <br />
<b>Option Key3 Value</b><span>: @Html.ViewBag.Key3</span> <br />
<b>Option Key4 Value</b><span>: @Html.ViewBag.Key4</span> <br />
<b>Option Key5 Value</b><span>: @Html.ViewBag.Key5</span> <br />