@using BetterCms.Module.Navigation.Content.Resources
@using BetterCms.Module.Navigation.Controllers
@using BetterCms.Module.Navigation.ViewModels.Sitemap
@using BetterCms.Module.Root.Mvc.Helpers
@using Microsoft.Web.Mvc

@model SearchableSitemapViewModel

@using (Html.BeginForm<SitemapController>(f => f.Index(null), FormMethod.Post, new { @id = "bcms-sitemap-form" }))
{
    <div class="bcms-twocols-title-block">
        <div class="bcms-large-titles">@NavigationGlobalization.Sitemap_Dialog_Title</div>
        <div class="bcms-btn-links-main" id="bcms-btn-sitemap-edit" data-bind="click: editSitemapClicked">@NavigationGlobalization.Sitemap_Dialog_Edit</div>
        <div class="bcms-search-block">
            <input type="text" id="bcms-search-input" class = "bcms-editor-field-box" data-bind="value: searchQuery, valueUpdate: 'afterkeydown', enterPress: searchForNodes"/>
            <div class="bcms-btn-search" id="bcms-btn-sitemap-search" data-bind="click: searchForNodes">@NavigationGlobalization.Sitemap_Dialog_Search</div>
        </div>
    </div>
    @Html.SiteSettingsMessagesBox()
    <div class="bcms-placement-holder">
        @Html.Partial("Partial/Sitemap", new SitemapNodeViewModel())
    </div>
}