@using BetterCms.Module.ImagesGallery
@using BetterCms.Module.ImagesGallery.Content.Resources
@model BetterCms.Module.ImagesGallery.ViewModels.GalleryViewModel

@if (Model.LoadCmsStyles)
{
    @Html.Partial("Partial/ListStyles")
}

@{
    var i = 0;
    var l = Model.Albums.Count;
    var perSection = Model.ImagesPerSection <= 0 ? l : Model.ImagesPerSection;
    
    foreach (var album in Model.Albums)
    {
        if (i % perSection == 0)
        {
            @:<section>
        }
        
        <div class="bcms-album-holder">
            <img src="@album.CoverImageUrl" alt="@album.Title" />
            <div class="bcms-album-name">
                <h4><a href="@album.Url">@album.Title</a></h4>
                <span>@album.ImagesCount @ImagesGalleryGlobalization.GalleryWidget_Pictures@if (album.LastUpdateDate.HasValue) { @Html.Raw(",") }</span>
                @if (album.LastUpdateDate.HasValue)
                {
                    <time datetime="@album.LastUpdateDate.Value.ToString(ImagesGalleryModuleConstants.GalleryWidgetUpdateDateTagFormat)">@album.LastUpdateDate.Value.ToString(ImagesGalleryModuleConstants.GalleryWidgetUpdateDateDisplayFormat)</time>
                }
            </div>
        </div>

        i++;

        if (i % perSection == 0 || i == l)
        {
            @:</section>
        }
    }
}
