@model BetterCms.Core.Models.IPage
@{
    Layout = "~/Areas/bcms-Root/Views/Shared/BaseLayout.cshtml";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("/file/bcms-templates/Content/Css/bcms.templates.css")" />
    @RenderSection("Styles", false)
}

<div class="page">

    <header class="page-header">
        <div class="page-frame clearfix">
            @RenderSection("CMSHeader", false)
        </div>
    </header>

    <div class="page-block">
        <div class="page-frame clearfix">

            <section class="three-col-left">
                <h1>@Model.Title</h1>
                @RenderSection("CMSMainContent", false)
                @RenderBody()
            </section>

            <section class="three-col-middle">
                @RenderSection("CMSLeftSide", false)
            </section>

            <aside class="col-right">
                @RenderSection("CMSRightSide", false)
            </aside>

        </div>
    </div>

</div>

<footer class="page-footer">
    <div class="page-frame clearfix">
        @RenderSection("CMSFooter", false)
    </div>
</footer>
