@model BetterCms.Core.DataContracts.IPage
@{
    Layout = "~/Areas/bcms-Root/Views/Shared/BaseLayout.cshtml";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("/file/bcms-templates/Content/Css/bcms.templates.css")" />
    @RenderSection("Styles", false)
}

@section HeadScripts {
    <!--[if lt IE 9]>
            <script src="@Url.Content("/file/bcms-templates/Scripts/html5shiv.js")"></script>
    <![endif]-->
    @RenderSection("HeadScripts", false)
}

<div class="page">

    <header class="page-header">
        <div class="page-frame clearfix">
            <div>
                @RenderSection("CMSHeader", false)
            </div>
        </div>
    </header>

    <div class="page-block">
        <div class="page-frame clearfix">
            @RenderSection("CMSMainContent", false)
            @RenderBody()
        </div>
    </div>

</div>

<footer class="page-footer">
    <div class="page-frame clearfix">
        @RenderSection("CMSFooter", false)
    </div>
</footer>
