@using BetterCms.Module.MediaManager.Content.Resources
@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Root.Mvc.Helpers

<div class="bcms-top-block-holder">
    <div class="bcms-media-controls-holder">
        <a id="bcms-list-view" class="bcms-select-list" data-bind="click: switchViewStyle, css: {'bcms-select-active': !isGrid()}">@MediaGlobalization.ImagesTab_List</a>
        <a id="bcms-grid-view" class="bcms-select-grid" data-bind="click: switchViewStyle, css: {'bcms-select-active': isGrid()}">@MediaGlobalization.ImagesTab_Grid</a>
        <div class="bcms-vertical-separator"> </div>
        <a class="bcms-media-new-folder" data-bind="if:isRootFolder(), click: addNewFolder">@MediaGlobalization.ImagesTab_NewFolder</a>
        <a class="bcms-media-new-file" data-bind="click: uploadMedia">@MediaGlobalization.ImagesTab_UploadImage</a>
    </div>
    <div class="bcms-search-block">
        <input data-bind="value: gridOptions().searchQuery, valueUpdate: 'afterkeydown', enterPress: searchMedia" class="bcms-editor-field-box" type="text" placeholder="@RootGlobalization.WaterMark_Search" />
        <div class="bcms-btn-search" data-bind="click: searchMedia">@RootGlobalization.Button_Search</div>
    </div>
</div>
    
<div id="bcms-media-images" data-bind="template: { name: 'bcms-media-list-path-template' }"/>
    
@Html.MessagesBox("bcms-site-settings-media-messages")

<div id="bcms-media-images" data-bind="template: { name: 'bcms-media-list-template' }" />
