@using BetterCms.Module.MediaManager.Content.Resources
@using BetterCms.Module.Root.Content.Resources

@model BetterCms.Module.MediaManager.ViewModels.Upload.MultiFileUploadViewModel

<script type="text/html" id="bcms-file-upload-template">
    <div data-bind="foreach: uploads">
        <div data-bind="css: {
                     'bcms-upload-block': true,
                     'bcms-upload-success': uploadCompleted() && !uploadProcessing() && !uploadFailed(),
                     'bcms-upload-failed': uploadFailed(),
                     'bcms-single-tag-active': isActive()
                     }">
            <div class="bcms-upload-file-titles" data-bind="text: fileName"></div>
            <!-- ko if: !uploadFailed() -->
            @Html.HiddenFor(model => model.UploadedFiles, new { id = (string)null, data_bind = "value:fileId()" })
            <!-- /ko -->
            <div class="bcms-upload-bar-holder">
                <div class="bcms-progress-bar" data-bind="visible: !uploadCompleted() && !uploadFailed() && !uploadProcessing()">
                    <div class="bcms-progress" style="width: 0;" data-bind="style: { width: uploadProgress() + '%' }"></div>
                </div>
                <div class="bcms-upload-description" data-bind="visible: uploadProcessing()">
                    @MediaGlobalization.MultiFileUpload_Processing_ServerSide
                </div>
                <div class="bcms-upload-description" data-bind="visible: uploadFailed(), attr: { title: failureMessage() }">
                    <span data-bind="visible: !(failureMessage() != null && failureMessage().length > 0)">@MediaGlobalization.MultiFileUpload_Failed</span>
                    <span data-bind="visible: failureMessage() != null && failureMessage().length > 0, text: failureMessage"></span>
                </div>
                <div class="bcms-upload-description" data-bind="visible: uploadCompleted() && !uploadProcessing() && !uploadFailed()">
                    @MediaGlobalization.MultiFileUpload_Success
                </div>
            </div>
            <!-- ko if: uploadCompleted() && !uploadFailed() -->
            <div class="bcms-uploaded-info" data-bind="text: uploadProgress() + '%'"></div>
            <div class="bcms-upload-size-info"><b>@MediaGlobalization.MultiFileUpload_FileSize</b> <span data-bind="text: fileSizeFormated"></span></div>
            @if (Model.RenderControls)
            {
                <div class="bcms-media-delete-holder">
                    <a class="bcms-icn-delete" data-bind="click: function() { $root.removeUpload($data); }">@RootGlobalization.Button_Remove</a>
                </div>
            }
            <!-- /ko -->
            <!-- ko if: uploadFailed() -->
            <div class="bcms-uploaded-info">&nbsp;</div>
            <div class="bcms-upload-size-info">&nbsp;</div>
            @if (Model.RenderControls)
            {
                <div class="bcms-media-delete-holder">
                    <a class="bcms-icn-delete" data-bind="click: function() { $root.removeUpload($data); }">@RootGlobalization.Button_Remove</a>
                </div>
            }
            <!-- /ko -->
        </div>
    </div>
</script>