@using BetterCms.Module.MediaManager.Models
@using BetterCms.Module.Root.Mvc.Helpers
@using BetterCms.Module.MediaManager.Content.Resources
@using BetterCms.Module.MediaManager.ViewModels.Images

@model ImageViewModel
<div class="bcms-scroll-window">
    @Html.TabbedContentMessagesBox()
    <div class="bcms-file-manager-inner">
        
        <div class="bcms-input-list-holder">
                <div class="bcms-content-titles">
                    <div class="bcms-crop-checkbox">
                        <input type="checkbox" data-bind="checked: fit" />
                        <div class="bcms-edit-label" data-bind="click: changeFit">@MediaGlobalization.ImageEditor_Dialog_FitImage_Title</div>
                    </div>
                </div>
            </div>

        <div class="bcms-croped-block">
            <img src="@Model.Url" alt="@Model.Caption" data-bind="style: { width: calculatedWidth() + 'px', height: calculatedHeight() + 'px' }" />
        </div>
                
        <div class="bcms-edit-file-info">

            <div class="bcms-file-info-text">
                <div class="bcms-content-titles">@MediaGlobalization.ImageProperties_Dialog_PublicUrl:</div>
                <div class="bcms-edit-file-info">
                    <input class="bcms-editor-field-box" type="text" value="@Model.Url" readonly="readonly" />
                </div>
            </div>

            <div class="bcms-file-info-text">
                <b>@MediaGlobalization.ImageEditor_Dialog_Caption:</b>
                <div class="bcms-editing-text">@Model.Caption</div>
            </div>
            
            <div class="bcms-file-info-text">
                <b>@MediaGlobalization.ImageProperties_Dialog_ImageTitle_Title:</b>
                <div class="bcms-editing-text">@Model.Title</div>
            </div>

            <div class="bcms-file-info-text">
                <b>@MediaGlobalization.ImageEditor_Dialog_FileSize:</b>
                <div class="bcms-editing-text">@Model.FileSize</div>
            </div>
            
            <div class="bcms-file-info-text">
                <b>@MediaGlobalization.ImageEditor_Dialog_Dimensions:</b>
                <div class="bcms-editing-text">@Model.ImageWidth x @Model.ImageHeight</div>
            </div>
        </div>
            
        <div class="bcms-file-alignment">
            <div class="bcms-content-titles">@MediaGlobalization.ImageEditor_Dialog_AligmentTitle:</div>
            <div class="bcms-alignment-controls">
                <div class="bcms-align-center@(Model.ImageAlign == MediaImageAlign.Center ? "-active" : string.Empty)">&nbsp;</div>
                <div class="bcms-align-left@(Model.ImageAlign == MediaImageAlign.Left ? "-active" : string.Empty)">&nbsp;</div>
                <div class="bcms-align-right@(Model.ImageAlign == MediaImageAlign.Right ? "-active" : string.Empty)">&nbsp;</div>
            </div>
        </div>
    </div>
</div>
