@using Microsoft.Web.Mvc
@using BetterCms.Module.Root.Mvc.Helpers
@using BetterCms.Module.MediaManager.Content.Resources
@using BetterCms.Module.MediaManager.Controllers
@using BetterCms.Module.MediaManager.ViewModels.Images

@model ImageViewModel
<div class="bcms-scroll-window" style="height: 942px;">
    <div class="bcms-file-manager-inner">
        <div class="bcms-large-titles">@MediaGlobalization.ImageEditor_CroppingDialog_SubTitle</div>
        <div class="bcms-edit-info-block">
            @using (Html.BeginForm<ImagesController>(f => f.ImageCropper((ImageViewModel)null), FormMethod.Post, new { @class = "bcms-ajax-form", @enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(m => m.CropCoordX1, new {@class = "bcms-crop-image-x1"})
                @Html.HiddenFor(m => m.CropCoordX2, new {@class = "bcms-crop-image-x2"})
                @Html.HiddenFor(m => m.CropCoordY1, new {@class = "bcms-crop-image-y1"})
                @Html.HiddenFor(m => m.CropCoordY2, new {@class = "bcms-crop-image-y2"})
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.Version)
                
                <div class="bcms-crop-image-block">
                    <img src="@Model.OriginalImageUrl" data-id="@Model.Id" data-version="@Model.Version" style="max-width: 830px;">
                </div>
                
                @Html.HiddenSubmit()
            }
        </div>
    </div>
</div>