@using BetterCms.Module.MediaManager.Content.Resources
@using BetterCms.Module.MediaManager.Controllers
@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Root.Mvc.Grids.Extensions
@using BetterCms.Module.Root.Mvc.Helpers
@using Microsoft.Web.Mvc

@model BetterCms.Module.MediaManager.ViewModels.Images.ImagesTabViewModel

@*@{
    Action<ColumnBuilder<MediaViewModel>> columns = column =>
    {
        column.EmptyColumn().HeaderAttributes().InsertAt(0);
        column.ColumnHeaderForSortableList(MediaGlobalization.MediaList_FileNameColumn, "Name").InsertAt(1);
        column.ColumnHeaderForSortableList(MediaGlobalization.MediaList_FileTypeColumn, "Extension").InsertAt(2);
    };
}*@

@using (Html.BeginForm<ImagesController>(f => f.ImagesTab(null), FormMethod.Post, new { @id = "bcms-images-tag-form", @class = "bcms-ajax-form"  }))
{
    @Html.HiddenGridOptions(Model.GridOptions)
    
    <div class="bcms-top-block-holder">
        <div class="bcms-media-controls-holder">
            <a id="bcms-list-view" class="bcms-view-switch bcms-select-list bcms-select-active">@MediaGlobalization.ImagesTab_List</a>
            <a id="bcms-grid-view" class="bcms-view-switch bcms-select-grid">@MediaGlobalization.ImagesTab_Grid</a>
            <div class="bcms-vertical-separator"> </div>
            <a class="bcms-media-new-folder" data-bind="visible:isRootFolder(), click: addNewFolder">@MediaGlobalization.ImagesTab_NewFolder</a>
            <a class="bcms-media-new-file" data-bind="click: uploadMedia">@MediaGlobalization.ImagesTab_UploadImage</a>
        </div>
        <div class="bcms-search-block">
            @Html.TextBoxFor(f => f.SearchQuery, new { @class = "bcms-editor-field-box", placeholder=RootGlobalization.WaterMark_Search })
            <div class="bcms-btn-search" data-bind="click: searchMedia">@RootGlobalization.Button_Search</div>
        </div>
    </div>
    
    @*@Html.Partial("Path", Model.Path)*@
    
    <div id="bcms-media-images" data-bind="template: { name: 'bcms-media-list-path-template' }"/>
    
    @Html.MessagesBox("bcms-site-settings-media-messages")

    <div id="bcms-media-images" data-bind="template: { name: 'bcms-media-list-template' }" />
        
    @* @RenderGrid(columns, Model.Items, true) *@
    @* if (Model.IsRootFolder)
    {
        @Html.Partial("NewFolder")
    } *@
    @Html.HiddenSubmit()
}

@*
<script type="text/html" id="bcms-editable-row-template">
     @RenderGrid(columns, new [] {new MediaFolderViewModel()}, false)
</script>

@helper RenderGrid(Action<ColumnBuilder<MediaViewModel>> columns, IEnumerable<MediaViewModel> items, bool renderHeader)
{
    MediaListRenderer<MediaViewModel> renderer = (renderHeader)
        ? new MediaListRenderer<MediaViewModel>()
        : new MediaListNoHeaderRenderer<MediaViewModel>();

    @(Html.Grid(items)
        .Sort(Model.GridOptions)
        .Columns(columns)
        .RenderUsing(renderer)
        .RowStart(data => (data.Item is MediaFolderViewModel
                                ? Html.Partial("Folder", (MediaFolderViewModel)data.Item)
                                : Html.Partial("Image", (MediaImageViewModel)data.Item)).ToString())
    )
}
*@