@using BetterCms.Module.MediaManager.Command.History.GetMediaHistory
@using BetterCms.Module.MediaManager.Content.Resources
@using BetterCms.Module.MediaManager.Controllers
@using BetterCms.Module.MediaManager.Models.Enum
@using BetterCms.Module.MediaManager.ViewModels.History
@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Root.Mvc
@using BetterCms.Module.Root.Mvc.Grids.Extensions
@using BetterCms.Module.Root.Mvc.Grids.TableRenderers
@using BetterCms.Module.Root.Mvc.Helpers
@using Microsoft.Web.Mvc
@using MvcContrib.UI.Grid

@model MediaHistoryViewModel
@helper PreviewLink(MediaHistoryItem item)
{
    <a class="bcms-icn-preview" data-id="@item.Id">@RootGlobalization.Button_Preview</a>
}

@helper DownloadLink(MediaHistoryItem item)
{
    <a class="bcms-icn-download" data-id="@item.Id" data-version="@item.Version">@MediaGlobalization.MediaManager_ButtonDownload</a>
}

@helper RestoreLink(MediaHistoryItem item)
{
    if (item.CanCurrentUserRestoreIt)
    {
    <a class="bcms-icn-restore" data-id="@item.Id" data-version="@item.Version">@RootGlobalization.Button_Restore</a>
    }
    else
    {
    @:&nbsp;
    }
}

@helper DisplayStatus(string statusName, MediaHistoryStatus status)
{
    switch (status)
    {
        case MediaHistoryStatus.Archived:
    @:<div class="bcms-archived-state">@statusName</div>

            break;

        case MediaHistoryStatus.Active:
    @:<div class="bcms-published-state">@statusName</div>
        
            break;

        default:
    @:statusName
            break;
    }
}

@{
    Action<ColumnBuilder<MediaHistoryItem>> columns = column =>
    {
        column.For(f => PreviewLink(f))
               .Encode(false)
               .Named("&nbsp;")
               .Sortable(false)
               .HeaderAttributes(@style => "width: 40px; padding: 10px;", @class => "bcms-tables-nohover");

        column.For(m => m.PublishedOn.ToFormattedDateString())
               .Named(MediaGlobalization.MediaHistory_Column_PublishedOn)
               .SortColumnName("PublishedOn")
               .HeaderAttributes(@style => "width: 95px;")
               .Attributes(@style => "width: 100px;");

        column.For(m => m.PublishedByUser)
               .Named(MediaGlobalization.MediaHistory_Column_PublishedByUser)
               .SortColumnName("PublishedByUser")
               .HeaderAttributes(@style => "width: 200px;")
               .Attributes(@style => "width: 200px;");

        column.For(m => m.ArchivedOn.ToFormattedDateString())
               .Named(MediaGlobalization.MediaHistory_Column_ArchivedOn)
               .SortColumnName("ArchivedOn")
               .HeaderAttributes(@style => "width: 100px;")
               .Attributes(@style => "width: 100px;");

        column.For(m => m.DisplayedFor.ToFormatedTimeString())
               .Named(MediaGlobalization.MediaHistory_Column_DisplayedFor)
               .SortColumnName("DisplayedFor")
               .HeaderAttributes(@style => "width: 90px;")
               .Attributes(@style => "width: 90px;");

        column.For(m => DisplayStatus(m.StatusName, m.Status))
               .Named(MediaGlobalization.MediaHistory_Column_Status)
               .SortColumnName("StatusName")
               .Encode(false)
               .HeaderAttributes(@style => "width: 90px;")
               .Attributes(@style => "width: 90px;");

        column.For(f => DownloadLink(f))
               .Encode(false)
               .Named("&nbsp;")
               .Sortable(false)
               .HeaderAttributes(@style => "width: 57px;", @class => "bcms-tables-nohover")
               .Attributes(@style => "width: 57px;");

        column.For(f => RestoreLink(f))
               .Encode(false)
               .Named("&nbsp;")
               .Sortable(false)
               .HeaderAttributes(@style => "width: 115px;", @class => "bcms-tables-nohover")
               .Attributes(@style => "width: 89px;");
    };
}

<div class="bcms-scroll-window">

    <div class="bcms-history-preview-holder">
        <div class="bcms-history-preview">
            <div id="bcms-history-preview" style="height: 100%">
                @Html.TabbedContentMessagesBox()
                <div class="bcms-history-info" style="display: block;">@MediaGlobalization.MediaHistory_SelectVersionToPreviewMessage</div>
                <div class="bcms-history-content"></div>
            </div>
        </div>
    </div>

    <div class="bcms-history-table-holder">

        @using (Html.BeginForm<HistoryController>(f => f.MediaHistory((GetMediaHistoryRequest)null), FormMethod.Post, new { @id = "bcms-pagecontenthistory-form", @class = "bcms-ajax-form" }))
        {                        
            @Html.HiddenGridOptions(Model.GridOptions)
            @Html.HiddenFor(model => model.MediaId)

            <div class="bcms-history-table-top">
                <div class="bcms-large-titles">@MediaGlobalization.MediaHistory_OlderVersions</div>
                <div class="bcms-search-block">
                    @Html.TextBoxFor(m => m.SearchQuery, new { @class = "bcms-editor-field-box", @placeholder = RootGlobalization.WaterMark_Search })
                    <div class="bcms-btn-search" id="bcms-pagecontenthistory-search-btn">@RootGlobalization.Button_Search</div>
                </div>
            </div>                        
            @Html.Grid(Model.Items).Sort(Model.GridOptions).Columns(columns).Attributes(@class => "bcms-tables bcms-history-grid").RenderUsing(new ScrollableEditableHtmlTableGridRenderer<MediaHistoryItem>()
                                                                                                                                 {
                                                                                                                                     InternalTableCssClass = "bcms-history-cell"
                                                                                                                                 })
            @Html.HiddenSubmit()
        }
    </div>
</div>

<script type="text/html" id="bcms-history-preview-template">
    <iframe src="" style="width: 100%; height: 100%; border: 0px;"></iframe>
</script>
