@using BetterCms.Module.Pages.Content.Resources
@using BetterCms.Module.Pages.Controllers
@using BetterCms.Module.Pages.ViewModels.Category
@using BetterCms.Module.Root.Mvc.Grids.Extensions
@using BetterCms.Module.Root.Mvc.Grids.TableRenderers
@using BetterCms.Module.Root.Mvc.Helpers
@using Microsoft.Web.Mvc
@using MvcContrib.UI.Grid

@model BetterCms.Module.Root.ViewModels.SiteSettings.SearchableGridViewModel<CategoryItemViewModel>

@{
    Action<ColumnBuilder<CategoryItemViewModel>> columns = column =>
    {
        column.EditButtonColumn();

        column.For(model => Html.InlineEditColumn(m => model.Name, "bcms-category-name", "bcms-category-old-name"))
            .Named(PagesGlobalization.SiteSettings_Categories_NameColumn)
            .SortColumnName("Name")
            .Encode(false);

        column.InlineEditControlsColumn();
    };
}

@using (Html.BeginForm<CategoryController>(f => f.Categories(null), FormMethod.Post, new { @id = "bcms-categories-form" }))
{
    @Html.HiddenGridOptions(Model.GridOptions)

    <div class="bcms-twocols-title-block">
        <div class="bcms-large-titles">@PagesGlobalization.SiteSettings_Categories_Title</div>
        <div class="bcms-btn-links-main" id="bcms-site-settings-add-category">@PagesGlobalization.SiteSettings_Categories_AddNewCategory</div>
        <div class="bcms-search-block">
            @Html.TextBoxFor(m => m.SearchQuery, new { @class = "bcms-editor-field-box" })
            <div class="bcms-btn-search" id="bcms-categories-search-btn">@PagesGlobalization.SiteSettings_Categories_Search</div>
        </div>
        @Html.MessagesBox("bcms-site-settings-categories-messages")
    </div>    
    
    @Html.Grid(Model.Items).Sort(Model.GridOptions).Columns(columns).Attributes(@class => "bcms-tables").RenderUsing(new EditableHtmlTableGridRenderer<CategoryItemViewModel>())

    @Html.HiddenSubmit()
}

<script type="text/html" id="bcms-editable-row-template">
    @Html.Grid(new List<CategoryItemViewModel> {new CategoryItemViewModel()}).Columns(columns).Attributes(@class => "bcms-tables").RenderUsing(new HtmlTableGridSingleRowRenderer<CategoryItemViewModel>())
</script>