@model BetterCms.Module.ImagesGallery.ViewModels.GalleryViewModel
 
<style>
    .album-holder {
        -moz-box-sizing: border-box;
        border: 1px solid #ECECEC;
        float: left;
        height: 198px;
        margin: 0 0 1px 1px;
        overflow: hidden;
        position: relative;
        width: 310px;
    }

        .album-holder:first-child {
            margin-left: 0;
        }

        .album-holder:hover {
            border-color: #38393C;
        }

            .album-holder:hover .album-name {
                height: 51px;
            }

    .album-name {
        background: none repeat scroll 0 0 #38393C;
        bottom: 0;
        height: 0;
        left: 0;
        padding: 0 16px;
        position: absolute;
        transition: height 0.1s ease-in-out 0s;
        width: 280px;
    }

        .album-name h4 {
            color: #2EADD5;
            font-size: 16px;
            line-height: 1.3em;
            margin: 5px 0 0;
        }

        .album-name span {
            color: #B5B5B5;
            font-size: 12px;
            margin-right: 7px;
        }

    .gallery-title time {
        display: block;
        font-weight: 400;
        line-height: 16px;
    }

    .thumbnails {
        padding-top: 37px;
    }

        .thumbnails a {
            -moz-box-sizing: border-box;
            cursor: pointer;
            float: left;
            height: 34px;
            margin: 0 5px 5px 0;
            overflow: hidden;
            width: 54px;
        }

            .thumbnails a.active-image {
                border: 3px solid #2DACD4;
            }

            .thumbnails a img {
                width: 100%;
            }

    .gallery-view {
        height: 400px;
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .gallery-scrollbar {
        background: none repeat scroll 0 0 #F8F8F8;
        border: 1px solid #ECECEC;
        height: 14px;
        margin-top: 20px;
        overflow: hidden;
        padding: 2px;
        position: relative;
    }

    .gallery-slider {
        background: none repeat scroll 0 0 #2DACD4;
        cursor: w-resize;
        height: 14px;
        position: absolute;
        top: 2px;
        width: 50px;
    }

    .coverflow {
        opacity: 1;
        overflow: hidden;
        position: relative;
        transition: opacity 0.7s ease 0s;
        z-index: 10;
    }

        .coverflow .coverflow-wrap {
            left: 50%;
            position: absolute;
            top: 50%;
        }

        .coverflow .coverflow-wrap, .coverflow .coverflow-tray {
            transform-style: preserve-3d;
        }

        .coverflow .coverflow-tray, .coverflow .coverflow-cell {
            position: absolute;
            transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0s;
        }

            .coverflow .coverflow-cell canvas {
                opacity: 1;
                position: absolute;
                transition: opacity 0.7s ease 0s;
            }

    .coverflow-text {
        opacity: 1;
        position: absolute;
        transition: opacity 0.7s ease 0s;
        width: 100%;
    }

        .coverflow-text h1, .coverflow-text h2 {
            margin: 0;
        }
</style>

@{
    // TODO: remove hardcode
    var image = "http://bettercmstemplates.devbproto.com/Content/images/gallery-1.jpg";
    var caption = "Image caption";
    var imagesCount = 17;
    var date = DateTime.Now;
}

<div class="image-gallery-albums-holder">
          
@{
    var i = 0;
    var l = Model.Albums.Count;
    
    foreach (var album in Model.Albums)
    {
        if (i % 3 == 0)
        {
            @:<section>
        }
        
        <div class="album-holder">
            <img src="@image" alt="@caption" />
            <div class="album-name">
                <h4><a data-id="@album.Id">@album.Title</a></h4>
                <span>@imagesCount Pictures,</span><time datetime="@date.Date">@date.Date</time>
            </div>
        </div>

        i++;
    
        if (i % 3 == 0 || i == l)
        {
            @:</section>
        }
    }
}
    
</div>

<script>
    window.initializeGalleryWidget = function() {
        $('.album-holder h4 > a').on('click', function() {
            var container = $(this).parents('.image-gallery-albums-holder'),
                id = $(this).data('id'),
                url = '@Model.AlbumUrl';
           
            $.ajax({
                type: 'GET',
                url: url.replace('{0}', id)
            })
                    .done(function (result) {
                        var resultContainer = $(result);
                        
                        container.hide();
                        resultContainer.insertAfter(container);
                        resultContainer.find('.back-link').on('click', function() {
                            resultContainer.remove();
                            container.show();
                        });
                    });

            return false;
        });
    }
</script>
