@using BetterCms.Module.Root.Mvc.Helpers
@using BetterCms.Module.Users.Content.Resources
@using BetterCms.Module.Users.Controllers
@using BetterCms.Module.Users.ViewModels
@using Microsoft.Web.Mvc

@model BetterCms.Module.Users.ViewModels.EditUserViewModel
    <div class="bcms-scroll-window" style="height: 527px;">
        <div class="bcms-new-blog-content">
              @using (Html.BeginForm<UserController>(c => c.SaveUser((EditUserViewModel)null), FormMethod.Post, new { @id = "bcms-role-form", @class = "bcms-ajax-form" }))
                    {
                        <div class="bcms-blog-left">
              
                            <div class="bcms-input-list-holder">
                                <div class="bcms-tooltip-mark" data-message="@UsersGlobalization.EditUser_UserName_Tooltip_Description" data-title="@UsersGlobalization.EditUser_UserName_Tooltip_Title"></div>
                                <div class="bcms-content-titles">@UsersGlobalization.EditUser_UserName_Title</div>
                                @Html.TextBoxFor(m => m.UserName, new { @class = "bcms-editor-field-box" })
                            </div>
                            <div class="bcms-input-list-holder">
                                <div class="bcms-tooltip-mark" data-message="@UsersGlobalization.EditUser_FirstName_Tooltip_Description" data-title="@UsersGlobalization.EditUser_FirstName_Tooltip_Title"></div>
                                <div class="bcms-content-titles">@UsersGlobalization.EditUser_FirstName_Title</div>
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "bcms-editor-field-box" })
                            </div>
                            <div class="bcms-input-list-holder">
                                <div class="bcms-tooltip-mark" data-message="@UsersGlobalization.EditUser_LastName_Tooltip_Description" data-title="@UsersGlobalization.EditUser_LastName_Tooltip_Title"></div>
                                <div class="bcms-content-titles">@UsersGlobalization.EditUser_LastName</div>
                                @Html.TextBoxFor(m => m.LastName, new { @class = "bcms-editor-field-box" })
                            </div>
                            <div class="bcms-input-list-holder">
                                <div class="bcms-tooltip-mark" data-message="@UsersGlobalization.EditUser_Email_Tooltip_Description" data-title="@UsersGlobalization.EditUser_Email_Tooltip_Title"></div>
                                <div class="bcms-content-titles">@UsersGlobalization.EditUser_Email_Title</div>
                                @Html.TextBoxFor(m => m.Email, new { @class = "bcms-editor-field-box" })
                            </div>
                            <div class="bcms-input-list-holder">
                                <div class="bcms-tooltip-mark" data-message="@UsersGlobalization.EditUser_Password_Tooltip_Description" data-title="@UsersGlobalization.EditUser_Password_Tooltip_Title"></div>
                                <div class="bcms-content-titles">@UsersGlobalization.EditUser_Password_Title</div>
                                @Html.TextBoxFor(m => m.Password, new { @class = "bcms-editor-field-box", @type = "password" })
                            </div>
                            <div class="bcms-input-list-holder">
                                <div class="bcms-tooltip-mark" data-message="@UsersGlobalization.EditUser_RetypePassword_Tooltip_Description" data-title="@UsersGlobalization.EditUser_RetypePassword_Tooltip_Title"></div>
                                <div class="bcms-content-titles">@UsersGlobalization.EditUser_RetypePassword_Title</div>
                                @Html.TextBoxFor(m => m.RetypedPassword, new { @class = "bcms-editor-field-box", @type = "password" })
                            </div>
                            <div class="bcms-input-list-holder">
                                <div class="bcms-tooltip-mark" data-message="@UsersGlobalization.EditUser_Role_Tooltip_Description" data-title="@UsersGlobalization.EditUser_Role_Tooltip_Title"></div>
                                <div class="bcms-content-titles">Role:</div>
                                @Html.DropDownListFor(model => model.RoleId, Model.Roles.ToSelectList(Model.RoleId), string.Empty, new { @class = "bcms-global-select", @style = "width: 245px;" })                        
                            </div>
                        </div> 
                        <div class="bcms-blog-right">
                            <div class="bcms-create-author-holder">
                                <div class="bcms-tooltip-mark" data-message="@UsersGlobalization.EditUser_UserImage_Tooltip_Description" data-title="@UsersGlobalization.EditUser_UserImage_Tooltip_Title"></div>
                                <div class="bcms-content-titles">@UsersGlobalization.EditUser_Image_Title</div>
                                <div class="bcms-uploaded-image"><img class="bcms-user-image-url" src=""/> </div>
                                <div class="bcms-upload-info">
                                    <div class="bcms-upload-info-text">@UsersGlobalization.EditUser_UploadImage_Info</div>
                                    <div id="bcms-open-uploader-button" class="bcms-btn-small">@UsersGlobalization.EditUser_UploadImage_Button_Title</div>
                                    @Html.HiddenFor(m => m.Image.ImageId, new { @class = "bcms-user-image-id" })
                                </div>
                            </div>
                        </div>
                    }
        </div>
    </div>

