@using BetterCms.Module.Root.Mvc.Helpers
@using BetterCms.Module.Users.Controllers
@using BetterCms.Module.Users.ViewModels.User
@using Microsoft.Web.Mvc

@model EditUserProfileViewModel
<div class="bcms-scroll-window" style="height: 527px;">
    @Html.TabbedContentMessagesBox()
    <div class="bcms-new-blog-content">
        @using (Html.BeginForm<UserController>(c => c.SaveUserProfile(null), FormMethod.Post, new { @id = "bcms-user-profile-form", @class = "bcms-ajax-form" }))
        {
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.Version)
            @Html.HiddenFor(model => model.Image.ImageId, new { data_bind = "value: image().id()" })
            
            <div class="bcms-blog-left">
                @Html.Partial("Partial/EditUserMainFields")
            </div>
             
            <div class="bcms-blog-right">
                @Html.Partial("Partial/EditUserImage")
            </div>
        }
    </div>
</div>

