@using BetterCms.Module.Root.Mvc.Grids.Extensions
@using BetterCms.Module.Root.Mvc.Grids.TableRenderers
@using BetterCms.Module.Users.Content.Resources
@using BetterCms.Module.Users.ViewModels;
@using BetterCms.Module.Root.Mvc.Helpers
@using Microsoft.Web.Mvc
@using MvcContrib.UI.Grid

@model BetterCms.Module.Root.ViewModels.SiteSettings.SearchableGridViewModel<UserViewModel>

@{
    Action<ColumnBuilder<UserViewModel>> columns = column =>
    {
        column.EditButtonColumn();

        column.For(m => string.Format("<a class=\"bcms-tables-link bcms-grid-item-edit-button bcms-blog-Title\" data-id=\"{0}\">{1}</a>", m.Id, m.Name))
            .Named(UsersGlobalization.SiteSettings_Users_NameColumn)
            .SortColumnName("Name")
            .Encode(false);

        column.For(m => m.Roles)
           .Named(UsersGlobalization.SiteSettings_Users_RoleColumn)
           .SortColumnName("Roles")
           .Attributes(@class => "bcms-blog-CreatedOn");
      

        column.DeleteButtonColumn();
    };
}

@Html.HiddenGridOptions(Model.GridOptions)
<div class="bcms-top-block-holder">
    <div class="bcms-btn-links-main" id="bcms-create-user-button">@UsersGlobalization.User_Dialog_AddNew</div>
    <div class="bcms-search-block">
        @Html.TextBoxFor(m => m.SearchQuery, new { @class = "bcms-editor-field-box" })
        <div class="bcms-btn-search" id="bcms-blogs-search-btn">@UsersGlobalization.User_Dialog_Search</div>
    </div>
    @Html.MessagesBox("bcms-blogs-messages")
</div>

@Html.Grid(Model.Items).Sort(Model.GridOptions).Columns(columns).Attributes(@class => "bcms-tables", @id => "bcms-users-grid").RenderUsing(new EditableHtmlTableGridRenderer<UserViewModel>())


<script type="text/html" id="bcms-blogs-list-row-template">
    @Html.Grid(new List<UserViewModel> {new UserViewModel()}).Columns(columns).Attributes(@class => "bcms-tables").RenderUsing(new HtmlTableGridSingleRowRenderer<UserViewModel>())
</script>
