@* --------------------------------------------------------------------------------------------------------------------
// <copyright file="CategoryTrees.cshtml" company="Devbridge Group LLC">
// 
// Copyright (C) 2015,2016 Devbridge Group LLC
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU Lesser General Public License
// along with this program.  If not, see http://www.gnu.org/licenses/. 
// </copyright>
// 
// <summary>
// Better CMS is a publishing focused and developer friendly .NET open source CMS.
// 
// Website: https://www.bettercms.com 
// GitHub: https://github.com/devbridge/bettercms
// Email: info@bettercms.com
// </summary>
// -------------------------------------------------------------------------------------------------------------------- *@
@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Root.Controllers
@using BetterCms.Module.Root.Mvc.Grids.Extensions
@using BetterCms.Module.Root.Mvc.Grids.TableRenderers
@using BetterCms.Module.Root.Mvc.Helpers
@using BetterCms.Module.Root.ViewModels.SiteSettings
@using Microsoft.Web.Mvc
@using MvcContrib.UI.Grid

@model BetterCms.Module.Root.ViewModels.Category.CategoryTreesGridViewModel<SiteSettingCategoryTreeViewModel>
@{
    Action<ColumnBuilder<SiteSettingCategoryTreeViewModel>> columns = column =>
    {
        column.EditButtonColumn();
        column.For(m => m.Title)
            .Named(RootGlobalization.SiteSettings_CategoryTrees_TitleColumn)
            .SortColumnName("Title")
            .Attributes(@class => "bcms-grid-item-title");
        column.DeleteButtonColumn();
    };
}

@using (Html.BeginForm<CategoryController>(f => f.CategoryTrees(null), FormMethod.Post, new { @id = "bcms-categorytrees-form", @class = "bcms-ajax-form" }))
{
        @Html.MessagesBox()

    <div class="bcms-window-settings">
        @Html.HiddenGridOptions(Model.GridOptions)
        <div class="bcms-top-block-holder">
                <div class="bcms-btn-main" id="bcms-create-categorytree-button">@RootGlobalization.SiteSettings_CategoryTrees_AddNewCategoryTree</div>

                <div class="bcms-top-block-inner">
                    <div class="bcms-btn-search" id="bcms-categorytrees-search-btn">@RootGlobalization.SiteSettings_CategoryTrees_Search</div>
                    <div class="bcms-search-block">
                        @Html.TextBoxFor(m => m.SearchQuery, new { @class = "bcms-search-field-box bcms-js-search-box bcms-search-query", @placeholder = RootGlobalization.WaterMark_Search })
                    </div>
                </div>

            <div class="bcms-top-block-pager">
                @Html.RenderPaging(Model)
            </div>
        </div>

        @Html.Grid(Model.Items).Sort(Model.GridOptions).Columns(columns).Attributes(@class => "bcms-tables").RenderUsing(new EditableHtmlTableGridRenderer<SiteSettingCategoryTreeViewModel>())
    </div>
}

<script type="text/html" id="bcms-categorytree-list-row-template">
    @Html.Grid(new List<SiteSettingCategoryTreeViewModel> { new SiteSettingCategoryTreeViewModel() }).Columns(columns).Attributes(@class => "bcms-tables").RenderUsing(new HtmlTableGridSingleRowRenderer<SiteSettingCategoryTreeViewModel>())
</script>
