@using BetterCms.Module.Root
@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Root.Controllers
@using BetterCms.Module.Root.Mvc.Helpers
@using BetterCms.Module.Root.ViewModels.Category
@using Microsoft.Web.Mvc
@model CategoryTreeViewModel

<div class="bcms-modal-frame-holder">
    @Html.MessagesBox()

    <div class="bcms-window-options" id="bcms-categorytree-addnode">
        @* Form is required for unobtrusive validation. *@
        @using (Html.BeginForm<CategoryController>(f => f.EditCategoryTree(null), FormMethod.Post, new { @class = "bcms-categorytree-form bcms-ajax-form", data_readonly = Model.IsReadOnly.ToString().ToLower() }))
        {
            <div class="bcms-form-holder">
                <div class="bcms-form-block-holder">
                    <div class="bcms-input-list-holder">
                        @Html.Tooltip(RootGlobalization.CategoryTree_EditDialog_Title_Tooltip_Description)
                        <div class="bcms-content-titles">@RootGlobalization.CategoryTree_EditDialog_Title_Title</div>

                        <div class="bcms-input-box">
                            @Html.TextBoxFor(model => model.Title, new { @class = "bcms-editor-field-box", data_bind = "value: title, valueUpdate: 'afterkeydown', hasfocus: true" })
                            @Html.BcmsValidationMessageFor(f => f.Title)
                            @Html.HiddenFor(m => m.Id)
                            @Html.HiddenFor(m => m.Version)
                        </div>
                    </div>

                    <div class="bcms-input-list-holder">
                        @Html.Tooltip(RootGlobalization.CategoryTree_EditDialog_UsedFor_Tooltip_Description)
                        <div class="bcms-content-titles">@RootGlobalization.CategoryTree_EditDialog_UsedFor_Title</div>

                        <!-- ko foreach: categorizableItems -->
                        <div class="bcms-checkbox-holder">
                            <input type="checkbox" data-bind="checked: isSelected, enable: !isDisabled()">
                            <div class="bcms-edit-label" data-bind="text: name, click: inverseSelection"></div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>

                @if (Model.ShowMacros)
                {
                    <div class="bcms-input-list-holder">
                        @Html.Tooltip(RootGlobalization.CategoryTree_EditDialog_Macro_Tooltip_Message)
                        <div class="bcms-content-titles">@RootGlobalization.CategoryTree_EditDialog_Macro_Title</div>

                        <div class="bcms-input-box">
                            @Html.TextBoxFor(model => model.Macro, new
                       {
                           @class = "bcms-editor-field-box",
                           placeholder = RootGlobalization.CategoryTree_Macro_Placeholder_Message,
                           data_bind = "value: macro, valueUpdate: 'afterkeydown', hasfocus: true"
                       })
                            @Html.BcmsValidationMessageFor(m => m.Macro)
                        </div>
                    </div>
                }
            </div>

            <div class="bcms-tree-info-block">
                <div class="bcms-content-titles">@RootGlobalization.CategoryTree_EditDialog_Title_Title</div>

                <div class="bcms-tree-expander" data-bind="click: expandAll">@RootGlobalization.CategoryTree_Button_ExpandAll</div>
                <div class="bcms-tree-expander" data-bind="click: collapseAll">@RootGlobalization.CategoryTree_Button_CollapseAll</div>
            </div>

            <div class="bcms-tree-controls-holder">
                <div class="bcms-tree-add-node" data-bind="click: addNewNode">Add New</div>
            </div>

            <div class="bcms-tree-drop-area">
                <div class="bcms-addnode-placement-holder@(Model.IsReadOnly ? "-readonly" : string.Empty)">
                    @Html.Partial("Partial/CategoryTree", new CategoryTreeNodeViewModel())
                </div>
            </div>
        }
    </div>

    @Html.Partial("Partial/CategoryTreeTemplate", new CategoryTreeNodeViewModel())
</div>
