@using BetterCms.Module.Root
@using BetterCms.Module.Root.Mvc.Grids

@model BetterCms.Module.Pages.Mvc.EditableGrid.OptionValueEditableGridColumn

@* Text type *@
<!-- ko if: !useDefaultValueBinding() && type() != 5 && type() != 4 && type() != 21 && type() != 99 -->
    @Html.Partial(RootModuleConstants.EditableGridCellTemplate)
<!-- /ko -->

@* Multi-line Text type *@
<!-- ko if: !useDefaultValueBinding() && type() == 21 -->
    @Html.Partial(RootModuleConstants.EditableGridMultilineTextCellTemplate)
<!-- /ko -->

@* Boolean *@
<!-- ko if: !useDefaultValueBinding() && type() == 5  -->
    @Html.Partial(RootModuleConstants.EditableGridBooleanCellTemplate, new EditableGridBooleanColumn(Model.HeaderTitle, Model.SortColumn, Model.ValueBind)
                                                                           {
                                                                               HiddenFieldName = Model.HiddenFieldName,
                                                                               HeaderAttributes = Model.HeaderAttributes,
                                                                               AutoFocus = Model.AutoFocus,
                                                                               CanBeEdited = Model.CanBeEdited,
                                                                               ShowValueAsText = true
                                                                           })
<!-- /ko -->

@* DateTime *@
<!-- ko if: !useDefaultValueBinding() && type() == 4  -->
<td @Html.Raw(Model.Attributes)>
    @if (Model.CanBeEdited)
    {
        <!-- ko if: isActive() -->
        <div class="bcms-input-field-holder">
            <div class="bcms-date-input-box bcms-options-date">
                <input class="bcms-editor-field-box bcms-datepicker" data-bind="
                    css: { 'bcms-input-validation-error': !isNew() && @(Model.ValueBind).hasError && @(Model.ValueBind).hasError() },
                    value: @(Model.ValueBind),
                    valueUpdate: 'afterkeydown', 
                    click: onItemSelect,
                    event: {blur: onBlurField, focus: onItemSelect},
                    enterPress: onSave, 
                    escPress: onCancelEdit,
                    afterRender: initDatePickers()
                    @(Model.AutoFocus ? ", hasfocus: isActive() && hasFocus" : "") " />
            
                <!-- ko if: !isNew() &&  @(Model.ValueBind).hasError && @(Model.ValueBind).hasError() -->
                <span class="bcms-field-validation-error">
                    <span data-bind="html: @(Model.ValueBind).validationMessage()"></span>
                </span>
                <!-- /ko -->
            </div>
        </div>
        <!-- /ko -->
        <!-- ko ifnot: isActive() -->
    }
    <a class="bcms-tables-link" data-bind="text: @(Model.ValueBind)()"></a>    
    @if (Model.CanBeEdited)
    {
        <!-- /ko -->
    }
</td>
<!-- /ko -->

@* Custom *@
<!-- ko if: !useDefaultValueBinding() && type() == 99  -->
<td @Html.Raw(Model.Attributes)>
    @if (Model.CanBeEdited)
    {
        <!-- ko if: isActive() -->
        <input style="width: 70%" class="bcms-editor-field-box" type="text" readonly="readonly" data-bind="value: @(Model.CustomValueBind)() || @(Model.ValueBind)(), 
            click: onItemSelect,
            event: {blur: onBlurFieldDelayed, focus: onItemSelect},
            enterPress: onSave, 
            escPress: onCancelEdit
            @(Model.AutoFocus ? ", hasfocus: isActive() && hasFocus" : "")" />
        <div class="bcms-btn-small" data-bind="
                    click: onCustomOptionExecute.bind($data, $data, @(Model.CustomValueBind), @(Model.ValueBind)),
                    event: {blur: onBlurField, focus: onItemSelect},
                    enterPress: onSave, 
                    escPress: onCancelEdit">...</div>
        <!-- /ko -->
        <!-- ko ifnot: isActive() -->
    }
    <a class="bcms-tables-link" data-bind="text: @(Model.CustomValueBind)() || @(Model.ValueBind)()"></a>    
    @if (Model.CanBeEdited)
    {
        <!-- /ko -->
    }
</td>
<!-- /ko -->

@* Using default value *@
<!-- ko if: useDefaultValueBinding() && type() == 5  -->
    @Html.Partial(RootModuleConstants.EditableGridBooleanCellTemplate, new EditableGridBooleanColumn(null, null, Model.ValueBind)
                                                                           {
                                                                               CanBeEdited = false,
                                                                               ShowValueAsText = true
                                                                           })
<!-- /ko -->

<!-- ko if: useDefaultValueBinding() && type() != 5  -->
<td @Html.Raw(Model.Attributes)>
    <a class="bcms-tables-link" data-bind="text: @(Model.CustomValueBind)() || @(Model.ValueBind)()"></a>
</td>
<!-- /ko -->
