@using BetterCms.Module.Root

@* Text type *@
<!-- ko if: type() != 5 && type() != 4  -->
    @Html.Partial(RootModuleConstants.EditableGridCellTemplate)
<!-- /ko -->

@* Boolean *@
<!-- ko if: type() == 5  -->
<td @Html.Raw(Model.Attributes)>
    @if (Model.CanBeEdited)
    {
        <!-- ko if: isActive() -->
        <input type="checkbox" class="bcms-checkbox-holder" data-bind="
            checked: @(Model.ValueBind),
            click: onItemSelect,
            event: {blur: onBlurField, focus: onStopEvent},
            enterPress: onSave, 
            escPress: onCancelEdit
            @(Model.AutoFocus ? ", hasfocus: isActive() && hasFocus" : "") " />
        <!-- /ko -->
        <!-- ko ifnot: isActive() -->
    }
    <input type="checkbox" class="bcms-checkbox-holder" data-bind="checked: @(Model.ValueBind)(), click: onOpen" />
    @if (Model.CanBeEdited)
    {
        <!-- /ko -->
    }
</td>
<!-- /ko -->

@* DateTime *@
<!-- ko if: type() == 4  -->
<td @Html.Raw(Model.Attributes)>
    @if (Model.CanBeEdited)
    {
        <!-- ko if: isActive() -->
        <div class="bcms-date-input-box">
            <input class="bcms-editor-field-box bcms-datepicker" data-bind="
                value: @(Model.ValueBind),
                click: onItemSelect,
                event: {blur: onBlurField, focus: onStopEvent},
                enterPress: onSave, 
                escPress: onCancelEdit,
                afterRender: initDatePickers()
                @(Model.AutoFocus ? ", hasfocus: isActive() && hasFocus" : "") " />
        </div>
        <!-- /ko -->
        <!-- ko ifnot: isActive() -->
    }
    <a class="bcms-tables-link" data-bind="text: @(Model.ValueBind)()"></a>    
    @if (Model.CanBeEdited)
    {
        <!-- /ko -->
    }
</td>
<!-- /ko -->