@using BetterCms.Module.Root
@using BetterCms.Module.Root.Mvc.Grids

@model BetterCms.Module.Pages.Mvc.EditableGrid.OptionValueEditableGridColumn

@* Text type *@
<!-- ko if: !useDefaultValueBinding() && type() != 5 && type() != 4 && type() != 21 && type() != 99 -->
    @Html.Partial(RootModuleConstants.EditableGridCellTemplate)
<!-- /ko -->

@* Multi-line Text type *@
<!-- ko if: !useDefaultValueBinding() && type() == 21 -->
    @Html.Partial(RootModuleConstants.EditableGridMultilineTextCellTemplate)
<!-- /ko -->

@* Boolean *@
<!-- ko if: !useDefaultValueBinding() && type() == 5  -->
    @Html.Partial(RootModuleConstants.EditableGridBooleanCellTemplate, new EditableGridBooleanColumn(Model.HeaderTitle, Model.SortColumn, Model.ValueBind)
                                                                           {
                                                                               HiddenFieldName = Model.HiddenFieldName,
                                                                               HeaderAttributes = Model.HeaderAttributes,
                                                                               AutoFocus = Model.AutoFocus,
                                                                               CanBeEdited = Model.CanBeEdited,
                                                                               ShowValueAsText = true,
                                                                               FocusIdentifier = Model.FocusIdentifier
                                                                           })
<!-- /ko -->

@* DateTime *@
<!-- ko if: !useDefaultValueBinding() && type() == 4  -->
<td @Html.Raw(Model.Attributes)>
    @if (Model.CanBeEdited)
    {
        <div class="bcms-input-field-holder">
            <div class="bcms-date-input-box bcms-options-date" data-bind="visible: isActive()">
                <input class="bcms-editor-field-box bcms-datepicker" data-bind="
                    css: { 'bcms-input-validation-error': !isNew() && @(Model.ValueBind).hasError && @(Model.ValueBind).hasError() },
                    value: @(Model.ValueBind),
                    valueUpdate: 'afterkeydown', 
                    enterPress: onSave, 
                    escPress: onCancelEdit,
                    afterRender: initDatePickers(),
                    visible: isActive()
                    @(!string.IsNullOrEmpty(Model.FocusIdentifier) ? string.Format(", hasfocus: {0}", Model.FocusIdentifier) : string.Empty)
                       " />
            
                <!-- ko if: !isNew() &&  @(Model.ValueBind).hasError && @(Model.ValueBind).hasError() -->
                <span class="bcms-field-validation-error">
                    <span data-bind="html: @(Model.ValueBind).validationMessage()"></span>
                </span>
                <!-- /ko -->
            </div>
        </div>
    }
    <a class="bcms-tables-link" data-bind="
       text: @(Model.ValueBind)() @(!string.IsNullOrEmpty(Model.FocusIdentifier) ? string.Format(", click: onItemSelect.bind($data, {0})", Model.FocusIdentifier) : string.Empty)
       @(Model.CanBeEdited ? ", visible: !isActive()" : string.Empty)
       "></a>    

</td>
<!-- /ko -->

@* Custom *@
<!-- ko if: !useDefaultValueBinding() && type() == 99  -->
<td @Html.Raw(Model.Attributes)>
    @if (Model.CanBeEdited)
    {
        <input style="width: 70%" class="bcms-editor-field-box" type="text" readonly="readonly" data-bind="value: @(Model.CustomValueBind)() || @(Model.ValueBind)(), 
            enterPress: onSave, 
            escPress: onCancelEdit,
            visible: isActive()
            @(!string.IsNullOrEmpty(Model.FocusIdentifier) ? string.Format(", hasfocus: {0}", Model.FocusIdentifier) : string.Empty)
               " />
        <div class="bcms-btn-small" data-bind="
                    click: onCustomOptionExecute.bind($data, $data, @(Model.CustomValueBind), @(Model.ValueBind)),
                    enterPress: onSave, 
                    escPress: onCancelEdit,
                    visible: isActive()">...</div>
    }
    <a class="bcms-tables-link" data-bind="
       text: @(Model.CustomValueBind)() || @(Model.ValueBind)() 
       @(!string.IsNullOrEmpty(Model.FocusIdentifier) ? string.Format(", click: onItemSelect.bind($data, {0})", Model.FocusIdentifier) : string.Empty)
       @(Model.CanBeEdited ? ", visible: !isActive()" : string.Empty)
       "></a>    
</td>
<!-- /ko -->

@* Using default value *@
<!-- ko if: useDefaultValueBinding() && type() == 5  -->
    @Html.Partial(RootModuleConstants.EditableGridBooleanCellTemplate, new EditableGridBooleanColumn(null, null, Model.ValueBind)
                                                                           {
                                                                               CanBeEdited = false,
                                                                               ShowValueAsText = true
                                                                           })
<!-- /ko -->

<!-- ko if: useDefaultValueBinding() && type() != 5  -->
<td @Html.Raw(Model.Attributes)>
    <a class="bcms-tables-link" data-bind="text: @(Model.CustomValueBind)() || @(Model.ValueBind)() @(!string.IsNullOrEmpty(Model.FocusIdentifier) ? string.Format(", click: onItemSelect.bind($data, {0})", Model.FocusIdentifier): string.Empty)"></a>
</td>
<!-- /ko -->
