@using BetterCms.Module.Root.Mvc
@using BetterCms.Module.Root.Mvc.Helpers
@using BetterCms.Module.Root.ViewModels.Cms

@model RenderPageViewModel
@{
    Layout = "RootLayout.cshtml";
}

@if (Model.CanManageContent)
{
    @Html.Partial("~/Areas/bcms-root/Views/Shared/Partial/SupportBrowser.cshtml")
    @Html.Partial("~/Areas/bcms-root/Views/Shared/Partial/SupportJavascript.cshtml")
}

@RenderBody()

@if (Model.CanManageContent)
{
    @Html.Partial("~/Areas/bcms-root/Views/Shared/Partial/MasterPagesPath.cshtml")
}

@section CmsMetaTitle {
    <title>@Model.MetaTitle</title>
}

@section CmsMeta {    
    @if (Model.Metadata != null)
    {
        foreach (var metaData in Model.Metadata)
        {
            metaData.Render(Model, (ViewContext.Controller as CmsControllerBase).SecurityService, Html);
        }
    }
}
@section CmsHeadStyles {   
    <style type="text/css">
        .bcms-clearfix:after {
            content: "";
            visibility: hidden;
            display: block;
            height: 0;
            clear: both;
        }
    </style>
    @if (Model.CanManageContent)
    {
        @Html.Action("RenderStyleSheetIncludes", "Rendering")
    }
}

@section CmsHeadScripts {
    @RenderSection("CmsHeadScripts", false)

    @if (Model.CanManageContent)
    {
        <script type="text/javascript">
            function loadBetterCmsScriptAsync(url, callback) {
                var head = document.getElementsByTagName("head")[0];
                var scriptTag = document.createElement("script");
                scriptTag.type = 'text/javascript';
                scriptTag.src = url;
                scriptTag.async = true;

                // Attach handlers for all browsers
                var done = false;
                scriptTag.onload = scriptTag.onreadystatechange = function() {
                    if (!done && (!this.readyState || this.readyState == "loaded" || this.readyState == "complete")) {
                        done = true;
                        try {
                            if (callback) {
                                callback();
                            }
                        } finally {
                            scriptTag.onload = scriptTag.onreadystatechange = null;
                            head.removeChild(scriptTag);
                        }
                    }
                };

                head.appendChild(scriptTag);
            }

            (function() {
                loadBetterCmsScriptAsync('@Model.RequireJsPath', function() {
                    loadBetterCmsScriptAsync('@Model.MainJsPath');
                });
            })();
        </script>
        <!--[if lt IE 9]>
            <script src="@Model.Html5ShivJsPath"></script>
        <![endif]-->
    }
}

@section CmsScripts {
    @if (Model.CanManageContent)
    {
        @Html.Partial("Partial/Region")
        @Html.Partial("Partial/ContentOverlay")
        @Html.Action("Container", "Sidebar", Model)
        @Html.Partial("Partial/Modal")
        @Html.Partial("Partial/Alert")
        @Html.Partial("Partial/Confirm")
        @Html.Partial("Partial/Info")
        @Html.Partial("Partial/Tooltip")
        @Html.Partial("Partial/ImagePreview")
        @Html.Partial("Partial/SiteSettingTab")
        @Html.Partial("Partial/ContentsTree")
    }

    @if (Model.JavaScripts != null)
    {
        @Html.RenderPageCustomJavaScript(Model.JavaScripts, Model)
    }
}

@section Styles {
    @RenderSection("Styles", false)

    @if (Model.Stylesheets != null)
    {
        @Html.RenderPageCustomCss(Model.Stylesheets, Model)
    }
}
@section HeadScripts {
    @RenderSection("HeadScripts", false)
}
@section Scripts {
    @RenderSection("Scripts", false)
}
@section DoctypeTag { 
    @if (IsSectionDefined("DoctypeTag"))
    {
        @RenderSection("DoctypeTag", false)
    }
    else
    {
        @:<!DOCTYPE html>
    }
}
@section HtmlTag { 
    @if (IsSectionDefined("HtmlTag"))
    {
        @RenderSection("HtmlTag", false)
    }
    else
    {
        @:<html>
    }
}
@section BodyTag { 
    @if (IsSectionDefined("BodyTag"))
    {
        @RenderSection("BodyTag", false)
    }
    else
    {
        @:<body @Html.RenderBodyAttributes()@RenderSection("BodyAttributes", false)>
    }
}
