@using BetterCms.Module.Root.Mvc
@using BetterCms.Module.Root.Mvc.Helpers

@model BetterCms.Module.Root.ViewModels.Cms.RenderPageViewModel
@{
    Layout = "RootLayout.cshtml";
}

@if (Model.CanManageContent)
{
    @Html.Partial("~/Areas/bcms-root/Views/Shared/Partial/SupportBrowser.cshtml")
    @Html.Partial("~/Areas/bcms-root/Views/Shared/Partial/SupportJavascript.cshtml")
}

@RenderBody()

@section CmsMetaTitle {
    <title>@Model.Title</title>
}

@section CmsMeta {
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    @if (Model.Metadata != null)
    {
        foreach (var metaData in Model.Metadata)
        {
            metaData.Render(Model, (ViewContext.Controller as CmsControllerBase).SecurityService, Html);
        }
    }
}

@section CmsHeadStyles {   
    @if (Model.CanManageContent)
    {
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css' />
        @Html.Action("RenderStyleSheetIncludes", "Rendering")
    }
    @if (Model.Stylesheets != null)
    {
        @Html.RenderPageCustomCss(Model.Stylesheets)
    }
}

@section CmsHeadScripts {
    @if (Model.CanManageContent)
    {
        <script type="text/javascript">
            function loadBetterCmsScriptAsync(url, callback) {
                var head = document.getElementsByTagName("head")[0];
                var scriptTag = document.createElement("script");
                scriptTag.type = 'text/javascript';
                scriptTag.src = url;
                scriptTag.async = true;

                // Attach handlers for all browsers
                var done = false;
                scriptTag.onload = scriptTag.onreadystatechange = function() {
                    if (!done && (!this.readyState || this.readyState == "loaded" || this.readyState == "complete")) {
                        done = true;
                        try {
                            if (callback) {
                                callback();
                            }
                        } finally {
                            scriptTag.onload = scriptTag.onreadystatechange = null;
                            head.removeChild(scriptTag);
                        }
                    }
                };

                head.appendChild(scriptTag);
            }

            (function() {
                var r = window.require;
                if (!r) {
                    loadBetterCmsScriptAsync('@Model.RequireJsPath', function() {
                        loadBetterCmsScriptAsync('@Model.MainJsPath');
                    });
                } else if (r.version < '2.0.0') {
                    alert("BetterCMS supports RequireJS from a 2.0.0 version. Please visit http://requirejs.org/ and do upgrade.");
                    return;
                } else {
                    loadBetterCmsScriptAsync('@Model.MainJsPath');
                }
            })();
        </script>
        <!--[if lt IE 9]>
            <script src="@Model.Html5ShivJsPath"></script>
        <![endif]-->
    }
}

@section CmsBodyAttributes {@(Html.Raw(Model.CanManageContent ? string.Format(@" data-page-id = ""{0}""", @ViewBag.pageId) : string.Empty))}

@section CmsScripts {
    @if (Model.CanManageContent)
    {
        @Html.Partial("Partial/Region")
        @Html.Partial("Partial/ContentOverlay")
        @Html.Action("Container", "Sidebar")
        @Html.Partial("Partial/Modal")
        @Html.Partial("Partial/Alert")
        @Html.Partial("Partial/Confirm")
        @Html.Partial("Partial/Info")
        @Html.Partial("Partial/Tooltip")
        @Html.Partial("Partial/ImagePreview")
        @Html.Partial("Partial/SiteSettingTab")
    }

    @if (Model.JavaScripts != null)
    {
        @Html.RenderPageCustomJavaScript(Model.JavaScripts)
    }
}

@section Styles {
    @RenderSection("Styles", false)
}
@section HeadScripts {
    @RenderSection("HeadScripts", false)
}
@section Scripts {
    @RenderSection("Scripts", false)
}
@section BodyAttributes {@RenderSection("BodyAttributes", false)}
