@using BetterCms.Module.Root.Mvc
@using BetterCms.Module.Root.Mvc.Helpers
@using BetterCms.Module.Root.ViewModels.Cms

@model RenderPageViewModel
@{
    Layout = "RootLayout.cshtml";
}

@RenderBody()

@section CmsMetaTitle {
    <title>@Model.MetaTitle</title>
}

@section CmsMeta {    
    @if (Model.Metadata != null)
    {
        foreach (var metaData in Model.Metadata)
        {
            metaData.Render(Model, (ViewContext.Controller as CmsControllerBase).SecurityService, Html);
        }
    }
}
@section CmsHeadStyles {   
    <style type="text/css">
        .bcms-clearfix:after {
            content: ".";
            visibility: hidden;
            display: block;
            height: 0;
            clear: both;
        }
    </style>
}

@section CmsHeadScripts {
    @RenderSection("CmsHeadScripts", false)
}

@section CmsScripts {
    @if (Model.JavaScripts != null)
    {
        @Html.RenderPageCustomJavaScript(Model.JavaScripts)
    }
}

@section Styles {
    @RenderSection("Styles", false)

    @if (Model.Stylesheets != null)
    {
        @Html.RenderPageCustomCss(Model.Stylesheets)
    }
}
@section HeadScripts {
    @RenderSection("HeadScripts", false)
}
@section Scripts {
    @RenderSection("Scripts", false)
}
@section DoctypeTag { 
    @if (IsSectionDefined("DoctypeTag"))
    {
        @RenderSection("DoctypeTag", false)
    }
    else
    {
        @:<!DOCTYPE html>
    }
}
@section HtmlTag { 
    @if (IsSectionDefined("HtmlTag"))
    {
        @RenderSection("HtmlTag", false)
    }
    else
    {
        @:<html>
    }
}
@section BodyTag { 
    @if (IsSectionDefined("BodyTag"))
    {
        @RenderSection("BodyTag", false)
    }
    else
    {
        @:<body @Html.RenderBodyAttributes()@RenderSection("BodyAttributes", false)>
    }
}
