@using BetterCms.Module.Pages.Content.Resources
@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Root.Mvc.Helpers
@model BetterCms.Module.Pages.ViewModels.Page.AddNewPageViewModel

<div class="bcms-input-list-holder">
    <div class="bcms-content-titles">
        @PagesGlobalization.AddNewPage_Permalink
        @Html.Tooltip(PagesGlobalization.AddNewPage_Permalink_Tooltip_Description)
        <a id="bcms-page-editpermalink">@RootGlobalization.Button_Edit</a>
    </div>
    <div class="bcms-editseo-urlpath" id="bcms-page-permalink-info">@(string.IsNullOrWhiteSpace(Model.PageUrl) ? Html.Raw("&nbsp;") : new MvcHtmlString(Html.Encode(Model.PageUrl)))</div>

    <div class="bcms-edit-urlpath-box" style="display: none;">
        @Html.Hidden("PagePermalinkHidden", Model.PageUrl, new { @id = "bcms-page-permalink" })
        <div class="bcms-field-wrapper">
            @Html.TextBoxFor(model => model.PageUrl, new { @id = "bcms-page-permalink-edit", @class = "bcms-field-text bcms-js-url-path" })
            @Html.BcmsValidationMessageFor(f => f.PageUrl)
        </div>
        <div class="bcms-btn-primary" id="bcms-save-permalink">@RootGlobalization.Button_Ok</div>
        <div class="bcms-btn-cancel">@RootGlobalization.Button_Cancel</div>
    </div>
</div>
