@using BetterCms.Core.DataContracts.Enums
@using BetterCms.Module.Pages.Content.Resources
@using BetterCms.Module.Pages.ViewModels.SiteSettings
@using BetterCms.Module.Root
@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Root.Mvc
@using BetterCms.Module.Root.Mvc.Grids.Extensions
@model BetterCms.Module.Pages.ViewModels.Filter.PagesGridViewModel<SiteSettingPageViewModel>

@if (Model == null)
{
    return;
}
    
@Html.HiddenGridOptions(Model.GridOptions)
    <div class="bcms-top-block-holder">
        @if ((ViewContext.Controller as CmsControllerBase).SecurityService.IsAuthorized(RootModuleConstants.UserRoles.EditContent))
        {
            <div class="bcms-btn-main" id="bcms-create-page-button">@PagesGlobalization.SiteSettings_Pages_AddNew</div>
        }

        <div class="bcms-top-block-inner">
            <div class="bcms-btn-search" id="bcms-pages-search-btn">@PagesGlobalization.SiteSettings_Pages_Search</div>
            <div class="bcms-search-block">
                @Html.TextBoxFor(m => m.SearchQuery, new { @class = "bcms-search-field-box bcms-js-search-box bcms-search-query", @placeholder = RootGlobalization.WaterMark_Search })                      
            </div>
        </div>

        <div class="bcms-top-block-pager">
            @Html.Partial("~/Areas/bcms-root/Views/Shared/Partial/Paging.cshtml")
        </div>
    </div>

    <div class="bcms-top-block-filters">
        @Html.Partial("~/Areas/bcms-pages/Views/Filter/PagesFilterTemplate.cshtml", Model)
    </div>

    @Html.Partial("~/Areas/bcms-pages/Views/Page/Partial/PagesGrid.cshtml", Model)
