@model BetterCms.Module.Pages.ViewModels.Page.TemplateViewModel

<div class="bcms-grid-box bcms-grid-box-pages bcms-js-grid-box @(Model.IsActive ? "bcms-grid-box-active" : string.Empty) @(Model.IsCircularToCurrent ? "bcms-grid-box-notcompatible" : string.Empty)"
     data-id="@Model.TemplateId"
     data-master="@(Model.IsMasterPage ? "1" : "0")"
     data-iscircular="@(Model.IsCircularToCurrent ? "1" : "0")">

    <div class="bcms-content-titles">@Model.Title</div>

    <div class="bcms-grid-image-holder">
        @if (!string.IsNullOrWhiteSpace(Model.PreviewThumbnailUrl) || !string.IsNullOrWhiteSpace(Model.PreviewUrl))
        {
            <div class="bcms-grid-image">
                <img src="@(!string.IsNullOrWhiteSpace(Model.PreviewThumbnailUrl) ? Model.PreviewThumbnailUrl : Model.PreviewUrl)" alt="@Model.Title" />
            </div>

            <div class="bcms-zoom-overlay bcms-preview-template" data-url="@(!string.IsNullOrWhiteSpace(Model.PreviewUrl) ? Model.PreviewUrl : Model.PreviewThumbnailUrl)" data-alt="@Model.Title"></div>
        }
        else
        {
            <svg class="bcms-grid-no-preview" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="-205 372 50 50" enable-background="new -205 372 50 50">
                <g fill="#cdcdcd">
                    <path d="m-205 422h50v-50h-50v50m2-48h46v46h-46v-46" />
                    <path d="m-164.3 406.2l1.4-1.4-11.5-11.5-7.7 7.6-3.6-3.6-11.5 11.5 1.4 1.4 10.1-10.1 11.1 11.1 1.4-1.4-7.5-7.5 6.3-6.2 10.1 10.1" />
                    <path d="m-187.9 382.4c-2.8 0-5 2.2-5 5 0 2.8 2.2 5 5 5 2.8 0 5-2.2 5-5 0-2.8-2.2-5-5-5m0 2c1.7 0 3 1.4 3 3 0 1.7-1.3 3-3 3-1.6 0-3-1.3-3-3 0-1.7 1.3-3 3-3" />
                </g>
            </svg>
        }
    </div>

    <div class="bcms-btn-tertiary bcms-js-grid-box">Select</div>
</div>
