@model IList<BetterCms.Module.Pages.ViewModels.Page.TemplateViewModel> 
@helper Templates(IList<BetterCms.Module.Pages.ViewModels.Page.TemplateViewModel> model)
{
    if (model != null && model.Count > 0)
    {
        @Html.Raw("<div class=\"bcms-grid-holder\">")

        for (int i = 0; i < model.Count; i++)
        {
            if (i % 3 == 0 && i != 0)
            {
                @Html.Raw("</div>")
                @Html.Raw("<div class=\"bcms-grid-holder\">")
            }

            @Html.Partial("Partial/Template", model[i])
        }

        @Html.Raw("</div>")
    }    
}
@{
    if (!Model.Any(m => m.IsMasterPage))
    {
        @Templates(Model)
        return;
    }
    var active = Model.FirstOrDefault(m => m.IsActive);
    var selectFirstTab = active == null || !active.IsMasterPage;
}
<div class="bcms-innertab-header" style="background:white;">
    <a class="bcms-tab @(selectFirstTab ? "bcms-tab-active" : string.Empty)" data-name="#bcms-tab-a">Templates</a>
    <a class="bcms-tab @(!selectFirstTab ? "bcms-tab-active" : string.Empty)" data-name="#bcms-tab-b">Master Pages</a>
</div>
<div id="bcms-tab-a" class="bcms-tab-single" style="display: @(selectFirstTab ? "block" : "none");padding-top: 15px;">
    @Templates(Model.Where(m => !m.IsMasterPage).ToList())
</div>
<div id="bcms-tab-b" class="bcms-tab-single" style="display: @(!selectFirstTab ? "block" : "none");padding-top: 15px;">
    @Templates(Model.Where(m => m.IsMasterPage).ToList())
</div>