@using BetterCms.Module.Root.Content.Resources
@model IList<BetterCms.Module.Pages.ViewModels.Page.TemplateViewModel> 
@helper Templates(IList<BetterCms.Module.Pages.ViewModels.Page.TemplateViewModel> model)
{
    if (model != null && model.Count > 0)
    {
        @Html.Raw("<div class=\"bcms-grid-holder\">")

        for (var i = 0; i < model.Count; i++)
        {
            if (i % 3 == 0 && i != 0)
            {
                @Html.Raw("</div>")
                @Html.Raw("<div class=\"bcms-grid-holder\">")
            }

            @Html.Partial("Partial/Template", model[i])
        }

        @Html.Raw("</div>")
    }
    else
    {
        <p>@Html.Raw(RootGlobalization.Message_NoItemToSelect)</p>
    }
}
@{
    var active = Model.FirstOrDefault(m => m.IsActive);
    var selectFirstTab = active == null || !active.IsMasterPage;
}
<div class="bcms-inner-tabs-holder">
    <div class="bcms-tab-header bcms-tab-header-inner">
        <a class="bcms-tab-item @(selectFirstTab ? "bcms-active" : string.Empty)" data-name="#bcms-tab-a">Templates</a>
        <a class="bcms-tab-item @(!selectFirstTab ? "bcms-active" : string.Empty)" data-name="#bcms-tab-b">Master Pages</a>
    </div>
    <div id="bcms-tab-a" class="bcms-tab-single" style="display: @(selectFirstTab ? "block" : "none");padding-top: 15px;">
        @Templates(Model.Where(m => !m.IsMasterPage).ToList())
    </div>
    <div id="bcms-tab-b" class="bcms-tab-single" style="display: @(!selectFirstTab ? "block" : "none");padding-top: 15px;">
        @Templates(Model.Where(m => m.IsMasterPage).ToList())
    </div>
</div>