@using BetterCms.Module.Root.Content.Resources
@using BetterCms.Module.Root.Mvc.Helpers

@model BetterCms.Module.Root.ViewModels.Shared.EditableGridViewModel

@Html.Partial(Model.TopBlockView, Model)

@if (Model.ShowMessages)
{
    @Html.SiteSettingsMessagesBox(null, new Dictionary<string, string> { { "data-bind", "attr: { id: messagesDomId() }" } })
}

@{
    var visibleColumns = Model.Columns.Where(c => c.IsRendered).ToList();
    var visibleColumnsCount = visibleColumns.Count;
}

<table class="bcms-tables">
    <thead>
        <tr>
            <th class="bcms-tables-nohover">&nbsp;</th>
            @foreach (var column in visibleColumns)
            {
                @Html.Partial(column.HeaderView, column)
            }
            <th class="bcms-tables-nohover" style="width: 145px;">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <!-- ko foreach: items -->
        <tr data-bind="click: onOpen, css: {'bcms-table-row-active' : isActive() || isSelectedForInsert()}, attr: {id: getRowId()}">
            <!-- ko if: saving() || deleting() -->
            @if (Model.CanEditItems)
            {
                <td class="bcms-tables-nohover">&nbsp;</td>
                <!-- ko if: saving() -->
                <td class="bcms-tables-nohover" colspan="@visibleColumnsCount">@RootGlobalization.Message_Saving</td>
                <!-- /ko -->
            }
            @if (Model.CanEditItems)
            {
                <td class="bcms-tables-nohover" style="width: 145px;">&nbsp;</td>
                <!-- ko if: deleting() -->
                <td class="bcms-tables-nohover" colspan="@visibleColumnsCount">@RootGlobalization.Message_Deleting</td>
                <!-- /ko -->
            }
            <!-- /ko -->
            
            <!-- ko ifnot: saving() || deleting() -->
            @if (Model.CanEditItems)
            {
                <td>
                    <!-- ko if: !editingIsDisabled() -->
                    <a class="bcms-icn-edit" data-bind="click: onEdit">@RootGlobalization.Button_Edit</a>
                    <!-- /ko -->
                </td>
            }
            else
            {
                <td>&nbsp;</td>
            }
            @foreach (var column in visibleColumns)
            {
                @Html.Partial(column.CellView, column)
            }
            <td>
                @if (Model.CanDeleteItems)
                {
                    <!-- ko if: !isActive() && !deletingIsDisabled() -->
                    <a class="bcms-icn-delete" data-bind="click: onDelete">@RootGlobalization.Button_Delete</a>
                    <!-- /ko -->
                }
                @if (Model.CanEditItems)
                {
                    <!-- ko if: isActive() -->
                    <div class="bcms-btn-small" data-bind="click: onSave">@Model.SaveButtonTitle</div>
                    <div class="bcms-btn-links-small" data-bind="click: onCancelEdit">@RootGlobalization.Button_Cancel</div>
                    <!-- /ko -->
                }
                @if (!Model.CanDeleteItems && !Model.CanEditItems)
                {
                    @:&nbsp;
                }
                
            </td>
            <!-- /ko -->
        </tr>
        <!-- /ko -->
        <!-- ko if: items().length == 0 -->
        <tr>
            <td colspan="@(visibleColumnsCount + 2)"><span class="bcms-table-no-data">@RootGlobalization.Grid_NoDataAvailable_Message</span></td>
        </tr>
        <!-- /ko -->
    </tbody>
</table>

@if (Model.AddHiddenFields)
{
    <!-- ko foreach: items -->
        foreach (var column in Model.Columns)
        {
            if (!string.IsNullOrWhiteSpace(column.HiddenFieldName))
            {
                <input type="hidden" name="" value="" data-bind="valueBinder: @(column.ValueBind)
                    , attr: {name: hiddenFieldName('@(column.HiddenFieldName)', $index()) }">
            }
        }
    <!-- /ko -->
}