@* --------------------------------------------------------------------------------------------------------------------
// <copyright file="Index.cshtml" company="Devbridge Group LLC">
// 
// Copyright (C) 2015,2016 Devbridge Group LLC
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
// 
// You should have received a copy of the GNU Lesser General Public License
// along with this program.  If not, see http://www.gnu.org/licenses/. 
// </copyright>
// 
// <summary>
// Better CMS is a publishing focused and developer friendly .NET open source CMS.
// 
// Website: https://www.bettercms.com 
// GitHub: https://github.com/devbridge/bettercms
// Email: info@bettercms.com
// </summary>
// -------------------------------------------------------------------------------------------------------------------- *@
@model BetterCms.Sandbox.Mvc4.Models.SitemapMenuViewModel

<h2>Obsolete <i>@(Model.LanguageCode ?? "default Language")</i> items:</h2>
@if (Model != null && Model.ObsoleteMenuItems != null)
{
    foreach (var item in Model.ObsoleteMenuItems)
    {
         @item.Caption <a href="@item.Url"><span>@item.Url</span></a> @(item.IsPublished ? "(Live)" : "")<br/>
    }
}

<h2>New <i>@(Model.LanguageCode ?? "default Language")</i> items:</h2>
@if (Model != null && Model.MenuItems != null)
{
    foreach (var item in Model.MenuItems)
    {
        @item.Caption <a href="@item.Url"><span>@item.Url</span></a> @(item.IsPublished ? "(Live)" : "")<br />
    }
}

@if (Model != null && Model.RenderIFrame && Model.LanguageCodes != null)
{
    foreach (var lang in Model.LanguageCodes)
    {
        <hr />
        <iframe style="padding: 0; overflow: auto; border: 0; width: 1000px; height: 200px;" src="http://bettercms.sandbox.mvc4.local.net/sandbox/SitemapMenu?languageCode=@(lang)"></iframe>
    }
}